.cts-removable-tag {
  display: inline-block;
  background-color: #f3f3f3;
  border: 1px solid #bdbdc2;
  margin: 0 5px 5px 0;

  &__button {
    width: 24px;
    appearance: none;
    border: 1px solid transparent;
    height: 24px;
    background: none;
    font-size: 14px;
    color: #666;
    padding: 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    &:hover,
    &:focus {
      border-right: 1px solid #bdbdc2;
      color: #333;
      background: #eee;
      font-weight: bold;
    }
  }
  &__label {
    padding: 0 10px 0 3px;
    line-height: 1.5;
    font-size: 16px;
  }
}
