<aside class="cgdp-related-resources">
  <h2 class="nci-heading-h3">{% trans %}Related Resources{% endtrans %}</h2>
  <ul class="usa-list usa-list--unstyled">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
</aside>
