<div id="nvcgRelatedResourcesArea">
	<div>
		<aside class="related-resources list">
      <h2 class="related-resources__heading">{% trans %}Related Resources{% endtrans %}</h2>
      <ul>
        {% for item in items %}
          {{ item.content }}
        {% endfor %}
      </ul>
    </aside>
	</div>
</div>
