{#
/**
 * @file
 * Theme override for HHS Syndication of Cancer Information Summaries.
 *
 * This is a stripped-down version of the body, restricted to the
 * information in the summary. The bundle and theme names are embedded
 * in the template's file name to ensure that this overriding template
 * is selected.
 */
#}

{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->

<h2 id="bodyTitle">{{ node.label }}</h2>
<div id="bodyContent">
    <div class="summaryPage">
        {{ content.field_summary_sections }}
    </div>
</div>
<div id="footer">
    {{ contentPageMacros.syndicationFooter(content) }}
</div>
