@import '~Core/styles/variables';
@import '~Core/styles/breakpoints';
@import '~Styles/sprites/svg-sprite';

.floating-delighter {
    position: fixed;
    top: 51%;
    right: 20px;
    z-index: 998;

  .floating-delighter__link {
    display: inline-flex;
    flex-direction: column;
    padding: 7px 10px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
}

.floating-delighter__icon, .floating-delighter__label {
  height: 50%;
  width: 100%;
}

.floating-delighter__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-delighter__label {
  text-align: center;
  font-size: 0.92em;
}

/* Extra Large Screens */
@include bp('(min-width:1770px)') {
  .floating-delighter {
    right: 10%;
  }
}

/* Tablet/Mobile styles */
@include bp(medium-down) {
  .floating-delighter {

  }
}


@include bp(small) {
  .floating-delighter {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    width: 50%;
    margin: 7px 0;
    padding: 0;

    .floating-delighter__link {
      flex-direction: row;
      align-items: center;
      width: 80%;
      max-width: 100%;
      height: 90%;
      padding: 12px 10px;
      border-radius: 0;
      border-radius: initial;
      margin: 0 auto;
      font-size: 1.2em;
      letter-spacing: 1.5px;
      font-weight: normal;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  .floating-delighter__icon {
    width: 25%;
    height: 100%;
    margin-right: 4px;
  }

  .floating-delighter__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    font-size: 0.8em;
    letter-spacing: 1px;
  }
}

@include bp(xtra-small) {
  .floating-delighter {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;


    .floating-delighter__link {
      width: 95%;
      height: auto;
    }
  }

  .floating-delighter__icon {
    flex-grow: 1;
    width: 23%;
    margin-right: 0;
  }

  .floating-delighter__label {
    flex-grow: 1;
    font-size: .9em;
  }

}

// 10/31/2017 hotfix to hide the feedback delighter upon launch of new survey tool
.results-delighter-rail,
.view-delighter-rail {
  .delighter.cts-feedback {
    display: none;
  }
}
