@import '~Core/styles/variables';
@import '~Core/styles/breakpoints';
@import '~Styles/sprites/svg-sprite';

.floating-delighter--social-media {
    .floating-delighter__link {
      background-color: #0D95A1;
      font-size: .9em;

      &:hover, &:focus, &:active {
        background-color:#0b8590;
        text-decoration: none;
      }
    }

    .floating-delighter__icon {

      &::after {
        content: '';
        @include svg-sprite(social-calendar);

        @include bp(small) {
          font-size: .7em;
        }
      }
    }

    .floating-delighter__label {
      @include bp(xtra-small) {
        font-size: 14px;
      }
    }
  }
