{# Figure out why there is a block element being rendered #}
{# Is there some legacy magic that is removing majority of the block rendered HTML? #}
<div class="cgdp-public-use">
  {{ content }}
</div>
