{% if content %}
  <!-- FOOTER -->
  <footer class="site-footer">
    <div id="nvcgSlFooter">
      <div class="slot-item only-SI">
        {{ content }}
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
{% endif %}
