# One of the Configuration Management team members must approve pull requests
# into any protected branch in this project.
* @nciocpl/config-mgmt
## The site code should not be controlled by config-mgmt
/docroot/profiles/custom/cgov_site/
/docroot/modules/custom/
