// TODO: Can we delete?
// main published path
$path: "/profiles/custom/cgov_site/themes/custom/cgov/static/";


/* images */
$images: $path + "images/";
$designelements: $images + "design-elements/";

$backgrounds: $designelements + "background-graphics/";
$bodybanners: $designelements + "body-banners/";
$buttons: $designelements + "buttons/";
$css: $designelements + "css/";
$footers: $designelements + "footers/";
$headers: $designelements + "headers/";
$icons: $designelements + "icons/";
$jswidgets: $designelements + "js-widgets/";
$logos: $designelements + "logos/";
$minibanner: $designelements + "minibanner/";
$socialmedia: $designelements + "social-media/";


/* fonts */
$fonts: $path + "fonts/";
