parameters:
  level: 2
  paths:
    - docroot/modules/custom
    - docroot/profiles/custom
    - docroot/themes/custom
  excludePaths:
    - */tests/fixtures/*.php
    - */settings*.php
    - */node_modules/*
    ## The following paths should be removed as each module is remediated
    ### cgov_site Profile Modules
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_application_page/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_blog/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_cancer_research/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_embedded_block/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_event/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_file/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_home_landing/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_infographic/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_list/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_redirect_manager/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_schema_org/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_site_section/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_syndication/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_vocab_manager/*
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_yaml_content/*
    - docroot/profiles/custom/cgov_site/modules/custom/pdq_cancer_information_summary/*
    - docroot/profiles/custom/cgov_site/modules/custom/pdq_core/*
    - docroot/profiles/custom/cgov_site/modules/custom/pdq_drug_information_summary/*
    - docroot/profiles/custom/cgov_site/modules/custom/pdq_glossifier/*
  ignoreErrors:
    ## NOTE: Each rule needs reportUnmatched so that PHPStan does not report unmatched rules
    ## as an error. However we do want to flag when people do unessesary ignores in doc comments,
    ## so we will only report unmatched here.
    -
      ## See changelog https://www.drupal.org/node/3159012 for whatever mess you want to call
      ## supporting multiple versions of Symfony. Basically our code is correct, it is just
      ## that we need the new version of symfony to be correct, which means when we update to
      ## D10, we should be able to remove this line. The odd thing is the problem is in
      ## Symfony, and in Symfony 5.0 fixes the inheritance chain.
      message: "#Call to deprecated method stopPropagation\\(\\) of class Symfony\\\\Component\\\\EventDispatcher\\\\Event#"
      reportUnmatched: false
    -
      ## This is the Drupal pattern for creating instances of plugins
      message: "#Unsafe usage of new static\\(\\)#"
      reportUnmatched: false
    -
      ## This is dangerous, but ignore complains about magic properties of fields, which is common.
      ## This allows us to do $entity->field_somefield->property where property is not "value".
      ## it also allows us to do $entity->get('field_somefield')->property where property is not "value".
      ## See https://github.com/mglaman/phpstan-drupal/issues/147#issuecomment-760893993
      message: "#Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\:\\:#"
      reportUnmatched: false
    -
      ## Ignoring a deprecation with PHPUnit 9.6 that does not have a replacement. The fix will most likely
      ## to be rewriting the test cases, which will be out of scope for the Drupal 10 upgrade.
      ## See https://github.com/NCIOCPL/cgov-digital-platform/issues/3945
      message: "#Call to deprecated method withConsecutive\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationMocker.#"
      reportUnmatched: false
#    -
      ## This is dangerous, but ignore complains about magic properties of fields, which is common.
      ## This allows us to do $entity->field_somefield->property where property is not "value".
      ## it also allows us to do $entity->get('field_somefield')->property where property is not "value".
      ## See https://github.com/mglaman/phpstan-drupal/issues/147#issuecomment-760893993
#      message: "#Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:#"
#      reportUnmatched: false
#    -
      ## This is dangerous, but ignore complains about magic properties of fields, which is common.
      ## This allows us to do $entity->field_somefield->property where property is not "value".
      ## it also allows us to do $entity->get('field_somefield')->property where property is not "value".
      ## See https://github.com/mglaman/phpstan-drupal/issues/147#issuecomment-760893993
#      message: "#Access to an undefined property Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:#"
#      reportUnmatched: false
#    -
      ## This is dangerous, but ignore complains about magic properties of fields, which is common.
      ## This allows us to do $entity->field_somefield->property where property is not "value".
      ## it also allows us to do $entity->get('field_somefield')->property where property is not "value".
      ## See https://github.com/mglaman/phpstan-drupal/issues/147#issuecomment-760893993
#      message: "#Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:#"
#      reportUnmatched: false
