parameters:
  level: 2
  drupal:
    entityMapping:
      redirect:
        class: Drupal\redirect\Entity\Redirect
        storage: Drupal\Core\Entity\ContentEntityStorageInterface
  paths:
    - docroot/modules/custom
    - docroot/profiles/custom
    - docroot/themes/custom
  excludePaths:
    - */tests/fixtures/*.php
    - */settings*.php
    - */node_modules/*
    ## The following paths should be removed as each module is remediated
    ### custom modules
    ### cgov_site Profile Modules
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/cgov_core.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/CgovConfigOverrider.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/CgovCoreTools.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Controller/CgovMediaController.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/NavItem.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Plugin/Block/Breadcrumb.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Plugin/Block/DisqusComments.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Plugin/Block/MainNav.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Plugin/Block/SectionNav.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_core/src/Services/CgovNavigationManager.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_event/src/Controller/ICalendarController.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_home_landing/cgov_home_landing.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_image/cgov_image.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_infographic/cgov_infographic.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_list/cgov_list.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_mail/src/Controller/MailAPIController.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_schema_org/cgov_schema_org.module
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_schema_org/src/Plugin/Field/FieldType/CgovSchemaOrgFieldItem.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_schema_org/src/Plugin/Field/FieldWidget/CgovSchemaOrgWidget.php
    - docroot/profiles/custom/cgov_site/modules/custom/cgov_site_section/src/Controller/CgovMegaMenuController.php
      # To be remediated as part of https://github.com/nciocpl/cgov-digital-platform/issues/4815
    - docroot/profiles/custom/cgov_site/modules/custom/pdq_cancer_information_summary/src/OrphanCleanup.php

  ignoreErrors:
    ## NOTE: Each rule needs reportUnmatched so that PHPStan does not report unmatched rules
    ## as an error. However we do want to flag when people do unessesary ignores in doc comments,
    ## so we will only report unmatched here.
    -
      ## This is the Drupal pattern for creating instances of plugins
      message: "#Unsafe usage of new static\\(\\)#"
      reportUnmatched: false
    -
      ## This is dangerous, but ignore complains about magic properties of fields, which is common.
      ## This allows us to do $entity->field_somefield->property where property is not "value".
      ## it also allows us to do $entity->get('field_somefield')->property where property is not "value".
      ## See https://github.com/mglaman/phpstan-drupal/issues/147#issuecomment-760893993
      message: "#Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\:\\:#"
      reportUnmatched: false
    -
      ## Ignoring a deprecation with PHPUnit 9.6 that does not have a replacement. The fix will most likely
      ## to be rewriting the test cases, which will be out of scope for the Drupal 10 upgrade.
      ## See https://github.com/NCIOCPL/cgov-digital-platform/issues/3945
      message: "#Call to deprecated method withConsecutive\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationMocker.#"
      reportUnmatched: false
    -
      ## This ignore sucks. However claimItem only returns an object, it
      ## should probably return an interface, or something else, but it
      ## does not. We have no way of saying an object has random properties.
      ## So we are going to just ignore instead until Drupal 12 or 13 fixes
      ## it.
      message: "#Cannot access property \\$data on object\\|true.#"
      path: docroot/profiles/custom/cgov_site/modules/custom/cgov_redirect_manager/cgov_redirect_manager.module
      reportUnmatched: true
    -
      ## This ignore is for the deprecated CacheDecoratorInterface module.
      message: "#Class Drupal\\\\app_module\\\\AppPathManager implements deprecated interface#"
      path: docroot/modules/custom/app_module/src/AppPathManager.php
      reportUnmatched: false
    -
      ## This ignore is for the deprecated CacheDecoratorInterface module.
      message: "#Class Drupal\\\\cgov_core\\\\NciPrimaryNavCacheContext implements deprecated interface#"
      reportUnmatched: false
    -
      ## This ignore is for the deprecated CacheDecoratorInterface module.
      message: "#Usage of deprecated trait Symfony\\\\Component\\\\DependencyInjection\\\\ContainerAwareTrait in class#"
      reportUnmatched: false

    ## With php 8.2+, various magic properties are reported as errors; that aren't reported with php 8.1.
    ## phpstan complains when a line is marked to be ignored but doesn't cause an error, so we have
    ## to ignore them here and make appropriate changes when we get to php 8.4 / Drupal 11.
    -
      message: "#Access to an undefined property Drupal\\\\path_alias\\\\PathAliasInterface::\\$original.#"
      reportUnmatched: false
      paths:
        - docroot/modules/custom/app_module/src/AppPathManager.php
    -
      message: "#Access to an undefined property Drupal\\\\node\\\\NodeInterface::\\$moderation_state.#"
      reportUnmatched: false
      paths:
        - docroot/profiles/custom/cgov_site/modules/custom/pdq_core/src/Plugin/rest/resource/PDQResource.php
    -
      # This is for the specific weirdness in CgovVocabManagerForm.php where properties are set in
      # loadTermsByStubs() that are not part of TermInterface.
      message: "#Access to an undefined property Drupal\\\\taxonomy\\\\TermInterface::\\$(parents|depth)#"
      reportUnmatched: false
      paths:
        - docroot/profiles/custom/cgov_site/modules/custom/cgov_vocab_manager/src/Form/CgovVocabManagerForm.php
