<div class="ic-carousel">
  {% if content.field_carousel_image_title|field_value %}
    <div class="row">
      <div aria-labelledby="{{ content.field_carousel_image_title['#items'][0].value | striptags | nci_transliterate | clean_id }}" class="ic-carousel-title">
        <span class="ic-carousel-title__heading" id="{{ content.field_carousel_image_title['#items'][0].value | striptags | nci_transliterate | clean_id }}">{{ content.field_carousel_image_title }}</span>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="slider">
      {{ content.field_carousel_images }}
    </div>
  </div>
</div>
