@import '~Core/styles/breakpoints';
@import '~Core/styles/colors';
@import '~Styles/sprites/svg-sprite';
/* COMMON for all page options */
.page-options {
	margin: 1em 0;
	font-size: 16px;

	ul {
		margin: 0;
		background: transparent;
		white-space: nowrap;
		display: flex;
		align-items: center;
	}
	li {
		display: inline-block;
		margin: 0;
		&:before {
			content: none !important;
			display: none !important;
		}
	}

	a {
		&:before {
			content: '';
		}
	}
  .page-options--resize a::before {
    @include svg-sprite(font-size-blue);
  }
	.page-options--print a::before {
		@include svg-sprite(printer-blue);
	}
	.page-options--email a::before {
		@include svg-sprite(mail-envelope-closed-blue);
	}
	.social-share--facebook a::before {
		@include svg-sprite(facebook-blue);
	}
	.social-share--twitter a::before {
		@include svg-sprite(twitter-blue);
	}
	.social-share--pinterest a::before {
		@include svg-sprite(pinterest-blue);
	}

}

// Custom tweet button (not in the page options container - anywhere on the page)
a.social-share--custom-tweet {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	width: 166px;

	&::after {
		content: '';
		@include svg-sprite(tweet-this, mq);
	}
}

#blogPageOptionsInnerContainer {
	margin: 1em 0;
}


/* DESKTOP page options */
@include bp(large-up) {
	// apply homepage- and landing page-only styles
	.columns.page-options {
		top: 0;
		right: 0;
		position: static;
	}

	// apply CTHP-only styles
	.cthp-mobile.page-options {
		display: none;
	}

	// Apply styling for share icons on CTS Basic Search
	.page-options.cts-share {
		top: 0;
		position: relative;
		float: none;
	}

	.page-options {
		margin-top: 1.25em;
		float: right;
		position: absolute;
		top: -3.75em;
		right: 0.875em;

		ul {
			float: right;
		}

		li {
			margin: 0 0 0 0.675em;
		}
	}

	/* Blog pages template places the page options outside the normal container
	   To fix styling we simply need to reverse the top margin applied by the page-options class
	*/
	#blogPageOptionsOuterContainer {
		position: absolute;
		right: 0;
		top: 3.8em;

	}
}

/* MOBILE page options */
@include bp(medium-down) {
	.cthp-desktop.page-options {
		display: none;
	}

	.page-options {
		li {
			margin: 0 0.875em 0 0;
			width: 35px;
			height: 35px;
			background-color: $color-link;
			border-radius: 50%;

			a {
				position: relative;
				display: block;
				height: 100%;
				font-size: 91%;
				min-width: 35px;

				&::before {
					position: absolute;
					left: 50%;
					top: calc(50% + 1px);
					transform: translateX(-50%) translateY(-50%);
				}
			}


			&:hover {
				background-color: $lcranberry;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		.po-view-entire-document {
			display: none;
		}
		.page-options--resize {
			display: none;
		}
		.page-options--print {
			display: none;
		}
		.page-options--email a::before {
			@include svg-sprite(mail-envelope-closed-white, mq);
		}
		.social-share--facebook a::before {
			@include svg-sprite(facebook-white, mq);
			font-size: 22px;
		}
		.social-share--twitter a::before {
			@include svg-sprite(twitter-white, mq);
			font-size: 17px;
		}
		.social-share--pinterest a::before {
			@include svg-sprite(pinterest-white, mq);
			font-size: 120%;
		}
	}
}

@include bp(small) {

	#blogPageOptionsOuterContainer {
		// This is to hide some craziness where a margin is being applied to a script only block
		// because of how the page-options are being moved around.
		display: none;
	}

	.page-options-container {
		display: flex;
		align-items: center;
		clear: both;
		margin: 1em 0;
	}


	.page-options {
		width: auto;
		flex-grow: 1;
		margin: 0;

		li {
			margin: 0 3% 0 0;
		}
	}
}

// Expand the Social Media icons to full width at mobile
@include bp(xtra-small) {
	.page-options-container {
		flex-wrap: wrap;
	}

	.page-options {
		width: 100%;
		float: none;

		ul {
			justify-content: space-between;
		}

		li {
			width: 48px;
			height: 48px;
		}
	}
}

// font-resizer adds an extra element that creates an extra wrapper element that causes spacing issues
.resize-content {
	.page-options-container {
		@include bp(small) {
			width: calc(100% + 15px);
		}

		@include bp(xtra-small) {
			width: 100%;
		}
	}
}

// #1884 atone for the fact that .ncilandingpage and .ncihome landmarks are no longer here 
@include bp(medium) {
	.large-7 {
		+ .page-options-container {
			ul { 
				float: right;
			}
		}
	}
}
