$path: "../";

/* images */
$images: $path + "Images/";
$designelements: $images + "design-elements/";

$backgrounds: $images + "background-graphics/";
$bodybanners: $images + "body-banners/";
$buttons: $images + "buttons/";
$css: $images + "css/";
$footers: $images + "footers/";
$headers: $images + "headers/";
$icons: $images + "icons/";
$jswidgets: $images + "js-widgets/";
$logos: $images + "logos/";
$minibanner: $images + "minibanner/";
$socialmedia: $icons;


/* fonts */
$fonts: $path + "fonts/";


