{#
/**
 * @file
 * Theme override to display article body field.
 *
 * This template handles a single section using a normal display,
 * and when there are multiple sections it displays the "On This
 * Page" navigation.
 */
#}
{# Draw the OTP if there is more than 1 section. #}
{% if items | length > 1 %}
  {# TODO: Find a way to ensure there will be at least 1 heading before drawing. #}
  <nav
    class="cgdp-on-this-page" role="navigation">
    {# See admin/config/regional/translate for Spanish string. #}
    <h2 class="cgdp-on-this-page__header">{% trans %}On This Page{% endtrans %}</h2>
    <ul>
      {% for item in items %}
        {% if item.content['#paragraph'].field_body_section_heading.value %}
          <li>
            <a
              href="#{{ item.content['#paragraph'].field_body_section_heading.value | striptags | nci_transliterate | clean_id }}">
              {# We have to apply the raw filter in order to render what is a simple format field as actual markup #}
              {{- item.content['#paragraph'].field_body_section_heading.value|raw -}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}

{# Draw the sections #}
{% set body_attribs = create_attribute({'class': ['cgdp-article-body']}) %}
{% if items | length > 1 %}
  {% set body_attribs = body_attribs.addClass('cgdp-article-body--multiple') %}
{% endif %}
  <div {{ body_attribs }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>

{# End of article body field #}
