{% import '@ncids_trans/cards/ncids_card_macros.twig' as cardMacros %}


{# ###### Setup Title ####### #}
{% set title = content.field_override_card_title|field_value %}

{# ####### Set description ###### #}
{% set description = content.field_override_card_description|field_value %}

{# ###### Setup URL ######## #}
{% set url = content.field_featured_url[0]['#url'] %}

{% set id = block_content.id()|clean_unique_id %}

<div class="cgdp-embed-card">
	<div class="nci-card">
		{{ cardMacros.ncidsImagelessCard(title, description, url, id, 'block_content', 'External') }}
	</div>
</div>
