{% import '@cgov_common/media/video/video_macros.twig' as videoMacros %}
<div class="multimedia-feature-card">
  {{ videoMacros.video(name, content, false) }}
  <p class="mmfc-video-caption">
    {{content.field_caption}}
  </p>
</div>
