{% set page_style = getHomeLandingStyle() %}
{% if (page_style == "ncids_without_title") or (page_style == "ncids_with_title") or (page_style == "ncids") %}
  {{- content -}}
{% else %}
  <div class="rawHtml">
    {{ content }}
  </div>
{% endif %}
