.search-location {
  .group-locations {
    padding: 0 1em;
  }
  
  &__country,
  &__zip {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    &.--country,
    &.--radius {
      margin-bottom: 1rem;
    }

    &.--city-and-state {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 1025px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &.--city,
    &.--state {
      width: auto;
      margin: 0;
      @media screen and (min-width: 1025px) {
        width: 100%;
      }
    }

    &.--state {
      @media screen and (min-width: 1025px) {
        margin-right: 1rem;
      }
    }
    
  }
}
