.search-location {
  .group-locations {
    padding-left: 1em;
  }
  &__block {
    margin: 0.5rem 0 1.5rem 2rem;

    .--two-col {
      @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        > div {
          flex: 1 1 50%;
        }
      }
    }

    .country{
      margin-bottom: 1rem;
    }

    .radius {
      margin-bottom: 1rem;
      @media screen and (min-width: 1025px) {
        margin-bottom: 0;
      }
    }

    .city,
    .state {
      width: auto;
      margin: 0;
      @media screen and (min-width: 1025px) {
        width: 100%;
      }
    }

    .state,
    .zip {
      @media screen and (min-width: 1025px) {
        margin-right: 1rem;
      }
    }
  }
}
