.highcharts-container {
  hr {
    margin:0
  }

  // Bugfix #3997/#4288 (Remove stray bullet added by legacy styling)
  .highcharts-a11y-proxy-group-legend, .highcharts-contextmenu {
    ul > li:before {
      content: "";
    }
  }
}

.highcharts-data-label,
.highcharts-point {
  cursor: pointer
}

@media only print {
  .highcharts-map-navigation,
  .highcharts-contextbutton {
    display: none
  }
  .highcharts-legend-item text {
    font-weight: normal !important
  }
}

@media only screen and (max-width: 768px) {
  #awards {
    .cgdpl {
      .clearfix:after,
      .clearfix:before {
        content: "";
        display: none;
      }
    }
  }
}
