.cts-toggle {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  min-height: 42px;
  padding: 0;
  text-align: left;
  box-sizing: content-box;

  &__input {
    position: absolute;
    left: -999em;

    &:focus,
    &:active {
        + .cts-toggle__label {
            border: 2px dotted #2b7bba;
        }
    }

    &:checked {
      + .cts-toggle__label{
          background: #accae1;
          &::before {
            left: calc(100% - 35px);
          }
          .pos {
              opacity: 1;
          }
          .neg {
              opacity: 0;
          }
      }
      
    }
  }

  &__label {
    display: inline-block;
    position: relative;
    height: 42px;
    width: 80px;
    background-color: #d8d9db;
    border-radius: 21px;
    border: 2px dotted transparent;
    transition: all 0.4s ease-out;
    line-height: 40px;
    font-weight: bold;

    &::before {
      display: inline-block;
      content: '';
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #2b7bba;
      position: absolute;
      top: 3px;
      left: 4px;
      transition: all 0.4s ease-out;
    }

    .neg,
    .pos {
      display: inline-block;
      padding: 0 4px;
      position: absolute;
      transition: all 0.25s ease-out;
    }

    .neg {
      text-align: right;
      right: 4px;
      opacity: 1;
    }
    .pos {
      text-align: left;
      left: 4px;
      opacity: 0;
    }
  }
}
