.trial-description-page {
  &__header {
    margin-bottom: 1em;
    h1 {
      line-height: 1.4;
    }
  }

  &__description {
    @media screen and (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__content {
    @media screen and (min-width: 1025px) {
      flex: 1 1 auto;
    }
  }

  &__aside {
    margin-bottom: 30px;
    @media screen and (min-width: 1025px) {
      flex: 0 0 24%;
      margin-left: 1%;
    }
  }

  .cts-accordion {
    margin: 1em 0;
  }

  .trial-ids {
    li {
      &::before {
        content: '';
        float: none;
        margin: 0;
      }
    }
    strong {
      margin-right: 10px;
    }
  }

  .cts-table {
    width: 100%;
    th,
    td {
      text-align: center;
    }
  }
}

.btnAsLink {
  font-weight: 700;
}
.location-city {
  margin-left: 20px;
  .location {
    margin-left: 20px;
  }
}

.location-state,
.location-province {
  margin-bottom: 1rem;
  h4 {
    margin-top: 0;
  }
  .location {
    > div {
      margin-top: 0;
    }
  }
}

.share-btn-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .icon {
    display: inline-block;
    background-image: url(https://www.cancer.gov/publishedcontent/images/images/design-elements/sprites/svg-sprite.__v15577802.svg);
    background-size: 12em 262.5em;
    font-size: 115%;
    margin-right: 6px;
    vertical-align: middle;
  }
  .share-btn {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    line-height: 3;
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 0 none;
    width: 47%;
    cursor: pointer;
  }
  .cts-share-email {
    background-color: #14819b;
    .icon-email {
      width: 1.5625em;
      height: 1em;
      background-position: 6.0241% 64.04494%;
    }
  }
  .cts-share-print {
    display: none;
    background-color: #24b2a1;

    @media screen and (min-width: 1025px) {
      display: inline-block;
    }
    .icon-print {
      width: 1.5625em;
      height: 1.3125em;
      background-position: 6.0241% 79.12877%;
    }
  }
}
