{% import '@ncids_trans/cards/ncids_card_macros.twig' as cardMacros %}


{# ###### Setup Title ####### #}
{% if content.field_card_title|field_value %}
  {% set title = content.field_card_title|field_value %}
{% else %}
  {% set title = content.field_browser_title|field_value %}
{% endif %}

{# ####### Set description ###### #}
{% set description = content.field_feature_card_description|field_value %}

{% set id = node.id()|clean_unique_id %}

<div class="cgdp-embed-card">
  <div class="nci-card">
    {{ cardMacros.ncidsImagelessCard(title, description, url, id, 'block_content', 'Internal') }}
  </div>
</div>
