{% for item in items %}
  {# TODO: Add an id for anchor, cgov uses the list title  #}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{- item.content -}}</h2>
    </div>
  </div>
{% endfor %}
