{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<div class="title-and-desc title desc container">
  <a class="title" href="{{ url }}">
    {{ label }}
  </a>
  <div class="description">
    <div class="date">{{ content.field_date_posted }}</div>
  </div>
</div>
