@import "~Core/styles/feature_cards";

// PDQ summary list styling ported from InnerPage.scss
.contentzone {
  .PDQ-list {
    padding-left: 0;

    li {
      background-image: none;
      margin-left: 0;
      padding-left: 0;

      &::before {
        content: none;
      }
    }

    ul {
      margin-left: 0;
      margin-top: 3px;
      padding-left: 20px;

      > li {
        display: inline;

        &::before {
          content: "|";
          float: none;
          padding-left: 20px;
          padding-right: 5px;
          top: 0;
        }

        &:first-child::before {
          content: none;
          display: none;
        }
      }
    }
  }
}
