{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {{ item.content }}
{% endif %}