<div id="nvcgSlHeroHeader" class="row hero-slot">
  {# Hero Banner Here #}
</div>

{# Title Row #}
<div class="row">
  {# TODO: Only print title if not homepage #}
  <div class="large-7 columns">
    <!-- PAGE TITLE -->
    <h1>{{ node.label }}</h1>
    <!-- END PAGE TITLE -->
  </div>
  {{ drupal_block('page_options') }}
</div>
{# End Title Row#}

<div id="nvcgSlBodyLayout" class="nvcgSlBodyLayout">
  {{content.field_landing_contents}}
</div>
