<div class="row paragraph-col-two flex-columns">
    <div class="large-8 columns card gutter">
      {{ content.field_main_contents }}
    </div>
    <div class="large-4 columns gutter accordion">
      {{ content.field_secondary_contents }}
    </div>
</div>
