// main published path
$path: "/profiles/custom/cgov_site/themes/custom/cgov/static/";


/* images */
$images: $path + "images/";
$designelements: $images + "design-elements/";

$backgrounds: $designelements + "background-graphics/";
$buttons: $designelements + "buttons/";
$icons: $designelements + "icons/";
$logos: $designelements + "logos/";
$jqueryui: $images + "jquery/";

/* fonts */
$fonts: $path + "fonts/";
