// main published path
$path: "/publishedcontent/";


/* images */
$images: $path + "images/images/";
$designelements: $images + "design-elements/";

$backgrounds: $designelements + "background-graphics/";
$buttons: $designelements + "buttons/";
$icons: $designelements + "icons/";
$logos: $designelements + "logos/";
$jqueryui: $images + "jquery/";

/* fonts */
$fonts: $path + "fonts/";
