# We assume a docroot/.gitignore could be added to the Drupal docroot which
# excludes files like sites/*/settings*.php. (This is not standard in D8; it was
# in D7.) The ACSF files must be included in the repository, so we explicitly
# make them visible here. In fact we will list all ACSF files here, just to make
# sure.
!.gitignore
!apc_rebuild.php
!services.yml
!settings.php
!SimpleRest.php
!sites.inc
