// This contains the NCIDS Settings and required items. Nothing in this
// file should generate markup.
@forward '../cgdp-required';

// Specific page styles
@forward '../../lib/components/cgdp-article-footer/';
@forward '../../lib/components/cgdp-article-footer-citation/';
@forward '../../lib/components/cgdp-related-resources';
@forward '../../lib/components/cgdp-document-dates';
@forward '../../lib/components/cgdp-public-use';
@forward '../../lib/components/cgdp-hhs-syndication';
@forward '../../lib/components/cgdp-field-image-article';
@forward '../../lib/components/wysiwyg/common/cgdp-embed-image';
@forward '../../lib/components/wysiwyg/common/cgdp-embed-infographic/';
@forward '../../lib/components/wysiwyg/common/cgdp-embed-video';
@forward '../../lib/components/wysiwyg/common/cgdp-embed-card/';
@forward '../../lib/components/wysiwyg/editors/ncids-full-html';

@forward '../../lib/components/cgdp-on-this-page';
@forward '../../lib/components/cgdp-article-body';

@use 'uswds-core' as *;


// Margin between accordion sections (8px)
.cgdp-article-body.usa-accordion {
	@include u-margin-top(3);
	section:not(:first-child) {
		@include u-margin-top(1);
	}
}
// Margin for butting related resources accordion
// directly up against article content accordion above it
.cgdp-article-footer {
	&:has(.usa-accordion) {
		@include u-margin-top(1);
	}
}
