{#
/**
 * @file
 * Overridden template for embedded images. We want to ensure
 * that the entity embed wrapper contains the class cgdp-embed-image
 * to get the assosiated styles.
 */
#}
{% set infographic_wrapper_classes = ['cgdp-embed-infographic','cgdp-embed-infographic--large'] %}
<div class="cgdp-embed-media-wrapper">
  <div{{ attributes.addClass(infographic_wrapper_classes) }}>{{ children }}</div>
</div>
