.cts-label {
  display: inline-block;
  line-height: 1.5;
  max-width: 30rem;
  font-weight: 500;

  &--error {
    display: block;
    font-weight: bold;
    margin-top: 0;
  }
  &--required {
    color: #b50909;
  }
}

.cts-hint {
    color:#71767a;
    font-size: .75em;
}