@charset "utf-8";

// This contains the NCIDS Settings and required items. Nothing in this
// file should generate markup.
@forward '../cgdp-required';

// This must be the first one after the required and nothing in between.
// This is the normalizer, font stuff, elements, accessibility.
@forward 'uswds-global';

/* -------------- Change below here  ------------------------ */
// Commenting this out for now as we don't want to generate utility
// classes. Past not generating them, IDK if there is a purpose for
// having this. Utility classes cost about 200K in CSS, we should
// just use the mixin functions ourselves.
//@import '@nciocpl/ncids-css/scss/packages/utilities'; // page options responsive display\

// The global NCIDS/USWDS packages that generate markup.
// We either don't need this, or we do.
//@import 'uswds/dist/scss/elements/typography/content'; // usa-prose, usa-intro(lede/lead)
@forward 'usa-layout-grid';
@forward 'nci-no-print'; //print styling

// The specific Component imports. Nothing in this list SHOULD reference
// NCIDS or USWDS. It should come from ../../lib/components.
@forward 'usa-skipnav';
@forward '../../lib/components/usa-banner';
@forward '../../lib/components/usa-site-alert';
@forward '../../lib/components/usa-breadcrumb';
@forward '../../lib/components/usa-sidenav';
@forward '../../lib/components/cgdp-page-options';
@forward '../../lib/components/usa-footer';
@forward '../../lib//components/cgdp-video/';

// TODO Keep as last import for now, there is a ordering bug
@forward '../../lib/components/nci-header';

// This is global typography and body content styling. The following imports
// are from the uswds-typography package, however we will comment out the
// ones we do not thing should be global.
@forward "usa-content";
@forward "usa-dark-background";
@forward "usa-display";
// The intro styling seems silly here as we only use into on articles and
// blogs posts for the most part.
//@forward "usa-intro";
@forward "usa-link";
// List is actually already included with footer, however, we include it
// here in the event it is removed from the footer some day.
@forward "usa-list";
@forward "usa-paragraph";
@forward "usa-prose";
@forward "nci-heading";

@use 'uswds-core';

// We should not allow all the utilities we do for home and landing. There should
// not be as many bespoke layouts for inner pages.

// /* ------------------------------------------------------------------------- */
// /* Output select utility classes for raw html blocks                         */
// /* ------------------------------------------------------------------------- */
// uswds-core.$output-these-utilities: (
// 	'padding',
// 	'text-decoration',
// 	'box-shadow',
// 	'font',
// 	'background-color',
// 	'font-weight',
// 	'border-color',
// 	'line-height',
// 	'justify-content'
// );
// // Add aspect ALWAYS outputs no matter the settings. So let's make sure we get
// // the smallest possible aspect classes.
// uswds-core.$add-aspect-settings: (
// 	output: false,
// 	responsive: false,
// 	active: false,
// 	focus: false,
// 	hover: false,
// 	visited: false
// );
// uswds-core.$background-color-settings: (
// 	output: true,
// 	responsive: false,
// 	active: false,
// 	focus: false,
// 	hover: false,
// 	// Undo default
// 	visited: false
// );
// uswds-core.$box-shadow-settings: (
// 	output: true,
// 	responsive: false,
// 	active: false,
// 	focus: false,
// 	hover: false,
// 	// Undo default
// 	visited: false
// );
// uswds-core.$border-color-settings: (
// 	output: true,
// 	responsive: false,
// 	// Undo default
// 	active: false,
// 	focus: false,
// 	hover: false,
// 	// Undo default
// 	visited: false
// );
// uswds-core.$justify-content-settings: (
// 	output: true,
// 	responsive: true,
// 	// Undo default
// 	active: false,
// 	focus: false,
// 	hover: false,
// 	visited: false
// );

// @forward 'uswds-utilities';

/* ------------------------------------------------------------------------- */
/* End utility classes for raw html blocks                                   */
/* ------------------------------------------------------------------------- */
// We re-import core so that we do not need to namespace core for every call
// below.
@use 'uswds-core' as *;

.cgdp-public-use {
		// add styles for public use
		// margin top 0, padding 0, italics, font stuff
		clear: both;
		// add uswds mixin
		@include u-padding(0);
		@include u-margin-top(0);
		@include u-border-top(1px, $theme-color-base);
		p {
			@include u-line-height('body', 3);
		}
}

.cgdp-related-resources {
	// Verify with design what the actual tokens should be
	@include u-margin-bottom(2);
	@include u-margin-top(5);
	ul {
		@include u-margin-top(1);
		li {
			@include u-margin-y(0.5);
			a {
				// We can probably just add the classes to the anchor tag instead like we do for summary box
				@include u-text('no-underline');
			}
		}
	}
}

.cgdp-document-dates {
	ul > li {
		@include u-display('inline');

		&:before {
			content: "|";
			@include u-position('relative');
			@include u-display('inline');
			@include u-float('none');
			@include u-margin-y(0);
			@include u-margin-x(0.5);
			@include u-left(0);
			top: -0.1em;
			@include u-font('body', 2);
		}

		&:first-child:before {
			@include u-display('none');
		}
	}
	// add styles for document dates
	@include u-margin-top(3);

	// clearfix class on the ul has a marign-bottom of 16px. Do we still need this?
	@include u-margin-bottom(2);
}

.cgdp-article-footer-citation {
	ol {
		@include u-margin-bottom(2);
		@include u-padding(0);
		li {
			@include u-margin-left(5);
			@include u-margin-y(1);
			@include u-line-height('body', 3);
			p {
				@include u-display('inline');
			}
		}
	}
}
