@import "~Core/styles/variables";
@import "~Core/styles/mixins";
@import "~Core/styles/breakpoint-mixins";
@import "~Core/styles/blogs";
@import "~Core/styles/equalheights";

.card {
  padding: .9375em;
  margin-bottom: 1em;
  border: 1px solid $yetAnotherGrey;
  background-color: $white;
  box-shadow: 0 0 9px 1px rgba($black,.15);
}

.feature-card {

  h3 {
    margin-top: 0;
    font-weight: normal;
    color: $color-link;
    font-size: 0.95em;
    line-height: 1.272;
  }
  div {
    margin-bottom: 1em;
  }
  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
      .image-hover img {
        opacity: .8;
      }
    }
  }
  p {
    line-height: 1.375;
    font-size: 0.9em;
    color: #757575;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .image-hover {
		position: relative;
	}
  
}

#main {
  padding-left: 1.6em !important;
}

#cgov-blog-post-pagination {
  margin-top: 3em;
}

// #2179: there were some styles scoped specifically to embedded images.  Fixed so that styles are properly applied for all the embeddeds
.cgvblogpost {
  // wrapped specifically to this content type so that it doesn't cause side effects elsewhere on the site
  .embedded-entity{
    &.align-center,
      &.align-left,
      &.align-right {
        margin: 0 0 2.5em 0;
      }
  
    &.align-left {
      margin-right: 2.5em;
    }
  
    &.align-right {
      margin-left: 2.5em;
    }
  
    &.align-center {
      margin: 2.5em auto;
    }
  
    figure.image-medium {
      background-color: transparent;
    }
  } 
}

@include bp(medium-up) {
	// set width of blog intro text for tablet and desktop, depending on size of image
	.embedded-entity[data-entity-embed-display*="_medium"] + .blog-intro-text { 
		width: 60%;
	}
	.embedded-entity[data-entity-embed-display*="_small"] + .blog-intro-text {
		width: 75%;
	}
}

@include bp(large-up){
	.row.hero-slot {
		max-width: 1350px;
	}
	.row .large-4.gutter {
		width: 32%;
		margin-left: 2%;
	}
	.row .large-6.gutter {
		width: 48.5%;
		margin-left: 2%;
	}
	.row .gutter:first-child {
		margin-left: 0;
  }
  #PageOptionsControl1 {
    right: calc(-25% - 3.125em);
  }
  .contentzone:last-child {
    width:100%;
  }
}

@include bp(small) {
  // remove extra padding (used for intro text on desktop/tablet only)
  .cgvblogpost{
    .embedded-entity {
      float: none;
      margin: 0;
    }
  }
}