{% if content.field_external_link[0] %}

  {# ###### Setup Title ####### #}
  {% set title = content.field_override_title[0] %}

  {# Setup the URL #}
  {% set url = content.field_external_link[0]['#url'] %}

  <li class="general-list-item general list-item">
    <div class="title-and-desc title desc container">
      <a class="title" href="{{ url }}">{{title}}</a>
    </div><!-- end title & desc container -->
  </li>

{% endif %}
