<li class="general-list-item general list-item">
  <div class="title-and-desc title desc container">
    <a class="title" href="/publications/pdq/information-summaries/adult-treatment">PDQ® Cancer Information Summaries: Adult Treatment</a>
  </div><!-- end title & desc container -->
</li>
