{#
/**
 * @file
 * Theme override for Article Body Section.
 *
 * This outputs the paragraph content and should only just render
 * the contents of the block. The parent will dictate is the OTP
 * nav displays - based on the wrapping container.
 */
#}
{% set field_body_section_heading_eng =  content.field_body_section_heading['#items'][0].value|replace({'Š':'S', 'š':'s', 'Ž':'Z', 'ž':'z', 'À':'A', 'Á':'A', 'Â':'A', 'Ã':'A', 'Ä':'A', 'Å':'A', 'Æ':'A', 'Ç':'C', 'È':'E', 'É':'E','Ê':'E', 'Ë':'E', 'Ì':'I', 'Í':'I', 'Î':'I', 'Ï':'I', 'Ñ':'N', 'Ò':'O', 'Ó':'O', 'Ô':'O', 'Õ':'O', 'Ö':'O', 'Ø':'O', 'Ù':'U','Ú':'U', 'Û':'U', 'Ü':'U', 'Ý':'Y', 'Þ':'B', 'ß':'Ss', 'à':'a', 'á':'a', 'â':'a', 'ã':'a', 'ä':'a', 'å':'a', 'æ':'a', 'ç':'c','è':'e', 'é':'e', 'ê':'e', 'ë':'e', 'ì':'i', 'í':'i', 'î':'i', 'ï':'i', 'ð':'o', 'ñ':'n', 'ò':'o', 'ó':'o', 'ô':'o', 'õ':'o','ö':'o', 'ø':'o', 'ù':'u', 'ú':'u', 'û':'u', 'ý':'y', 'þ':'b', 'ÿ':'y' })%}

{% if content.field_body_section_heading['#items'].getValue() %}
  {# TODO: Determine how to deal with headings that are H3s #}
  {# Set the id to a clean version of the section heading for OTP links. #}
  {% if schema_org_type %}
    <h2 id="{{ field_body_section_heading_eng | striptags | clean_id }}" itemprop="name">
  {% else %}
    <h2 id="{{ field_body_section_heading_eng | striptags | clean_id }}">
  {% endif %}
    {{- content.field_body_section_heading -}}
  </h2>
{% endif %}
{% if schema_org_type %}
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div itemprop="text">
{% endif %}
{{ content.field_body_section_content }}
{% if schema_org_type %}
    </div>
  </div>
{% endif %}
