// File is empty in preperation for the DS package bump.
// After the DS package bump for the accordion and combo box
// we will add in the imports for the styling and JS.
@forward "../cgdp-required";
@use 'uswds-core';
@forward "usa-summary-box";
@forward "usa-accordion";
@forward "usa-combo-box";
@forward "usa-error-message";
@forward "./components/cgdp-find-a-cancer-type";
uswds-core.$output-these-utilities: (
	'text-decoration',
	'margin-horizontal',
	'align-items',
	'display',
	'max-width',
);
uswds-core.$margin-settings: (
	output: true,
	responsive: false,
	active: false,
	focus: false,
	hover: false,
	visited: false
);
@forward 'uswds-utilities';
