;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

; Allow NPM to run as root without trying to change user accounts.
unsafe-perm=true
