@import "~Core/styles/variables";
@import "~Core/styles/mixins";
@import "~Core/styles/breakpoints";
@import "~Core/styles/blogs";

.page-options-container {
  position: absolute;
  right: 0;
  top: 3.8em;
}

#main {
  padding-left: 1.6em !important;
}

.list.dynamic {
  .title-and-desc {
    // I wish we were using BEM
    a.title {
      font-size: 1.5em;
    }
    a {
      font-size: 16px;
    }
  }
}

