{{ attach_library('ncids_trans/mini-landing') }}
<article>

  <!-- Banner Area -->
  {{content.field_banner_image}}
  <!-- End Banner Area -->

  <div class="resize-content">

    <!-- PAGE TITLE -->
    <h1>{{ node.label }}</h1>
    <!-- END PAGE TITLE -->

    <!-- Contents -->
    {{content.field_landing_contents}}
    <!-- End Contents -->

  </div>
</article>
