<!-- Begin MAIN CONTENT AREA -->
<div class="usa-section usa-section--cgdp-no-bottom" data-eddl-landing-row>
  <h1 class="nci-heading-h1">{{ node.label }}</h1>
</div>
{{content.field_landing_contents}}
