<aside class="usa-section" data-eddl-landing-row>
  <div class="usa-summary-box cgdp-summary-box">
    <div class="usa-summary-box__body">
      {{ content.field_container_heading_wysiwyg }}
      {{ content.field_html_content }}
    </div>
  </div>
</aside>
