<div class="usa-prose">
  <div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information">
    <div class="usa-summary-box__body">
      <div class="usa-summary-box__heading" id="summary-box-key-information">
        {{ paragraph.field_content_heading.value }}
      </div>
      <div class="usa-summary-box__text">
        {{ content.field_html_content }}
      </div>
    </div>
  </div>
</div>
