{% if paragraph.field_heading_visibility.value == 'sr-only' %}
  {% set show_heading = false %}
{% else %}
  {% set show_heading = true %}
{% endif %}

<div class="usa-section" data-eddl-landing-row>
  {% set heading_classes = "nci-heading-h2 padding-bottom-2" %}
  {% if not show_heading %}
    {% set heading_classes = "#{heading_classes} usa-sr-only" %}
  {% endif %}
  <h2 class="{{heading_classes}}">{{ content.field_container_heading }}</h2>
  <ul class="cgdp-flag-card-group">
    {{ content.field_row_cards_unlimited }}
  </ul>
</div>
