{% if content %}
  <div class="usa-section" data-eddl-landing-row>
    <div class="usa-prose usa-prose--cgdp-streamlined-wysiwyg cgdp-landing-content-block">
      {{ content }}
    </div>
  </div>
{% endif %}
