########
## Based on Lullabot Images
version: "3.7"

services:

  web:
    volumes:
      ## VS Code
      - ./web/overrides/php-conf/xdebug.vscode.ini:/etc/php/7.2/mods-available/xdebug.ini
      ## PHP STORM
      - ./web/overrides/php-conf/xdebug.phpstorm.ini:/etc/php/7.2/mods-available/xdebug.ini
