## Space delimited list of VHOST names to attach to the apache config.
## This is needed for a multi-site configuration.
## Example:
##   APACHE_SITE_ALIAS=docker.test myfirstsite.test myothersite.test
APACHE_SITE_ALIAS=www.devbox microsite.devbox simpletest

## The docroot, which overrides the default container. Don't change this.
APACHE_DOCROOT_DIR=/var/www/docroot

## My sql configuration
MYSQL_ROOT_PASSWORD=badpass
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal
## Additional databases here -- this is for multisite
ADDITIONAL_DATABASES=drupal_www simpletest

## PHP Environment Vars
PHP_UPLOAD_MAX_FILESIZE=1G
PHP_MAX_INPUT_VARS=1G

## Additional configs
## PHP SAPI modes that should enable the XDebug module
## choices are 'none', 'cli', 'apache2', 'all'
XDEBUG_SAPI=none

## SimpleTest configuration
SIMPLETEST_BASE_URL=http://simpletest
SIMPLETEST_DB=mysql://drupal:drupal@db/simpletest
