{#
/**
 * @file
 * Overridden template for embedded images. We want to ensure
 * that the entity embed wrapper contains the class cgdp-embed-image
 * to get the assosiated styles.
 */
#}
{% set video_wrapper_classes = ['cgdp-embed-video','cgdp-embed-video--medium'] %}
<div class="cgdp-embed-media-wrapper">
  <div{{ attributes.addClass(video_wrapper_classes) }}>{{ children }}</div>
</div>
