.cts-autocomplete {
  position: relative;

  &__menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    top: 65px;
    width: 100%;
    z-index: 10;
    overflow: auto;
    max-height: 280px;

    &-item {
      line-height: 2.5em;
      padding: 0 0.5em;

      &.highlighted {
        background: #286ea7;
        font-weight: bold;
        color: white;
      }
    }
  }
}

.cts-chip-list {
  background: white;
  border: 1px solid #bdbdc2;
  padding: 0 2px;
  box-shadow: inset 0 2px 4px 0 hsla(240, 4%, 95%, 0.05);
  margin-bottom: 1em;
  
  .cts-input {
    border: 0;
    display: inline-block;
    width: 270px;
    margin-bottom: 0;
  }
}
