{% for item in items %}
    <a href="http://www.twitter.com/{{- item.content -}}" class="profile-social-link twitter no-exit-notification">
        <i class="icon" aria-hidden="true"></i>
        <span class="show-for-sr">Follow me on Twitter</span>
    </a>
{% endfor %}