<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
    <div class="resize-content">
        <h1>
            {{ node.label }}
        </h1>
    </div>
</article>
