{% if items|length > 0 %}
<nav class="on-this-page" role="navigation">
  <span class="on-this-page__header">{% trans %}On This Page{% endtrans %}</span>
  <ul>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
</nav>
{% endif %}
