<div class="cgdp-blog-categories">
  <div class="usa-summary-box">
    <div class="usa-summary-box__body">
      <div class="usa-summary-box__heading">{% trans %}Categories{% endtrans %}</div>
      <div class="usa-summary-box__text">
        {{ content }}
      </div>
    </div>
  </div>
</div>
