{% set catch_cache = content|render %}
{% set has_prev = content['#cgov_block_data'].prev_nid is not empty %}
{% set has_next = content['#cgov_block_data'].next_nid is not empty %}

{% if has_prev or has_next %}
<div class="cgdp-blog-post-pager">

  {% if has_prev %}
    <div class='cgdp-blog-post-pager--older'>
      <a class="usa-link" href="{{ content['#cgov_block_data'].prev_link }}">&lt; {% trans %}Older Post{% endtrans %}</a>
      <p><i>{{ content['#cgov_block_data'].prev_title }}</i></p>
    </div>
  {% endif %}

  {% if has_next %}
    <div class='cgdp-blog-post-pager--newer'>
      <a class="usa-link" href="{{ content['#cgov_block_data'].next_link }}">{% trans %}Newer Post{% endtrans %} &gt;</a>
      <p><i>{{ content['#cgov_block_data'].next_title }}</i></p>
    </div>
  {% endif %}

</div>
{% endif %}
