<!-- ********************************* BEGIN Main Blog Page Layout Region ********************************** -->
<div class="cgdpl desktop:grid-col-9">
  <main id="main-content" class="contentzone">
    {{ content.first }}
  </main>
  {# Other page options probably goes here -- cgdpl may conflict. #}
</div>
<!-- ********************************* END Main Blog Page Layout Region ********************************** -->

<!-- ********************************* BEGIN Blog Page Right Rail ********************************** -->
<div class="cgdpl desktop:grid-col-3">
  <div id="nvcgSlListBlogRTRail" class="right-rail">
    {{ content.second }}
  </div>
</div>
<!-- ********************************* END Blog Page Right Rail ********************************** -->
