{# 
 # Draw Older/Newer Posts links on Blog Series page.
 # The placement of older->next and newer->previous is correct, as the
 # posts are listed in descending order.
 #}
<div class="blog-pager clearfix">
  {% if(items.next) %}
    <a class="older" href="{{ items.next.href }}">&lt; {{ items.next.text }}</a>
  {% endif %}
  {% if(items.previous) %}
    <a class="newer" href="{{ items.previous.href }}">{{ items.previous.text }} &gt;</a>
  {% endif %}
</div>
