.trial-status-indicator {
  display: inline-block;
  border: 2px solid #7f3187;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #606060;
  border-color: #606060;

  &.active {
    color: #2dc799;
    border-color: #2dc799;
  }

  &.invite {
    color: #82368c;
    border-color: #82368c;
  }

  &.closed {
    color: #bb0e3d;
    border-color: #bb0e3d;
  }

  &.not-active {
    color: #606060;
    border-color: #606060;
  }
}
