// We need our tokens and other theme settings included in a single import
// since we will need to require these things elsewhere. Nothing that
// generates markup should go in this file.
$theme-image-path: 'uswds/dist/img';

// Prototype widescreen
$theme-banner-max-width: 'widescreen';
$theme-footer-max-width: 'widescreen';
$theme-header-max-width: 'widescreen';
$theme-identifier-max-width: 'widescreen';
$theme-site-alert-max-width: 'widescreen';
$theme-grid-container-max-width: 'widescreen';
$theme-site-margins-breakpoint: 'widescreen';

@import '@nciocpl/ncids-css/scss/packages/required';
