// We need our tokens and other theme settings included in a single import
// since we will need to require these things elsewhere. Nothing that
// generates markup should go in this file.
//$theme-image-path: 'uswds/dist/img';
//@import '@nciocpl/ncids-css/scss/packages/required';

// tokens to search for in code
//$theme-link-color: '';
//$theme-text-color: '';
//$theme-link-hover-color: '';
@use "uswds-core" with (
	$theme-image-path: "@nciocpl/ncids-css/uswds-img",
	//$theme-font-path: "@nciocpl/ncids-css/",
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
	$theme-utility-breakpoints: (
		"card": false,
		"card-lg": false,
		"mobile": false,
		"mobile-lg": true,
		"tablet": true,
		"tablet-lg": true,
		"desktop": true,
		"desktop-lg": false,
		"widescreen": true
	)
);
@use "uswds-global";

//@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
//@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap);
//@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
