{#
  This template removes the wrapping div added by the Views module.
 #}
{% if attributes.class is defined and 'views-element-container' in attributes.class %}
  {{ children }}
{% else %}
  {%
    set classes = [
      has_parent ? 'js-form-wrapper',
      has_parent ? 'form-wrapper',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>{{ children }}</div>
{% endif %}
