<li>
  <a href="{{ url }}">
    {%- if node.field_cthp_card_title.value -%}
      {{- content.field_cthp_card_title -}}
    {%- else -%}
      {{- content.field_browser_title -}}
    {%- endif -%}
  </a>
</li>
