<div class="equalheight bgWhite {{ content.field_cthp_card_theme|field_value }}">
  <h2 style="">{{ content.field_cthp_card_title}}</h2>
  <div>
    <div class="rawHtml">
      <div class="cardBody">
        {{ content.field_html_content }}
      </div>
    </div>
  </div>
</div>
