<div class="equalheight bgWhite {{ content.field_cthp_card_theme|field_value }}">
  <h2 style="">{{ content.field_cthp_card_title}}</h2>
  <div class="cardBody">
    {{ content.field_cthp_research_page }}
  </div>
</div>
