{#
 # NOTE: Feature cards can be used in other places (embedded in wysiwyg).
 # In those instances however, the embed supplies its own wrapper around
 # the <div class="feature-card"> rendered by the "template".
 #}
{% for item in items %}
  <div class="slot-item equalheight large-4 columns card gutter">
    {{ item.content }}
  </div>
{% endfor %}