{# Title Row #}
<div class="text-center padding-y-6">
    {% set hr_attribs = create_attribute({}) %}
    <h1 {{hr_attribs}}>{{ node.label }}</h1>
</div>
{# End Title Row#}
{{content.field_landing_contents}}

