<div class="usa-section usa-section--light" data-eddl-landing-row>
	<div class="cgdp-inline-video" data-eddl-landing-item="inline_video">
		<div class="grid-container">
			{{ content }}
		</div>
	</div>
</div>
