<a aria-label="{{ paragraph.field_button_alt.value }}"
   class="usa-button usa-button--outline usa-button--secondary"
   data-eddl-landing-item-link-type="External"
   href="{{ paragraph.field_external_link.uri }}">
  {{ paragraph.field_button_text.value }}
</a>
