<div class="usa-section usa-section--light" data-eddl-landing-row>
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="tablet-lg:grid-col-8 ncids-column" data-eddl-landing-row-col>
        {{ content.field_main_contents }}
      </div>
      <div class="tablet-lg:grid-col-4 ncids-column" data-eddl-landing-row-col>
        {{ content.field_secondary_contents }}
      </div>
    </div>
  </div>
</div>
