{% if (content.field_image_desc_guide_cards['#items']|length > 0) %}
  <section class="usa-section cgdp-guide-card-row">
    <div class="grid-container">
      <div class="nci-title-aligned-card-group">
        {{ content.field_image_desc_guide_cards }}
      </div>
    </div>
  </section>
{% endif %}
