{% if (content.field_ncids_feature_cards['#items']|length > 0) %}
   {{ content.field_container_header }}
   <div class="row ncids-feature-cards flex-columns">
     {{ content.field_ncids_feature_cards }}
   </div>
 {% endif %}