<section class="usa-section usa-section--dark">
    <div class="grid-container">
        <ul class="nci-cta-strip">
            {{ content.field_cta_link_buttons }}
        </ul>
    </div>
</section>
