
{% if paragraph.field_button_alt.value %}
    {% set ariaAttribs = create_attribute({
        'aria-label': paragraph.field_button_alt.value
    })
    %}
{% endif %}
<a href="{{ paragraph.field_external_link.uri }}" {{ ariaAttribs }} class="usa-button" data-eddl-landing-item-link-type="External">
    {{ paragraph.field_button_text.value }}
</a>
