<a href="{{ paragraph.field_external_link.uri }}" alt="{{ paragraph.field_button_alt.value }}" class="usa-button usa-button--outline usa-button--secondary">
    {{ paragraph.field_button_text.value }}
</a>