$svg-icons: (
  //sprite.svg needs fingerprint
  sprite: (
      width: 192px,
      height: 4113px,
      padding: 10px,
      svgPath: '/publishedcontent/images/images/design-elements/sprites/svg-sprite.svg'
  ),
    amazon-white: (
      width: 27px,
      height: 24.720999999999997px,
      relativeX: 0%,
      relativeY: 0%,
      positionX: 0px,
      positionY: 0px,
      outerWidth: 47px,
      outerHeight: 44.721px
    ),
    api-icon: (
      width: 67px,
      height: 67.001px,
      relativeX: 0%,
      relativeY: 1.11774%,
      positionX: 0px,
      positionY: -45px,
      outerWidth: 87px,
      outerHeight: 87.001px
    ),
    book: (
      width: 36px,
      height: 26.869999999999997px,
      relativeX: 0%,
      relativeY: 3.27092%,
      positionX: 0px,
      positionY: -133px,
      outerWidth: 56px,
      outerHeight: 46.87px
    ),
    calendar-blue: (
      width: 20px,
      height: 22px,
      relativeX: 0%,
      relativeY: 4.42152%,
      positionX: 0px,
      positionY: -180px,
      outerWidth: 40px,
      outerHeight: 42px
    ),
    checklist-large: (
      width: 112px,
      height: 112px,
      relativeX: 0%,
      relativeY: 5.57649%,
      positionX: 0px,
      positionY: -222px,
      outerWidth: 132px,
      outerHeight: 132px
    ),
    checkmark-blue: (
      width: 16px,
      height: 16px,
      relativeX: 0%,
      relativeY: 8.68286%,
      positionX: 0px,
      positionY: -354px,
      outerWidth: 36px,
      outerHeight: 36px
    ),
    checkmark-small-blue: (
      width: 16px,
      height: 16px,
      relativeX: 0%,
      relativeY: 9.56586%,
      positionX: 0px,
      positionY: -390px,
      outerWidth: 36px,
      outerHeight: 36px
    ),
    chevron-black: (
      width: 20px,
      height: 12.5px,
      relativeX: 0%,
      relativeY: 10.4399%,
      positionX: 0px,
      positionY: -426px,
      outerWidth: 40px,
      outerHeight: 32.5px
    ),
    chevron-circle-cream: (
      width: 21px,
      height: 21px,
      relativeX: 0%,
      relativeY: 11.2721%,
      positionX: 0px,
      positionY: -459px,
      outerWidth: 41px,
      outerHeight: 41px
    ),
    chevron-circle-dk-blue: (
      width: 21px,
      height: 21px,
      relativeX: 0%,
      relativeY: 12.27898%,
      positionX: 0px,
      positionY: -500px,
      outerWidth: 41px,
      outerHeight: 41px
    ),
    chevron-circle-dk-blue-large: (
      width: 54px,
      height: 54px,
      relativeX: 0%,
      relativeY: 13.3944%,
      positionX: 0px,
      positionY: -541px,
      outerWidth: 74px,
      outerHeight: 74px
    ),
    chevron-circle-lt-blue: (
      width: 21px,
      height: 21px,
      relativeX: 0%,
      relativeY: 15.10314%,
      positionX: 0px,
      positionY: -615px,
      outerWidth: 41px,
      outerHeight: 41px
    ),
    chevron-circle-red: (
      width: 21px,
      height: 21px,
      relativeX: 0%,
      relativeY: 16.11002%,
      positionX: 0px,
      positionY: -656px,
      outerWidth: 41px,
      outerHeight: 41px
    ),
    chevron-circle-red-large: (
      width: 54px,
      height: 54px,
      relativeX: 0%,
      relativeY: 17.25675%,
      positionX: 0px,
      positionY: -697px,
      outerWidth: 74px,
      outerHeight: 74px
    ),
    chevron-circle-white: (
      width: 21px,
      height: 21px,
      relativeX: 0%,
      relativeY: 18.93418%,
      positionX: 0px,
      positionY: -771px,
      outerWidth: 41px,
      outerHeight: 41px
    ),
    chevron-circle-white-gradient: (
      width: 22px,
      height: 22px,
      relativeX: 0%,
      relativeY: 19.94596%,
      positionX: 0px,
      positionY: -812px,
      outerWidth: 42px,
      outerHeight: 42px
    ),
    chevron-dkblue: (
      width: 20px,
      height: 12.5px,
      relativeX: 0%,
      relativeY: 20.92881%,
      positionX: 0px,
      positionY: -854px,
      outerWidth: 40px,
      outerHeight: 32.5px
    ),
    chevron-lblue: (
      width: 20px,
      height: 12.5px,
      relativeX: 0%,
      relativeY: 21.73753%,
      positionX: 0px,
      positionY: -887px,
      outerWidth: 40px,
      outerHeight: 32.5px
    ),
    chevron-white: (
      width: 20px,
      height: 12.5px,
      relativeX: 0%,
      relativeY: 22.54626%,
      positionX: 0px,
      positionY: -920px,
      outerWidth: 40px,
      outerHeight: 32.5px
    ),
    close-blue: (
      width: 20px,
      height: 20px,
      relativeX: 0%,
      relativeY: 23.39799%,
      positionX: 0px,
      positionY: -953px,
      outerWidth: 40px,
      outerHeight: 40px
    ),
    close-gray: (
      width: 36px,
      height: 36px,
      relativeX: 0%,
      relativeY: 24.47621%,
      positionX: 0px,
      positionY: -993px,
      outerWidth: 56px,
      outerHeight: 56px
    ),
    comment-white: (
      width: 20px,
      height: 17.430999999999997px,
      relativeX: 0%,
      relativeY: 25.73874%,
      positionX: 0px,
      positionY: -1049px,
      outerWidth: 40px,
      outerHeight: 37.431px
    ),
    document-search-blue: (
      width: 16px,
      height: 21.833px,
      relativeX: 0%,
      relativeY: 26.69996%,
      positionX: 0px,
      positionY: -1087px,
      outerWidth: 36px,
      outerHeight: 41.833px
    ),
    embed-white: (
      width: 27px,
      height: 16.863999999999997px,
      relativeX: 0%,
      relativeY: 27.6978%,
      positionX: 0px,
      positionY: -1129px,
      outerWidth: 47px,
      outerHeight: 36.864px
    ),
    epub-white: (
      width: 19px,
      height: 27px,
      relativeX: 0%,
      relativeY: 28.67683%,
      positionX: 0px,
      positionY: -1166px,
      outerWidth: 39px,
      outerHeight: 47px
    ),
    external-link-blue: (
      width: 15.003px,
      height: 13px,
      relativeX: 0%,
      relativeY: 29.73039%,
      positionX: 0px,
      positionY: -1213px,
      outerWidth: 35.003px,
      outerHeight: 33px
    ),
    external-link-purple: (
      width: 34px,
      height: 29px,
      relativeX: 0%,
      relativeY: 30.65945%,
      positionX: 0px,
      positionY: -1246px,
      outerWidth: 54px,
      outerHeight: 49px
    ),
    facebook-blue: (
      width: 10px,
      height: 18px,
      relativeX: 0%,
      relativeY: 31.77914%,
      positionX: 0px,
      positionY: -1295px,
      outerWidth: 30px,
      outerHeight: 38px
    ),
    facebook-white: (
      width: 10px,
      height: 18px,
      relativeX: 0%,
      relativeY: 32.71166%,
      positionX: 0px,
      positionY: -1333px,
      outerWidth: 30px,
      outerHeight: 38px
    ),
    feedback-large: (
      width: 112px,
      height: 112px,
      relativeX: 0%,
      relativeY: 34.43858%,
      positionX: 0px,
      positionY: -1371px,
      outerWidth: 132px,
      outerHeight: 132px
    ),
    file-download-gray-o: (
      width: 20px,
      height: 23px,
      relativeX: 0%,
      relativeY: 36.92875%,
      positionX: 0px,
      positionY: -1503px,
      outerWidth: 40px,
      outerHeight: 43px
    ),
    file-ebook-gray: (
      width: 21px,
      height: 25.594px,
      relativeX: 0%,
      relativeY: 38.00948%,
      positionX: 0px,
      positionY: -1546px,
      outerWidth: 41px,
      outerHeight: 45.594px
    ),
    file-excel-gray: (
      width: 21px,
      height: 20.653px,
      relativeX: 0%,
      relativeY: 39.09294%,
      positionX: 0px,
      positionY: -1592px,
      outerWidth: 41px,
      outerHeight: 40.653px
    ),
    file-pdf-gray-o: (
      width: 19px,
      height: 22px,
      relativeX: 0%,
      relativeY: 40.11299%,
      positionX: 0px,
      positionY: -1633px,
      outerWidth: 39px,
      outerHeight: 42px
    ),
    file-pdf-gray-o-thick: (
      width: 20px,
      height: 23px,
      relativeX: 0%,
      relativeY: 41.15479%,
      positionX: 0px,
      positionY: -1675px,
      outerWidth: 40px,
      outerHeight: 43px
    ),
    file-pdf-white-o: (
      width: 19px,
      height: 22px,
      relativeX: 0%,
      relativeY: 42.20093%,
      positionX: 0px,
      positionY: -1718px,
      outerWidth: 39px,
      outerHeight: 42px
    ),
    file-pdf-white-o-thick: (
      width: 20px,
      height: 23px,
      relativeX: 0%,
      relativeY: 43.24324%,
      positionX: 0px,
      positionY: -1760px,
      outerWidth: 40px,
      outerHeight: 43px
    ),
    file-ppt-gray: (
      width: 21px,
      height: 20.003px,
      relativeX: 0%,
      relativeY: 44.26716%,
      positionX: 0px,
      positionY: -1803px,
      outerWidth: 41px,
      outerHeight: 40.003px
    ),
    file-word-gray: (
      width: 21px,
      height: 20px,
      relativeX: 0%,
      relativeY: 45.27375%,
      positionX: 0px,
      positionY: -1844px,
      outerWidth: 41px,
      outerHeight: 40px
    ),
    font-size-blue: (
      width: 24px,
      height: 17px,
      relativeX: 0%,
      relativeY: 46.22179%,
      positionX: 0px,
      positionY: -1884px,
      outerWidth: 44px,
      outerHeight: 37px
    ),
    gov-delivery-blue: (
      width: 24px,
      height: 24px,
      relativeX: 0%,
      relativeY: 47.21062%,
      positionX: 0px,
      positionY: -1921px,
      outerWidth: 44px,
      outerHeight: 44px
    ),
    gov-delivery-white: (
      width: 20px,
      height: 20px,
      relativeX: 0%,
      relativeY: 48.24454%,
      positionX: 0px,
      positionY: -1965px,
      outerWidth: 40px,
      outerHeight: 40px
    ),
    info: (
      width: 27px,
      height: 27px,
      relativeX: 0%,
      relativeY: 49.31136%,
      positionX: 0px,
      positionY: -2005px,
      outerWidth: 47px,
      outerHeight: 47px
    ),
    instagram-blue: (
      width: 20px,
      height: 20px,
      relativeX: 0%,
      relativeY: 50.38055%,
      positionX: 0px,
      positionY: -2052px,
      outerWidth: 40px,
      outerHeight: 40px
    ),
    instagram-white: (
      width: 20px,
      height: 20px,
      relativeX: 0%,
      relativeY: 51.36263%,
      positionX: 0px,
      positionY: -2092px,
      outerWidth: 40px,
      outerHeight: 40px
    ),
    lightbulb-circle-yellow: (
      width: 63px,
      height: 63px,
      relativeX: 0%,
      relativeY: 52.90323%,
      positionX: 0px,
      positionY: -2132px,
      outerWidth: 83px,
      outerHeight: 83px
    ),
    linkedin-blue: (
      width: 16px,
      height: 15px,
      relativeX: 0%,
      relativeY: 54.31584%,
      positionX: 0px,
      positionY: -2215px,
      outerWidth: 36px,
      outerHeight: 35px
    ),
    linkedin-white: (
      width: 16px,
      height: 15px,
      relativeX: 0%,
      relativeY: 55.1741%,
      positionX: 0px,
      positionY: -2250px,
      outerWidth: 36px,
      outerHeight: 35px
    ),
    live-help-logo: (
      width: 166px,
      height: 56px,
      relativeX: 0%,
      relativeY: 56.60144%,
      positionX: 0px,
      positionY: -2285px,
      outerWidth: 186px,
      outerHeight: 76px
    ),
    live-help-logo-spanish: (
      width: 166px,
      height: 74px,
      relativeX: 0%,
      relativeY: 58.74596%,
      positionX: 0px,
      positionY: -2361px,
      outerWidth: 186px,
      outerHeight: 94px
    ),
    live-help-person-large: (
      width: 112px,
      height: 112px,
      relativeX: 0%,
      relativeY: 61.66792%,
      positionX: 0px,
      positionY: -2455px,
      outerWidth: 132px,
      outerHeight: 132px
    ),
    mail-envelope-closed-blue: (
      width: 25px,
      height: 16px,
      relativeX: 0%,
      relativeY: 63.45352%,
      positionX: 0px,
      positionY: -2587px,
      outerWidth: 45px,
      outerHeight: 36px
    ),
    mail-envelope-closed-white: (
      width: 25px,
      height: 16px,
      relativeX: 0%,
      relativeY: 64.33652%,
      positionX: 0px,
      positionY: -2623px,
      outerWidth: 45px,
      outerHeight: 36px
    ),
    menu: (
      width: 27px,
      height: 20.009999999999998px,
      relativeX: 0%,
      relativeY: 65.28374%,
      positionX: 0px,
      positionY: -2659px,
      outerWidth: 47px,
      outerHeight: 40.01px
    ),
    menu-return-white: (
      width: 48px,
      height: 20.009999999999998px,
      relativeX: 0%,
      relativeY: 66.29037%,
      positionX: 0px,
      positionY: -2700px,
      outerWidth: 68px,
      outerHeight: 40.01px
    ),
    minus-box: (
      width: 38px,
      height: 38px,
      relativeX: 0%,
      relativeY: 67.59556%,
      positionX: 0px,
      positionY: -2741px,
      outerWidth: 58px,
      outerHeight: 58px
    ),
    minus-o-blue: (
      width: 22px,
      height: 22px,
      relativeX: 0%,
      relativeY: 68.75461%,
      positionX: 0px,
      positionY: -2799px,
      outerWidth: 42px,
      outerHeight: 42px
    ),
    modal-alert: (
      width: 87px,
      height: 87px,
      relativeX: 0%,
      relativeY: 70.91862%,
      positionX: 0px,
      positionY: -2841px,
      outerWidth: 107px,
      outerHeight: 107px
    ),
    newspaper-white: (
      width: 19px,
      height: 22px,
      relativeX: 0%,
      relativeY: 72.41464%,
      positionX: 0px,
      positionY: -2948px,
      outerWidth: 39px,
      outerHeight: 42px
    ),
    phone-white: (
      width: 15px,
      height: 14.999000000000002px,
      relativeX: 0%,
      relativeY: 73.32024%,
      positionX: 0px,
      positionY: -2990px,
      outerWidth: 35px,
      outerHeight: 34.999px
    ),
    pinterest-blue: (
      width: 16.85px,
      height: 21.14px,
      relativeX: 0%,
      relativeY: 74.29037%,
      positionX: 0px,
      positionY: -3025px,
      outerWidth: 36.85px,
      outerHeight: 41.14px
    ),
    pinterest-white: (
      width: 16.85px,
      height: 21.14px,
      relativeX: 0%,
      relativeY: 75.32184%,
      positionX: 0px,
      positionY: -3067px,
      outerWidth: 36.85px,
      outerHeight: 41.14px
    ),
    plus-box: (
      width: 38px,
      height: 38px,
      relativeX: 0%,
      relativeY: 76.67078%,
      positionX: 0px,
      positionY: -3109px,
      outerWidth: 58px,
      outerHeight: 58px
    ),
    plus-o-blue: (
      width: 22px,
      height: 22px,
      relativeX: 0%,
      relativeY: 77.79415%,
      positionX: 0px,
      positionY: -3167px,
      outerWidth: 42px,
      outerHeight: 42px
    ),
    printer-blue: (
      width: 25px,
      height: 21px,
      relativeX: 0%,
      relativeY: 78.80648%,
      positionX: 0px,
      positionY: -3209px,
      outerWidth: 45px,
      outerHeight: 41px
    ),
    printer-white: (
      width: 25px,
      height: 21px,
      relativeX: 0%,
      relativeY: 79.81336%,
      positionX: 0px,
      positionY: -3250px,
      outerWidth: 45px,
      outerHeight: 41px
    ),
    questionmark-large: (
      width: 112px,
      height: 112px,
      relativeX: 0%,
      relativeY: 82.66767%,
      positionX: 0px,
      positionY: -3291px,
      outerWidth: 132px,
      outerHeight: 132px
    ),
    rss-blue: (
      width: 20px,
      height: 20px,
      relativeX: 0%,
      relativeY: 84.04125%,
      positionX: 0px,
      positionY: -3423px,
      outerWidth: 40px,
      outerHeight: 40px
    ),
    rss-white: (
      width: 19px,
      height: 19px,
      relativeX: 0%,
      relativeY: 85.00245%,
      positionX: 0px,
      positionY: -3463px,
      outerWidth: 39px,
      outerHeight: 39px
    ),
    search: (
      width: 18.000999999999998px,
      height: 18.003px,
      relativeX: 0%,
      relativeY: 85.93871%,
      positionX: 0px,
      positionY: -3502px,
      outerWidth: 38.001px,
      outerHeight: 38.003px
    ),
    search-large: (
      width: 28px,
      height: 28px,
      relativeX: 0%,
      relativeY: 87.10947%,
      positionX: 0px,
      positionY: -3541px,
      outerWidth: 48px,
      outerHeight: 48px
    ),
    social-calendar: (
      width: 44px,
      height: 44px,
      relativeX: 0%,
      relativeY: 88.63917%,
      positionX: 0px,
      positionY: -3589px,
      outerWidth: 64px,
      outerHeight: 64px
    ),
    sortable-circle-ascending: (
      width: 24px,
      height: 24px,
      relativeX: 0%,
      relativeY: 89.77636%,
      positionX: 0px,
      positionY: -3653px,
      outerWidth: 44px,
      outerHeight: 44px
    ),
    sortable-circle-descending: (
      width: 24px,
      height: 24px,
      relativeX: 0%,
      relativeY: 90.8577%,
      positionX: 0px,
      positionY: -3697px,
      outerWidth: 44px,
      outerHeight: 44px
    ),
    sortable-circle-nosort: (
      width: 24px,
      height: 24px,
      relativeX: 0%,
      relativeY: 91.93905%,
      positionX: 0px,
      positionY: -3741px,
      outerWidth: 44px,
      outerHeight: 44px
    ),
    tweet-this: (
      width: 172px,
      height: 60.25px,
      relativeX: 0%,
      relativeY: 93.85655%,
      positionX: 0px,
      positionY: -3785px,
      outerWidth: 192px,
      outerHeight: 80.25px
    ),
    twitter-blue: (
      width: 21px,
      height: 17.525px,
      relativeX: 0%,
      relativeY: 94.86011%,
      positionX: 0px,
      positionY: -3866px,
      outerWidth: 41px,
      outerHeight: 37.525px
    ),
    twitter-white: (
      width: 21px,
      height: 17.525px,
      relativeX: 0%,
      relativeY: 95.79251%,
      positionX: 0px,
      positionY: -3904px,
      outerWidth: 41px,
      outerHeight: 37.525px
    ),
    undo-white: (
      width: 25px,
      height: 22px,
      relativeX: 0%,
      relativeY: 96.83125%,
      positionX: 0px,
      positionY: -3942px,
      outerWidth: 45px,
      outerHeight: 42px
    ),
    volume-up-blue: (
      width: 25px,
      height: 21px,
      relativeX: 0%,
      relativeY: 97.8389%,
      positionX: 0px,
      positionY: -3984px,
      outerWidth: 45px,
      outerHeight: 41px
    ),
    youtube-blue: (
      width: 20px,
      height: 23.766px,
      relativeX: 0%,
      relativeY: 98.91296%,
      positionX: 0px,
      positionY: -4025px,
      outerWidth: 40px,
      outerHeight: 43.766px
    ),
    youtube-white: (
      width: 20px,
      height: 23.766px,
      relativeX: 0%,
      relativeY: 99.99425%,
      positionX: 0px,
      positionY: -4069px,
      outerWidth: 40px,
      outerHeight: 43.766px
    ),
);