$svg-icons: (
  //sprite.svg needs fingerprint
  sprite: (
      width: 56px,
      height: 47px,
      padding: 10px,
      svgPath: '/publishedcontent/images/images/design-elements/sprites/svg-sprite.svg'
  ),
    book: (
      width: 36px,
      height: 26.869999999999997px,
      relativeX: 0%,
      relativeY: 0%,
      positionX: 0px,
      positionY: 0px,
      outerWidth: 56px,
      outerHeight: 46.87px
    ),
);