{#
  For anyone wondering why this is here and not just a rendering of the
  field_source_view, views currently do not allow translations of their
  things like the view more link. Title can be translated in the view
  configuration, but it is a pain to manage. So if we have to handle
  other fields, we might as well handle the title as well.
#}

<div class="cgdp-dynamic-list" data-eddl-landing-row>
  {{ content.field_list_title }}
  {{ content.field_source_view }}
  {# The view more link is TBD for now as the news-events page has a custom content block instead of the view more link #}
  {# {% set featured_item_node = content.field_view_more_link[0]["#node"] %}
  {% set nid = featured_item_node.id %} #}
  {% set url = path('entity.node.canonical', {'node' : content.field_view_more_link[0]['#plain_text']}) %}
  {% if content.field_view_more_text[0] and content.field_view_more_link[0] %}
    <div class="cgdp-dynamic-list__view-more-button padding-top-105">
      <a class="usa-button usa-button--nci-icon" href="{{ url }}">
        <svg viewBox="0 0 24 24" fill="none" width="24" height="24" class="usa-icon" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        {{ content.field_view_more_text }}
      </a>
    </div>
  {% endif %}
</div>
