{% if content %}
  <a id="section-menu-button" href="#">Section Menu</a>
  <div id="nvcgSlSectionNav" class="medium-3 columns local-navigation">
    <div class="slot-item only-SI">
      <div class="section-nav">
        <ul>
          {{ content }}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
