
<div class="contentid-113330 slot-item first-SI">
  <div class="navigation">
    <div class="mobile-menu-bar">
      <button type="button" class="open-panel nav-header menu-btn">Menu</button>
      <a href="/global/contact" class="nav-contact">Contact</a>
      <a href="/publications/dictionaries/cancer-terms" class="nav-dictionary">Dictionary</a>
      <button type="button" class="nav-search">Search</button>
    </div>
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
</div>
