@import "./variables";

$headingFontFamily: Poppins, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

p.event-location > span {
	display: block;
}
.event-list-item {

  .event-title__heading {
		display: block;
    font-family: $headingFontFamily;
    font-size: 20px;
		font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
		text-rendering: optimizeLegibility;
    a {
			font-weight: normal;
      &:hover {
        color: $lcranberry;
        text-decoration: none;
      }
    }
  }

  .event-series__heading {
		display: block;
    font-family: $headingFontFamily;
    font-size: 1.125rem;
		font-weight: bold;
    line-height: 1.333em;
		margin-bottom: 9px;
    margin-top: 18px;
		text-rendering: optimizeLegibility;
  }

  .event-description {
    margin-bottom: 20px;
		margin-top: 8px;
  }

}
