@import 'colors';
//$ncisprite: url($icons + "nci-sprite.png");

$siteSearchFormPadding: 6.5em;
$swKeywordFontSize: 1.375em;

/* Noto Sans */
$noto-font-stack: family('body');

/* Montserrat */
// This is for our heading and similar important elements font.
// This is really poppins under the hood, but let's pin it to
// heading.
$montserrat-font-stack: family('heading');

/* DIN */
$din-condensed-stack: "DIN Condensed", $montserrat-font-stack;
$din-regular-stack: "DIN Regular", $montserrat-font-stack;
