@use 'sass:math';

@mixin nav-item-spacing($nav-item-list, $nav-item-width-add, $nav-max-lines) {
  // calculate maximum number of lines
  @for $i from 1 through length($nav-item-list) {
    $nav-lines-tmp: map-get(nth($nav-item-list, $i), lines);
    @if ($nav-lines-tmp > $nav-max-lines) {
      $nav-max-lines: $nav-lines-tmp;
    }
  }

  $nav-desktop-breakpoints: ("large", "xtra-large");
  @for $i from 1 through length($nav-item-list) {
    &.item-#{$i} {
      $nav-item: nth($nav-item-list, $i);

      @for $bp from 1 through length($nav-desktop-breakpoints) {
        @include bp(nth($nav-desktop-breakpoints, $bp)) {
          width: nth(map-get($nav-item, width), $bp) +
            nth($nav-item-width-add, $bp);
        }
      }
      line-height: math.div($nav-max-lines, map-get($nav-item, lines)) + 0em;
    }
  }
}
