@import '~Core/styles/breakpoints';
// @import '~Core/styles/fonts';
@import '~Core/styles/variables';
@import '~Core/styles/colors';
@import '~Core/styles/mixins';

.nav-menu .nav-item {
	$nav-max-lines: 1;
	@mixin nav-item-spacing($nav-item-list, $nav-item-width-add) {
		// calculate maximum number of lines
		@for $i from 1 through length($nav-item-list) {
			$nav-lines-tmp: map-get(nth($nav-item-list, $i), lines);
			@if ($nav-lines-tmp > $nav-max-lines) {
				$nav-max-lines: $nav-lines-tmp;
			}
		}

		$nav-desktop-breakpoints: ('large', 'xtra-large');
		@for $i from 1 through length($nav-item-list) {
			&.item-#{$i} {
				$nav-item: nth($nav-item-list, $i);

				@for $bp from 1 through length($nav-desktop-breakpoints) {
					@include bp(nth($nav-desktop-breakpoints, $bp)) {
						width: nth(map-get($nav-item, width), $bp) + nth($nav-item-width-add, $bp);
					};
				}
				line-height: $nav-max-lines / map-get($nav-item, lines) + 0em;
			}
		}
	}

	html[lang="es"] & {
		$nav-item-list: (
			//(width:(bp1  , bp2  ), lines: # )
			( width: (102px, 124px), lines: 1 ),
			( width: (154px, 174px), lines: 1 ),
			( width: (136px, 157px), lines: 1 ),
			( width: (137px, 158px), lines: 2 ),
			( width: (89px,  111px), lines: 1 ),
			( width: (96px,  118px), lines: 2 )
		);
		$nav-item-width-add: (5.5px, 9px);

		@include nav-item-spacing($nav-item-list, $nav-item-width-add);
	}

	line-height: $nav-max-lines + 0em;
}

.nav-item > .nav-item-title > a {
	color: #fff;
	padding: 14px 1.39em 8px;
}


@include bp(large-up) {
	#nvcgSlMainNav {
		display: flex;

		.slot-item:first-of-type {
			width: 75%;
		}

		// All the weirdness from here down is to accomodate the different DOM structure on 404 pages
		// where the search is not a separate slot-item, unlike the rest of the site.
		.slot-item:not(:only-child):last-child {
			width: 25%;
		}

		.slot-item:only-child {
			display: flex;
			width: 100%;

			>div:first-child {
				width: 75%;
			}

			>div:nth-of-type(2) {
				width: 25%;
			}
		}
		// End weirdness
	}
	/* mega menu list */
	.nav-menu {
		display: flex;
		/* removing style to allow for full screen width mega menu
		position: relative; */
		list-style: none;
		margin: 0;
		padding: 0;
		z-index: 15;
	}

	/* a top level navigation item in the mega menu */
	.nav-menu .nav-item {
		flex-grow: 1;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.search {
		float: none;
		width: auto;
	}

	/* first descendant link within a top level navigation item */
	.nav-item > .nav-item-title > a {
		position: relative;
		width: 100%;
		min-height: 61px;
		display: inline-block;
		padding: 14px 7px 7.5px;
		margin: 0;
		background-color: rgba(255,255,255,0);
		border-bottom: 7px solid transparent;
		font-size: 14px;
		font-family: $montserrat-font-stack;
		text-transform: uppercase;
		text-align: center;
		-ms-transition: background-color .15s linear;
		transition: background-color .15s linear;
	}



	/* nav item spacing for breakpoints, decreasing spacing as screen gets smaller (desktop) */
	.nav-menu .level-1 {
		display: block;
	}
	// .nav-search-bar nav {
	// 	width: 75%;
	// 	float: left;
	// }
	.nav-menu .level-1 {
		display: none;
	}

	/* focus/open states of first descendant link within a top level navigation item */
	.nav-item > .nav-item-title > a:focus,
	.nav-item > .nav-item-title > a.open {
		background-color: #fff;
		color: #2f2f2f;
	}

	/* Active state for top level items when you are in that section of the site */
	.nav-item > .nav-item-title > a.active {
		background-color: #fff;
		/* the height of the border bottom (7px) is already set. Here we are only changing its color
		 * from transparent to teal. If the border height ever changes, it's changed in one place, not two.
		 */
		border-bottom-color: #14819b;
		color: #2f2f2f;
	}

	/* open state of first descendant link within a top level navigation item */
	.nav-item > .nav-item-title > a.open {
		/*
		background-color: #fff;
		border-bottom: none;
		*/
		z-index: 1;
	}

	/* sub-navigation panel */
	.sub-nav-mega {
		/* display mega menu over content */
		z-index: 999;
		position: absolute;
		/* make menu the width of the entire nav bar */
		left: 0;
		//padding: 0.5em 1em;
		border-bottom: 1px solid #dedede;
		@include box-shadow(0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4));
		border-top: none;
		background-color: #fff;
		width: 100%;
		max-height:0;
		opacity: 0;
		visibility: hidden;
		//@include transform(translateY(-15px));
		@include transition(all 500ms ease 100ms);
		overflow: hidden;

		/* sub-navigation panel open state */
		&.open {
			max-height:460px;
			opacity: 1;
			visibility: visible;
			transition-delay: 500ms;
			//@include transform(translateY(0));
		}
	}
	.no-csstransitions .sub-nav-mega {
		max-height:300px;
		overflow:hidden !important;
		visibility: visible;
	}
	.no-csstransitions .sub-nav-mega.open {
		opacity:0;
	}

	// if sub nav mega is empty, remove syling
	.empty-mega {
		background-color: transparent;
		padding: 0;
		border: 0;
	}

	/* allow mega menu to span full width of screen while keep menu items within limits of content */
	.sub-nav-group-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0.5em 1em;
	}


	/* list of items within sub-navigation panel */
	.sub-nav-mega ul {
		display: inline-block;
		vertical-align: top;
		margin: 0 3% 0 0;
		padding: 0;
		line-height: 1.1em;
	}

	/* make columns out of sub nav groups */
	.sub-nav-mega .sub-nav-group {
		width: 22%;
		/* using pixel value because we don't want this to change if user changes their default computer text size (no ems) */
		margin-bottom: 20px;
	}

	/* mega menu group headers (level 2) */
	.sub-nav-group-header {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		color: $color-link;
		display: block;
		font-family: $montserrat-font-stack;
		line-height: 19px;
	}
	/* sub nav group header hover color */
	.sub-nav-group-header:hover, .sub-nav-group-header:focus {
		color: #BB0E3D;
	}

	/* vertical line for Cancer Types menu */
	.cancer-types-border-container {
		.sub-nav-mega & { // to override '.sub-nav-mega .sub-nav-group' styling
			width: 66%;
			//margin-top:8px;
			border-right: 1px solid #000;
		}
		> li {
			margin-top:0;
			> ul {
				width: 100%/3 - 2%;
				margin-right: -4px;

				&:first-child {
					margin-right: 0px;
				}
			}
		}
	}

	/* mega menu group links (level 3) */
	.sub-nav-group ul li a {
		font-size: 14px;
		color: #2f2f2f;
		line-height: 17px;
	}
	.sub-nav-group ul li a:hover, .sub-nav-group ul li a:focus {
		text-decoration: underline;
	}

	/* remove scroll bar from megamenu
	.mega-menu-scroll {
		overflow-y: scroll;
	}
	*/
	html.windows .mega-menu-scroll .sub-nav-group-subwrapper {
		position:relative;
		left:10px;
	}

	/* list item within sub-navigation panel */
	.sub-nav-mega li {
		display: block;
		list-style-type: none;
		/* spacing between links */
		margin: 8px 0 0 0;
		padding: 0;
	}

	/* MegaMenu styles for side exits */
	nav .sub-nav-group-wrapper {
		max-width: 70em;
	}
	nav .sub-nav-group-subwrapper {
		max-width: 62.5em;
		margin: 0 auto;
	}
}

@include bp(xtra-large) {
	.row, nav .sub-nav-group-wrapper {
		max-width: 1200px;
	}
	/* MegaMenu styles for side exits */
		nav .sub-nav-group-wrapper {
		max-width: 90em;
	}
	nav .sub-nav-group-subwrapper {
		max-width: 75em;
		margin: 0 auto;
	}
}

@include bp(medium-down) {
	.nav-menu {
		/* clicked link state */
		 a:active {
			color: $white !important;
			background-color: $lcranberry;
		}
	}
}
