{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
