<nav aria-label="Secondary navigation example">
  <ul class="usa-sidenav usa-sidenav--nci-sidenav">
    <li class="usa-sidenav__item">
      <a href="#">Level 1</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="#" class="usa-current usa-current--nci-ancestor">Level 1</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="#" class="nci-has-children">Level 2</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#" class="usa-current usa-current--nci-ancestor">
            Level 2
          </a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="#" class="usa-current usa-current--nci-ancestor">
                Level 3
              </a>
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  <a href="#" class="usa-current usa-current--nci-ancestor">
                    Level 4
                  </a>
                  <ul class="usa-sidenav__sublist">
                    <li class="usa-sidenav__item">
                      <a
                        href="#"
                        class="usa-current usa-current--nci-ancestor"
                      >
                        Level 5
                      </a>
                      <ul class="usa-sidenav__sublist">
                        <li class="usa-sidenav__item">
                          <a href="#" class="usa-current">Level 6</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
