.search-criteria-table {
  .cts-table {
    width: 100%;
    th,
    td {
      padding: 0.5em;
      border: 0;
      &:first-child {
        width: 40%;
        text-align: right;
        font-weight: bold;
      }
    }
    thead {
        th {
            font-size: 16px;
        }
    }
    tbody {
      tr:nth-child(even) {
        th,
        td {
          background-color: #f9f9f9;
        }
      }
    }
  }
}
