.search-page {
  &__header {
    margin-bottom: 30px;
  }

  &__content {
    @media screen and (min-width: 1025px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__form {
    margin: 0 1% 30px 0;

    @media screen and (min-width: 1025px) {
      flex: 1 1 75%;
    }
  }
  &__aside {
    margin-bottom: 30px;
    @media screen and (min-width: 1025px) {
      flex: 0 0 24%;
      margin-left: 1%;
    }
  }
  &__footer {
    // the following will be available when it finally resides within the site
    .api-reference-section {
      @media screen and (min-width: 1025px) {
        width: 75%;
      }
      h3 {
        background-color: #319ebd;
        color: #fff;
        margin: 0;
        padding: 15px;
        border-bottom: 10px solid #167a94;
      }
      .api-reference-content {
        position: relative;
        padding: 25px 25px 25px 105px;
        background-color: #f3f3f3;
        min-height: 100px;
        margin: 0;
        font-size: 14px;

        &::before {
          content: '';
          position: absolute;
          width: 4.1875em;
          height: 4.18756em;
          background-position: 8.06452% 1.33107%;
          left: 2em;
          top: 23px;
          display: inline-block;
          background-image: url($imgPath+'/publishedcontent/images/images/design-elements/sprites/svg-sprite.__v15577802.svg');
          background-size: 12em 262.5em;
        }
      }
    }
  }
}

.cts-search-tip {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #bdbdc2;
  padding: 16px;
  margin-bottom: 1em;

  &__icon {
    width: 3.9375em;
    height: 3.9375em;
    background-position: 7.8125% 52.90135%;
    min-width: 3.9375em;
    display: inline-block;
    background-image: url($imgPath+'/publishedcontent/images/images/design-elements/sprites/svg-sprite.__v15577802.svg');
    background-size: 12em 262.5em;
  }
  &__body {
    padding-left: 1em;

    button {
      appearance: none;
      border: 0;
      padding: 0;
      font-size: 1em;
      color: #2b7bba;
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cts-delighter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media only screen and (min-width: 641px) {
    //tablet
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1025px) {
    //desktop
    flex-direction: column;
    justify-content: center;
  }
}

.submit-block {
  text-align: center;
  padding: 2em 0;
  .btn-submit {
    margin: 0 auto;
  }
}
