.cts-autocomplete__menu {
    &.--drugs {

        .cts-autocomplete__menu-item{
            padding: 10px 1em;
            font-size: .875em;
            color: #666;
            line-height: 1.4;
            &:not(:last-child){
                border-bottom: 2px dotted #ccc; 
            }
            &.highlighted {
                color: #fff;
            }
        }
        .preferredName{
            font-weight: bold;
        }
    }
} 