@use 'uswds-core' as *;
@use '../styles/breakpoint-mixins' as breakpoints;

.cgdp-embed-media-wrapper {
	max-width: unset;
	margin-top: unset;
}

.embedded-entity:not(.cgdp-embed-infographic),
.embedded-entity.cgdp-embed-feature-card {
		&[data-entity-embed-display*="image"]:not[data-entity-embed-display*='_feature_card'] {
    width: 100%;
  }
	margin-top: 0;
  @include breakpoints.break(medium) {
    margin-top: 0;
		margin-bottom: 2.5em;


    &.align-right {
      margin: 0 0 2.5em 2.5em;
    }

    &.align-left {
      margin: 0 2.5em 2.5em 0;
    }

    &.align-center {
      margin: 2.5em auto;
    }

    &[data-entity-embed-display*="_small"] {
      width: 25%;
    }

    &[data-entity-embed-display*="_medium"] {
      width: 40%;
    }

    &[data-entity-embed-display*="_large"] {
      width: 75%;
    }
  }

  // infographics rulesets
  &[data-entity-embed-display*="infographic_display_article_large"] {
    width: 100%;
  }
  &[data-entity-embed-display*="infographic_display_article_medium"] {
    width: 100%;
    @include breakpoints.break(tablet-ls){
      width: 40%;
    }
  }

  /* https://github.com/NCIOCPL/cgov-digital-platform/issues/1575
  This file should be refactored to scope all embedded entitiy rules to only the
  appropriate entity types. Like so. */
  &[data-entity-embed-display*="video"] {
    @include breakpoints.break(medium) {
      width: 100%;
    }

    @include breakpoints.break(large) {
      &[data-entity-embed-display*="_small"] {
        width: 45%;
      }

      &[data-entity-embed-display*="_medium"] {
        width: 70%;
      }

      &[data-entity-embed-display*="_large"] {
        width: 100%;
      }
    }
  }
}
