// Override .cgdpl paragraph styles for image caption
// These fonts are overridden by the cgdpl
// wrapper otherwise
.embedded-entity.cgdp-embed-image {
	@include u-margin-bottom(0);
}
.cgdp-image figure {
	@include u-margin(0);
}
.cgdp-image__caption {
	@include u-font('sans', '2xs');
	line-height: line-height($theme-body-font-family, $theme-body-line-height);
}
.cgdp-image__credit {
	@include u-font('sans', '3xs');
	@include u-margin-y(0);
	&:not(:only-child) {
		@include u-margin-top(1);
	}
}
.cgdp-image__credit:only-child() {
	@include u-margin-top(0);
}
.cgdp-image__enlarge {
	@include u-font('sans', '2xs');
	line-height: line-height($theme-body-font-family, $theme-body-line-height);
}

@mixin ImageAlignment() {
	margin-left: 0;
	margin-right: 0;
	&.align-right {
		margin: 0 0 2.5em 2.5em;
	}
	&.align-left {
		margin: 0 2.5em 2.5em 0;
	}
	&.align-center {
		margin: 2.5em auto;
	}
}

@media only screen and (min-width: 640px) {
	.embedded-entity.cgdp-embed-image {
		margin-bottom: 2.5em;
	}
	.embedded-entity[data-entity-embed-display*='image_display_article_large'] {
		width: 75% !important;
		@include ImageAlignment();
	}
	.embedded-entity[data-entity-embed-display*='image_display_article_medium'] {
		width: 40% !important;
		@include ImageAlignment();
	}
	.embedded-entity[data-entity-embed-display*='image_display_article_small'] {
		width: 25% !important;
		@include ImageAlignment();
	}
}
