$blue: #bce6db;
$yellow: #efef8c;
$navy: #183663;
$gray: #9e9e9e;

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

.feature {
  margin-top: 20px;

  color: $navy;
  //background-color: $blue;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6fbfb+0,bce6db+100 */

  .column {
    &:nth-child(1) {
      padding-left: 0;
    }
    &:nth-last-child(1) {
      padding-right: 0;
    }
    @include bp(small) {
      padding-left: 0;
      padding-right: 0;
    }

  }

  .video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;

    text-align: center;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .hero, .profiles, .columns {
    padding: 20px 20px 0;
  }

  .hero {
    box-shadow: none;

    margin-bottom: 0;
    padding-bottom: 1em;

    background: #f6fbfb; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f6fbfb 0%, #bce6db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f6fbfb 0%,#bce6db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f6fbfb 0%,#bce6db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fbfb', endColorstr='#bce6db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    @include bp(small) {
      .column {
        float: none;
        margin-bottom: 20px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .video {
      img {
        width: 100%;
      }
    }

    .columns {
      padding: 20px 0 0;

      @include bp('(max-width:680px)') {
        text-align: center;

        img {
          width: 100%;
        }
      }
      img {
        border: 5px solid #FFF;
      }
    }

    #brp-collage {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;

      img {
        width: 80%;

        @include bp(xtra-large) {
          width:90%;
        }
      }


    }

    .intro {
      margin-top: 20px;

      font-size: 14px;
      color: $navy;
    }

    .icons {
      clear: both;
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding-top: 20px;
      text-align: right;
      margin-right: -20px;
      z-index: 1;
      min-height: 300px;


      a {
        span {
          display: block;
          text-align: center;

          margin: -40px 28px 0 0;

          font: bold 16px 'Roboto Condensed', Arial, sans-serif;
          color: $navy;
        }
      }
    }
    @include bp(medium-up) {
      .video-wrapper {
        float: left;
        padding-right: 10px;
      }
      .intro {
        margin-top: 0;
      }
    }
    @include bp('(max-width:740px)') {
      #brp-collage {
        img {
          display: none;
        }
      }
      .icons {
        min-height: 0;
        justify-content: space-around;
      }
    }
  }

  .profiles {
    text-align: center;

    h3 {
      position: relative;
      z-index: 1;
      margin-top: 0;

      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      color: $navy;

      &:before {
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        z-index: -1;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        margin: 0 auto; /* this centers the line to the full width specified */
        border-top: 1px solid #FFF;
      }

      span {
        padding: 0 15px;
        /* to hide the lines from behind the text, you have to set the background color the same as the container */

        background-color: $blue;
      }
    }

    .profile {
      display: inline-block;
      margin: 0 4% 4%;

      span {
        display: block;
        margin-top: 10px;

        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .recommendations {
    > h4 {
      margin: 0;
      padding: 20px 0;

      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      color: $navy;
      background-color: #FFF;
      &:before, &:after {
        display: inline-block;
        content: '';
        border-width: 13.0px 7.5px 0 7.5px;
        border-style: solid;
        border-color: $navy transparent transparent transparent;
      }
      &:before {
        margin-right: 6px;
      }
      &:after {
        margin-left: 6px;
      }
    }
    p.title {
      margin-top: 0;
      font-weight: bold;
      color: #183663;
      font-size: 18px;
      line-height: 22px;
      @include bp(small) {
        margin-top: 10px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    .rec {
      padding-bottom: 20px;

      font-size: 14px;
      color: #000;
      &:nth-child(even) {
        background-color: $yellow;
        border-width: 0 1px;
        border-color: $blue;
        border-style: solid;
      }
      &:nth-child(odd) {
        background-color: $blue;
      }
      .video {
        padding-bottom: 28.125%;

        img {
          border: 1px solid $gray;
        }

        @include bp(small) {
          img {
            width: 100%;
          }
          padding-bottom: 56.25%;
        }
      }
    }
  }
}