// Color names can be found at http://www.color-hex.com/color-names.html
//Official NCI Color Palette Colors
// primary colors
$pelorous:     #319fbe;
$bluechill:    #0d95a1;
$jellybean:    #2a72a5;
$bluemine:     #1c5e86;
$lcranberry:   #BB0E3D;
$dovegray:     #706f6f;

// secondary accent colors
$shamrock:      #2DC799;
$butterflybush: #6254a3;
$purple:        #82368C;
$lorange:       #FF5F00;

// other colors - this list needs to be cleaned up
$red:       #C60F13;
$cranberry: #7F0A0C;
$orange:    #9C3303;
$cream:     #FCEFA1;
$lblue:     #CAE2F4;
$lseagreen: #24B2A1;
$teal:      #2BA6CB;
$dteal:     #14819b;
$dteal00:   #186e88;
$navyblue:  #286ea7;
$governorbay:#62539d;
$beige:     #FEFEFD;
$paleblue:  #F5FAFC;    // used for feature card background
$paleblue02: #bdbdc2;
$lightblue: #DBF2F8;    // used for Best Bets background

$default-text: #2E2E2E;
$white:     #FFFFFF;
$offwhite:  #FFFFFB;
$white01:   #F9F9F9;
$white02:   #F6F6F6;
$white03:   #F5F5F5;
$white04:   #F2F2F2;
$white05:   #E9E9E9;
$white06:   #E6E6E6;

$lgrey01:   #DDDDDD;
$lgrey02:   #D3D3D3;
$lgrey03:   #CCCCCC;

$grey00:    #ADADAD;
$grey01:    #AAAAAA;
$grey02:    #999999;
$grey03:    #939393;
$grey04:    #888888;
$yetAnotherGrey: #818181;
$grey05:    #7A7A7A;
$grey27:    #454545;

$dgrey00:   #606060;
$dgrey01:   #555555;
$dgrey02:   #333333;
$dgrey03:   #222222;

$black:     #000000;

$base00: $white;
$base01: $offwhite;

$highlight: $cranberry;
$color-link: #2b7bba;
$caption-background: $white03;

$youtubeRed: red;
$color-footer-bg: #123e57;

$modal-background: #445159;
