/******* BEGIN CONTENT-TEMPLATE STYLES ****************************************/

.hide {
    display: none;
}
/*
.shareBtn {
    color: $color-link;
    margin: 1.25em 0 0 2.4em;
    padding-left: 1.875em;
    background: url($buttons + "share_plus.png") no-repeat center left;
    cursor: pointer;
}
@include bp(medium-down){
	.shareBtn {
		margin-top: 0;
	}
}
.shareBtnOpen {
    color: $color-link;
    margin: 1.25em 0 0 2.4em;
    padding-left: 1.875em;
    background: url($buttons + "share_minus.png") no-repeat center left;
}
.shareWindow {
    background: url($backgrounds + "share_bg.png") no-repeat;
    padding: 1.2em 0 1.2em 1.2em;
    z-index: 14;
    position: absolute;
    margin-left: -2.8125em;
    width: 136px;
    height: 62px;
}
.shareWindow a {
    text-decoration: none;
}
*/
.section-head {
    float: left;
    width: 80%;
}
@include bp(medium-down){
	.section-head {
		float: none;
		width: 100%;
	}
}
.shareComponent {
    float: left;
    width: 20%;
}
@include bp(medium-down){
	.shareComponent {
		float: right;
		width: initial;
	}
}

/******* END CONTENT-TEMPLATE STYLES ***************************************/
