/******* BEGIN CONTENT-TEMPLATE STYLES ****************************************/

.hide {
    display: none;
}

.section-head {
    float: left;
    width: 80%;
}
@include bp(medium-down){
	.section-head {
		float: none;
		width: 100%;
	}
}

/******* END CONTENT-TEMPLATE STYLES ***************************************/
