/*
 * There are a few places where Drupal elements are displayed on the front-end
 * when a user is logged in. This file is to target those elements to ensure
 * they look as how UX wants them to look. (Either because our CSS is messing
 * them up, OR Drupal CSS is ignoring our overall styles.)
 */

// Fix Moderation-Sidebar Issues
#drupal-off-canvas {
  .moderation-sidebar-container {
    // P tags are inlined and the status information
    // runs into each other.
    .moderation-sidebar-info {
      p {
        display: block;
      }
    }

    .moderation-sidebar-link {
      -webkit-font-smoothing: subpixel-antialiased;
    }

    // Use www colors for the secondary task "buttons"
    .moderation-sidebar-secondary-tasks a {
      background: $teal;
    }
  }
}
