.flex-columns {
  display: flex;
  float: none;

  @include bp("(max-width: 765px)") {
    &.guide-card {
      display: inherit;
    }
  }

  @include bp(small) {
    &:not(.multimedia) {
      display: inherit;
    }
  }

}

@include bp(large-up) {
  .row {
    .gutter {
      margin-left: 2%;

      &:first-child {
        margin-left: 0;
      }

      &.large-6 {
        width: 48.5%;
      }

      &.large-4 {
        width: 32%;
      }
    }
  }
}
