// BEGIN 404 page redesign, NCISEO-280
.error-page {
	font-size: 1.125em;
  padding: 0 20px;

	.error-content {
    margin: 0 auto;

		div {
			padding: 0 0 10px;
			flex: 1;
    }

		h1 {
			font-size: 30px;
			line-height: 35px;
			margin-top: 1.4em;
    }
	}
}

.error-searchbar {
  margin-bottom: 1.25em;

  .searchString, button {
		display: inline-block;
  }

	.searchString {
		width: 270px;
		padding: 0 0 0 8px;
		margin-right: 5px;
  }

	form {
		padding: 0;
    margin-bottom: 0;

		legend {
			padding-left: 0;
			margin: 0 0 13px;
			background: transparent;
			font-size: inherit;
			float: none;
    }

		fieldset {
			margin-top: 0;
    }

		input {
			font-size: 16px;
    }

		input, button {
			margin-bottom: 0;
		}
  }

	.searchSubmit {
		width: 130px;
  }

	.choose-language-radio {
		margin-bottom: 15px;
  }

	.choose-language-radio label {
		margin-right: 30px;
	}
}

@media screen and (max-width: 641px) {
	.error-searchbar {
		.searchSubmit {
			display: block;
			margin: 5px 0 0;
			width: 270px;
		}
	}
}

@media screen and (max-width: 767px) {
	.error-page {
		.error-content-spanish h1 {
			margin-top: 0;
		}
  }

	.error-content div {
		padding-bottom: 0;
  }

	.error-searchbar {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.error-page {
		.error-content {
      display: flex;

			.error-content-english {
				padding-right: 40px;
      }

			.error-content-spanish {
				padding-left: 40px;
			}
		}
	}
}
