// BEGIN 404 page redesign, NCISEO-280
.error-page {
  font-size: 1.125em;
  padding: 0 20px;

  .error-content {
    margin: 0 auto;

    h1 {
      font-size: 1.75em;
    }
  }
}

.error-searchbar {
  margin-bottom: 1.25em;

  .searchString,
  button {
    display: inline-block;
  }

  .searchString {
    width: 270px;
    padding: 0 0 0 8px;
    margin-right: 5px;
  }

  form {
    padding: 0;
    margin-bottom: 0;

    legend {
      padding-left: 0;
      margin: 0 0 13px;
      background: transparent;
      font-size: inherit;
      float: none;
    }

    fieldset {
      margin-top: 0;
    }

    input {
      font-size: 16px;
    }

    input,
    button {
      margin-bottom: 0;
    }
  }

  .searchSubmit {
    display: block;
    margin: 5px 0 0;
    width: 270px;
  }

  .choose-language-radio {
    margin-bottom: 15px;

    label {
      margin-right: 30px;
    }
  }
}

@include bp(medium-up) {
  .error-content {
    h1 {
      margin-top: 0.58em;
    }
  }
  .error-searchbar {
    .searchSubmit {
      display: inline-block;
      margin: 0;
      width: 130px;
    }
  }
}
