/************** BEGIN Font Declarations ************************/

$static-font-path: "https://static.cancer.gov/fonts/";
$percussion-font-path: "/profiles/custom/cgov_site/themes/custom/cgov/static/fonts/";

@font-face {
	font-family: "Montserrat";
	src:url($percussion-font-path + "Montserrat-regular.eot?#iefix");
	src:url($percussion-font-path + "Montserrat-regular.eot?#iefix") format("eot"),
	url($percussion-font-path + "Montserrat-regular.woff") format("woff"),
	url($percussion-font-path + "Montserrat-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src:url($percussion-font-path + "Montserrat-700.eot?#iefix");
	src:url($percussion-font-path + "Montserrat-700.eot?#iefix") format("eot"),
	url($percussion-font-path + "Montserrat-700.woff") format("woff"),
	url($percussion-font-path + "Montserrat-700.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}


$din-font-path: $static-font-path + "FS-WebFonts/";

@font-face {
	font-family: "DIN Condensed";
	src:url($din-font-path + "1381346/ba8374b0-f3d8-4cc2-b782-8bf578b1950f.eot?#iefix");
	src:url($din-font-path + "1381346/ba8374b0-f3d8-4cc2-b782-8bf578b1950f.eot?#iefix") format("eot"),
		url($din-font-path + "1381346/54113791-74a1-4d34-a045-592d484e51b9.woff2") format("woff2"),
		url($din-font-path + "1381346/07e17e93-babd-4bce-bbde-cc2a88b4564a.woff") format("woff"),
		url($din-font-path + "1381346/5dc47294-657d-4a9d-b4f9-e26ea02bfb27.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family:"DIN Condensed";
	src:url($din-font-path + "5425816/4b974770-fdd2-4cb6-ab28-02f5000b83ff.eot?#iefix");
	src:url($din-font-path + "5425816/4b974770-fdd2-4cb6-ab28-02f5000b83ff.eot?#iefix") format("eot"),
		url($din-font-path + "5425816/84ab08ad-4ce4-454b-a247-bc639f5eacd7.woff2") format("woff2"),
		url($din-font-path + "5425816/c76f8a54-5ec1-4f2f-88e7-7a935ccbf62b.woff") format("woff"),
		url($din-font-path + "5425816/56633575-7acf-4dbd-94c9-5b013067b285.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family:"DIN Regular";
	src:url($din-font-path + "5426089/a397c752-ee83-47cf-b8a8-b476511dd2c9.eot?#iefix");
	src:url($din-font-path + "5426089/a397c752-ee83-47cf-b8a8-b476511dd2c9.eot?#iefix") format("eot"),
		url($din-font-path + "5426089/53fb9c60-2054-4c31-9283-5562244b4935.woff2") format("woff2"),
		url($din-font-path + "5426089/45831ca8-93bd-4808-aa5f-3c915944f727.woff") format("woff"),
		url($din-font-path + "5426089/429a3e29-88da-4603-94ff-c1450c089c88.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/********************* END Font Declarations ******************************************/
