
/********** BEGIN font resizer Styles ******************************************/
.no-resize {
font-size: initial !important;
}
.caption-container.no-resize {
	font-size: 14px !important;
	background-color: $caption-background;
	line-height: 1.5em;
}
.no-resize-pdq-section {
font-size: 13px !important; 
}
/********** END font resizer Styles ******************************************/