// Drupal admin toolbar
.toolbar-oriented .toolbar-bar {
	z-index: 1500;
}

/********************* BEGIN General Styles ******************************************/

body {
	line-height: 1.375em;
	/* word-wrap: break-word; */
	/* done to let long words that are bigger than container wrap within the word */
	-webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	p {
		font-weight: inherit;
	}
	a {
		font-weight: normal;
	}
}
.section-nav {
	font-family: $montserrat-font-stack;
}

// Adjust article titles to line up with sub-menu in web.
@include bp(large-up){
	h1{
		margin-top: .58em;
	}
}
h1 {
	line-height: 1.1em;
	font-size: 1.75em;    // 28px
}
h2 {
	line-height: 1.215em;
	font-size: 1.4375em;  // 23px
}
h3 {
	line-height: 1.25em;
	font-size: 1.25em;    // 20px
}
h4 {
	line-height: 1.333em;
	font-size: 1.125em;   // 18px
}
h5 {
	line-height: 1.333em;
	font-size: 1em;       // 16px
}
h6 {
	line-height: 1.125em;
	font-size: 1em;       // 16px
	font-style: italic;
}
.related-resources h6 {
	@extend h4;
	margin-top: 40px;
	font-style: normal;
}
.article-footer h6 {
	font-style: normal;
}
.article-footer {
	clear: both;
}
// mixin to create all combinations of headers
h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

// mixin to create all small column combinations
.small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12 {
    @extend %small-columns !optional;
}
// mixin to create all medium column combinations
.medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12 {
    @extend %medium-columns !optional;
}
// mixin to create all large column combinations
.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 {
    @extend %large-columns !optional;
}
// create all small column combinations along with all header combinations
.contentzone %small-columns > %headings:first-child {
   margin-top: 0;
}
@include bp(large-up) {
		.contentzone %medium-columns > %headings:first-child {
		margin-top: 0;
	}
}
@include bp(medium-up) {
		.contentzone %large-columns > %headings:first-child {
		margin-top: 0;
	}
}

p {
	margin: 1.25em 0;
	line-height: 1.5em;
	font-size: inherit;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: 0.5em;
}
table caption {
	font-weight: bold;
	text-align: left;
	color: #000;
	padding: 20px 0 10px;
	/* using padding instead of margin due to problem in Safari */
}

.noMargin {
	margin: 0;
}

.row .header	{
	font-weight: bold;
	font-family: $montserrat-font-stack;
}
/* begin add-on functionality to foundation rows */
.row .row.vertical-space, .row.vertical-space {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
.row .row.top-row-padding, .row.top-row-padding {
  margin-top: 3em;
  margin-bottom: 1.5em; }
.row.collapse-edges .columns,
.row .row.collapse-edges .columns {
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}

	&:only-child {
		padding: $column-gutter / 2;
	}

	@include bp(small) {
		&[class*=" large-"],
		&[class^="large-"] {
			padding-left: 0;
			padding-right: 0;
		}
		// inserted these rules in the case the foundation column is using both large and small (such as on /social-media)
		&[class*=" small-"],
		&[class^="small-"] {
			&:first-child {
				padding-left: 0;
				padding-right: 0.9375em;
			}
		}
		&[class*=" small-"],
		&[class^="small-"] {
			&:last-child {
				padding-left: 0.9375em;
				padding-right: 0;
			}
		}
	}

	@include bp(medium-down) {
		&[class*=" medium-"],
		&[class^="medium-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@include bp(large-up){
	.medium-1 {
		position: relative;
		width: 8.33333%;
	}
	.medium-2 {
		position: relative;
		width: 16.66667%;
	}
	.medium-3 {
		position: relative;
		width: 25%;
	}
	.medium-4 {
		position: relative;
		width: 33.33333%;
	}
	.medium-5 {
		position: relative;
		width: 41.66667%;
	}
	.medium-6 {
		position: relative;
		width: 50%;
	}
	.medium-7 {
		position: relative;
		width: 58.33333%;
	}
	.medium-8 {
		position: relative;
		width: 66.66667%;
	}
	.medium-9 {
		position: relative;
		width: 75%;
	}
	.medium-10 {
		position: relative;
		width: 83.33333%;
	}
	.medium-11 {
		position: relative;
		width: 91.66667%;
	}
	.medium-12 {
		position: relative;
		width: 100%;
	}
	.row .medium-offset-0 {
		position: relative;
		margin-left: 0%;
	}
	.row .medium-offset-1 {
		position: relative;
		margin-left: 8.33333%;
	}
	.row .medium-offset-2 {
		position: relative;
		margin-left: 16.66667%;
	}
	.row .medium-offset-3 {
		position: relative;
		margin-left: 25%;
	}
	.row .medium-offset-4 {
		position: relative;
		margin-left: 33.33333%;
	}
	.row .medium-offset-5 {
		position: relative;
		margin-left: 41.66667%;
	}
	.row .medium-offset-6 {
		position: relative;
		margin-left: 50%;
	}
	.row .medium-offset-7 {
		position: relative;
		margin-left: 58.33333%;
	}
	.row .medium-offset-8 {
		position: relative;
		margin-left: 66.66667%;
	}
	.row .medium-offset-9 {
		position: relative;
		margin-left: 75%;
	}
	.row .medium-offset-10 {
		position: relative;
		margin-left: 83.33333%;
	}
	.row .medium-offset-11 {
		position: relative;
		margin-left: 91.66667%;
	}
}
@include bp(medium-down){
	.row .row {
		// not sure why we need to override this, however apparently we have
		// a rule on desktop that goes .row .row margin: 0 .9375em; which is
		// really weird. I'm sure there's a reason for it, but I don't know
		// it, so I will leave it in for now.	This rule shouldn't break
		// anything, but it may, so if we see wonky margins on rows in mobile
		// this is why. -sjc 2015 03 10.
		margin-left: auto;
		margin-right: auto;
	}
}

/* style to collapse individual columns */
.row .column.collapse,
.row .columns.collapse {
	padding-left: 0;
	padding-right: 0;
}
/* end add-on functionality to foundation rows */

/* We needed to set the min-height style so that pages without */
/* bread crumbs create enough space so that the social media   */
/* buttons would be displayed with the same spacing to the top */
/* menu as those pages including bread crumbs                  */
.bcrumbs {
    font-size: 0.8em;
   	margin-bottom: 1.25em;
   	margin-top: 2em;
    min-height: 1.1875em;
	font-family: $montserrat-font-stack;
}
@include bp(small) {
	.bcrumbs {
		display: none;
	}
}
@include bp(medium-down){
	.bcrumbs {
		padding-left: 15px;
		margin-bottom: 0;
	}
}
/* clearfix for clearing floated items */

.clearfix {
	zoom: 1;
	&:after {
		clear: both;
	}
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}
/* begin images using the HTML5 figure and figcaption elements */

/* add block level style to HTML5 elements, for IE */
header,
nav,
article,
footer,
section,
aside,
figure,
figcaption {
	display: block;
}

/* The Previous/Next, Older/Newer navigation links need to be   */
/* separated more from the content of the page                  */
div#cgvSlPagination, div.previous-next-links {
    margin-top: 3em  !important;
}
/* End Previous/Next */

// New Pullquote styles
/* Pullquotes */
.pullquote {
	border-left: 3px solid $jellybean;
	margin: 40px auto;
	padding-left: 20px;
	width: 100%;
	color: $jellybean;
}

.pullquote-text {
	font-size: 24px;
	line-height: 28px;
}

.pullquote-text:before {
	content: "\201c"
	}
/* we are doing quotes manually for spanish pages due to difference in grammar where period comes after quote in spanish */
:lang(es) .pullquote-text:before {
	content: "";
}
.pullquote-text:after {
	content: "\201d"
}
/* we are doing quotes manually for spanish pages due to difference in grammar where period comes after quote in spanish */
:lang(es) .pullquote-text:after {
	content: "";
}

.pullquote p {
	margin: 0 0 30px 0;
	font-family: $din-condensed-stack;
	font-weight: bold;
}
.pullquote-left {
	width: 40%;
	margin: 20px 1em 20px 0;
	float: left;
}
.pullquote-right {
	width: 40%;
	margin: 20px 0 20px 1em;
	float: right;
}
.pullquote, .pullquote-right, .pullquote-left {
	@extend .clearfix;
	font-family: $din-condensed-stack;
	font-weight: bold;
	@include bp(small) {
		width: 100%;
		float: none;
		margin: 1em auto;
	}
	.author {
		font-family: $din-condensed-stack;
		text-align: left;
		color: $dovegray;
		font-size: 24px;
		line-height: 24px;
	}
	p.author {
		margin-bottom: -1px;
	}
	p.author:before {
		content: "\2014"
	}
	p.author:after {
		content: none;
	}
}

// skip navigation styles
.skip a, .skip a:hover, .skip a:visited {
	position: absolute;
	left: -999px;
}
.skip a:active, .skip a:focus {
	display:block;
	left: 0;
	z-index: 999;
	background: #fff;
	border: 1px solid #000;
	padding: 5px 5px 5px 5px;
}
/* fix for Chrome problem with rendering sup tags */
.sup, sup {
	font-size: 80%;
	position: relative;
	bottom: 0.6em;
	vertical-align: text-top; //[WCMSFEQ-980] Added vertical-align:text-top to sup styling to remove white line appearing at bottom of pages in IE
}
.sub, sub {
	font-size: 80%;
	position: relative;
	bottom: -0.2em;
}
/* BEGIN columns by css instead of tables */
.two-columns, .three-columns, .four-columns, .five-columns {
	width: 100%;
	overflow: auto;
	margin-bottom: 1em;
}
/* 2 col */
.two-columns .column1,
.two-columns .column2 {
	float: left;
	width: 48%;
	padding-right: 4%;
}
.two-columns .column2 {
	padding-right: 0;
}
/* 3 col */
.three-columns .column1,
.three-columns .column2,
.three-columns .column3 {
	float: left;
	width: 30%;
	padding-right: 5%;
}
.three-columns .column3 {
	padding-right: 0;
}
/* 4 col */
.four-columns .column1,
.four-columns .column2,
.four-columns .column3,
.four-columns .column4 {
	float: left;
	width: 22%;
	padding-right: 4%;
}
.four-columns .column4 {
	padding-right: 0;
}
/* 5 col */
.five-columns .column1,
.five-columns .column2,
.five-columns .column3,
.five-columns .column4,
.five-columns .column5 {
	float: left;
	width: 16%;
	padding-right: 5%;
}
.five-columns .column5 {
	padding-right: 0;
}
@include bp(small) {
	.two-columns .column1,
	.two-columns .column2,
	.three-columns .column1,
	.three-columns .column2,
	.three-columns .column3,
	.four-columns .column1,
	.four-columns .column2,
	.four-columns .column3,
	.four-columns .column4,
	.five-columns .column1,
	.five-columns .column2,
	.five-columns .column3,
	.five-columns .column4,
	.five-columns .column5 {
		float: none;
		width: 100%;
		padding-right: 0;
	}
}
/* END columns by css instead of tables */
[class*="callout-box"]{
	border: 1px solid $yetAnotherGrey;
	background-color: $white;
	box-shadow: 0 0 9px 1px rgba($black,.15);
	overflow: auto;
	padding: 25px;

	// to prevent extra space at top of callout box area
	h2:first-child, 
	h3:first-child,
	p:first-child,
	ul:first-child,
	h4 {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	figure.image-center-full {
		margin: 0;
	}
}

.callout-box,
.callout-box-blue {
	margin: 25px auto;
	width: 80%;
}
.callout-box-right {
	float: right;
	margin: 0 0 15px 15px;
	width: 40%;
}
.callout-box-left {
	float: left;
	margin: 0 15px 15px 0;
	width: 40%;
}
.callout-box-full {
	margin: 25px auto;
	width: 100%;
}
@include bp(small) {
	.callout-box, .callout-box-left, .callout-box-right {
		width: 90%;
		float: none;
		margin: 1em auto;
	}
}
/* prevent outlines on tab content */
div, p, section, h1, h2, h3, h4, h5, h6 {
	&[tabindex]:focus{
		outline: none;
	}
}

/* cgh staff page styles */
.cgh-staff td {
	vertical-align: middle;
}

.cgh-staff figure.centered-set {
	margin: 0;
	text-align: left;
}
/* Begin Body by Location top Navigation */
.body-location-content-nav {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 5px 8px;
	background: #f5f5f3;
}
.body-location-content-nav ul {
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
}
.body-location-content-nav ul li {
	background: none;
	margin: 0 0 3px 0;
	padding: 0;
}
.contentzone .body-location-content-nav ul > li:before {
	content: none;
	display: none;
}
@include bp(small) {
	.body-location-content-nav ul {
		width: 100%;
		float: none;
	}
}
/* End Body by Location top Navigation */


@include bp(small){
	.contact-infos-desktop {
		display: none;
	}
	.guide-title h2 {
		display: none;
	}
}
@include bp(medium){
	.contact-infos-mobile {
		display: none;
	}
}
@include bp(large-up){
	.contact-infos-mobile {
		display: none;
	}
}



/********************* END General Styles ******************************************/