/********** BEGIN Institutions Styles ******************************************/

/* Cancer Centers */
div.institution-grouping {
	clear: both;
}
div.institution-grouping > div {
	clear:both;
}
div.institution-sidebar {
	background: #eaebe6;
	overflow: hidden;
	float: right;
	width: 30%;
	margin: 0 0 12px 12px;
}
div.institution-sidebar div.institution-sidebar-content {
	padding: 0 8px 8px 8px;
}
div.institution {
	border-top: 1px solid #BDBDBD;
	clear: both;
	padding: 15px 0 0;
}
div.institution-legend {
	border-bottom: 1px dashed #BDBDBD;
	padding: 4px 0 19px 0;
}
.institution-header {
	color: #4D4D4D;
	margin-bottom: 23px;
}
h2.institution-title {
	font-size: 16px;
}
div.institution-content {
	width: 280px;
	margin: 0 0 10px 0;
	float: left;
	padding: 0 0 0 33px;
}
div.institution-grouping > div div:first-child {
	margin-right: 15px;
}
div.institution-content p {
	margin-top: 20px;
}


@include bp(small){
div.institution-sidebar {
width: 100%;
margin: 0 0 1em 0;
}
}



/********** End Institutions Styles ******************************************/
