/* list styling shim to handle the different permutations of managed list styles */
.list {
  &.managed,
  &.dynamic {
    li {
      &.media,
      &.press-listing {
        margin: 2em 0;

        &:first-child {
          margin-top: 1em;
        }

        @include break(small) {
          display: flex;
          width: 100%;
        }

        &.hover {
          .list-item-image {
            img {
              opacity: 0.8;
            }
          }
          .title-and-desc {
            a {
              color: $lcranberry;
            }
          }
        }

        > .container {
          padding: 0 mq-px2em(15px);

          + .container {
            margin: 0;
            width: auto;
            padding: 0 mq-px2em(15px);
          }
        }

        .list-item-image {
          display: none;
          margin: 0;

          @include break(medium) {
            display: block;
            flex: 0 0 auto;
            width: 25%;

            + .title-and-desc {
              margin-left: 0;
            }
          }

          a {
            &:not(:empty) {
              background: $black;
              display: block;
            }
          }

          &:hover {
            img {
              opacity: 0.8;
            }
            + .title-and-desc {
              a {
                color: $lcranberry;
              }
            }
          }

          img {
            width: 100%;
          }
        }

        .title-and-desc {
          @include break(medium) {
            flex: 1 1 auto;
            margin-left: 25%;
            padding-left: 15px;
          }

          h3 {
            margin-top: 0;
            font-size: mq-px2em(20px);

            a {
              font-size: 1em;

              &:hover {
                color: $lcranberry;
              }
            }
          }
        }
      }
    }

    .title-desc {
      margin-left: 0;
      padding-left: 0;
      width: auto;

      h3 {
        font-size: mq-px2em(16px);
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    /* replaces compact list */
    .title-only {
      margin: 1em 0 1em 2em;

      &::before {
        color: #2e2e2e;
        content: "\2022";
        display: inline-block;
        font-size: 1.1em;
        position: relative;
        left: -0.5em;
        line-height: 0.90909em;
        margin: 0 -0.2em;
        top: 0.25em;
      }

      h3 {
        font-size: mq-px2em(18px);
      }
    }
  }

  &.dynamic {
    h2 {
      margin-top: 0;
      margin-bottom: 34px;
    }

    li {
      .list-item-image {
        padding: 0;
      }

      .title-and-desc {
        padding-left: 0;

        @include break(medium) {
          padding-left: 20px;
        }
      }
    }
  }
}

// Need to override the specificity of one particular rule from _lists
@include bp(small) {
  .large-8 .list.dynamic .container.image + .container.title {
    width: 100%;
    padding-left: 0;
  }

  .large-8 .list.dynamic .container.title {
    padding-left: 0;
  }
}
