@mixin sprite($x-coordinate: 0, $y-coordinate: 0, $width: 0, $height: 0) {
	background: url($icons + "nci-sprite.png") no-repeat $x-coordinate $y-coordinate;
	width: $width;
	height: $height;
}

/***************************************
* What does it do: vendor prefixed placeholders?
* Notes: Remove, unnecessary
* Usage count: 1
****************************************/
@mixin placeholder {
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

/***************************************
* What does it do: sets transition
* Notes: Remove...no need, should be declared as a theme global variable
* Usage count: 5, (megamenu, hero, nav, utilitynav, icons)
****************************************/
@mixin transition($transitions...) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-o-transition: $transitions;
	transition: $transitions;
}

/***************************************
* What does it do: sets transition-delay
* Notes: Remove
* Usage count: 0
****************************************/
@mixin transition-delay($transition-delay) {
	-webkit-transition-delay: $transition-delay;
	-moz-transition-delay: $transition-delay;
	-o-transition-delay: $transition-delay;
	transition-delay: $transition-delay;
}

/***************************************
* What does it do: vendor prefixes transform
* Notes: Remove...no need, handled by autoprefix and widely supported 
* Usage count: 2ish, (megamenu, slick, header, mixins)
****************************************/
@mixin transform($transforms...) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

/***************************************
* What does it do: vendor prefixes transform-origin
* Notes: Remove...no need, handled by autoprefix and widely supported 
* Usage count: 1 (mixins)
****************************************/
@mixin transform-origin($transform-origin) {
	-webkit-transform-origin: $transform-origin;
	-moz-transform-origin: $transform-origin;
	-ms-transform-origin: $transform-origin;
	-o-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

/***************************************
* What does it do: vendor prefixes box-shadow
* Notes: Remove...no need, handled by autoprefix and widely supported 
* Usage count: 17
****************************************/
@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

/***************************************
* What does it do: horizontal centering for absolute positioning
* Notes: Remove...heinous
* Usage count: 1 (backToTop)
****************************************/
@mixin hCenter {
	left: 50%;
	transform: translateX(-50%);
}

/***************************************
* What does it do: vertical centering for absolute positioning
* Notes: Remove...heinous
* Usage count: 2ish (PDQ, images(enlarge infographic placeholder) )
****************************************/
@mixin vCenter {
	top: 50%;
	transform: translateY(-50%);
}

/***************************************
* What does it do: places call to action corner on cards
* Notes: probably should be included as a cards feature
* Usage count: (Homelanding, Special Report, blogs)
****************************************/
@mixin call-to-action-corner() {
	text-transform: uppercase;
	position: absolute;
	z-index: 88;
	padding: 0.62em;
	color: #FFFFFF;
	background-color: #403f3f;

	// rotate the call to action:
	right: 0;
	@include transform-origin(top right);
	@include transform(
		rotate(90deg)
		translate(100%, -1px)); // -1px to fix rendering issues
}

/***************************************
* What does it do: removes padding from card and adds internal padding
* Notes: probably should be included as a cards feature
* Usage count: 7 (Homelanding, Special Report, embedded-entity, topicFeature)
****************************************/
@mixin card-clickable {
	// the following classes are to remove padding from the card and give it to the anchor tag so that the whole card is clickable
	.columns {
		padding: 0;
		a {
			padding: em-calc(30px);
			display: block;
		}
	}
}

/***************************************
* What does it do: vendor prefixing
* Notes: Remove, handled by autoprefixer
* Usage count: 4 in forms
****************************************/
//Vendor prefixes
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
	@if $vendors {
		@each $vendor in $vendors {
			#{$property}: #{"-" + $vendor + "-" + $value};
		}
	}
	#{$property}: #{$value};
}

/***************************************
* What does it do: vendor prefixing
* Notes: Remove, handled by autoprefixer, used primarily for previously unsupported flex properties
* Usage count: 4 (dcegConnect, Connect, alternating-lists, borderless cards)
****************************************/
@mixin property-prefix($property, $value, $vendors: webkit moz ms o) {
	@if $vendors {
		@each $vendor in $vendors {
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	#{$property}: #{$value};
}

/***************************************
* What does it do: vendor prefixing
* Notes: Remove and replace, handled by autoprefixer
* Usage count: 4 (dcegConnect, Connect, alternating-lists, borderless cards)
****************************************/
//Flex mixins
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/***************************************
* What does it do: vendor prefixing
* Notes: Remove, handled by autoprefixer, used primarily for previously unsupported flex properties
* Usage count: 5 (alternating-lists, borderless cards, title-first-feature-cards)
****************************************/
@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

/***************************************
* What does it do: vendor prefixing
* Notes: Replace, handled by autoprefixer, used primarily for previously unsupported flex properties
* Usage count: 5 (dcegConnect, alternating-lists, borderless cards, title-first-feature-cards)
****************************************/
@mixin flexcontainer() {
	@include flexbox();
	@include property-prefix(flex-direction,row);
	overflow:hidden;
	@include bp(small) {
		@include property-prefix(flex-direction,column);
	}
}

/***************************************
* What does it do: vendor prefixing
* Notes: Remove, handled by autoprefixer, used primarily for previously unsupported flex properties
* Usage count: 5 (alternating-lists, borderless cards, title-first-feature-cards)
****************************************/
@mixin flex-order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	// -webkit-order: $val;
	order: $val;
}

/***************************************
* What does it do: retina display detection
* Notes: Remove, meh
* Usage count: 1, used in background image
****************************************/
@mixin bp-retina {
	@media all and (-webkit-min-device-pixel-ratio: 2),
	all and (min--moz-device-pixel-ratio: 2),
	all and (-o-min-device-pixel-ratio: 2/1),
	all and (min-device-pixel-ratio: 2),
	all and (min-resolution: 192dpi),
	all and (min-resolution: 2dppx) {
		@content;
	}
}


/***************************************
* What does it do: background icon 
* Notes: Really kind of overkill, move to dcegConnect
* Usage count: 1 in standard-background-icon below
****************************************/
//Image background
@mixin background-icon($image,$width,$height,
$tablet-width:$width,$tablet-height:$height,
$mobile-width:$width,$mobile-height:$height,
$displayStyle:inline-block,
$background-position:initial, $background-repeat: no-repeat,
$container-height:$height,$tablet-container-height:$tablet-height,
$mobile-container-height:$mobile-height) {
	background-image: url($image);
	background-repeat: $background-repeat;
	background-position: $background-position;
	display:  $displayStyle;
	content:" ";
	@include bp(large-up){
		background-size: $width $height;
		height:$container-height;
		width: $width;
	}
	@include bp(medium){
		background-size:$tablet-width $tablet-height;
		width:$tablet-width;
		height:$tablet-container-height;
	}
	@include bp(small){
		background-size:$mobile-width $mobile-height;
		width:$mobile-width;
		height:$mobile-container-height;
	}

}

/***************************************
* What does it do: background icon sizing
* Notes: Really kind of overkill, move to dcegConnect
* Usage count: 11 in dcegConnect only
****************************************/
@mixin standard-background-icon($standard-image, $retina-image, $width, $height,
$tablet-width:$width,$tablet-height:$height,
$mobile-width:$width,$mobile-height:$height,
$displayStyle:inline-block,
$background-position:initial,
$container-height:$height,
$tablet-container-height:$tablet-height,
$mobile-container-height:$mobile-height,
$background-repeat: no-repeat, $no-width:false) {
	@include background-icon($standard-image,$width,$height,$tablet-width,$tablet-height,
					$mobile-width,$mobile-height,
					$displayStyle,$background-position,$background-repeat,$container-height,
					$tablet-container-height,$mobile-container-height);
	@include bp-retina {
		@include background-icon($retina-image,$width,$height,$tablet-width,$tablet-height,
						$mobile-width,$mobile-height,
						$displayStyle,$background-position,$background-repeat,$container-height,
						$tablet-container-height,$mobile-container-height);
	}

	@if $no-width == false {
		width: $width;
		margin-right: auto;
		margin-left:auto;
	}
}




/***************************************
* What does it do: centered tect with icon
* Notes: only used in DCEG Connect (dcegConnect.scss), just move it there, no re-use or need
* Usage count: 1
****************************************/

//Centered Emphasized text
@mixin centered {
	display: block;
	position: relative;
	text-align: center;
	clear:both;
	width:100%;
}

/***************************************
* What does it do: centered text inline
* Notes: Remove!
* Usage count: 0
****************************************/
@mixin centered-inline {
	display: inline-block;
	position: relative;
	text-align: center;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	//width:100%;
}

/***************************************
* What does it do: italicizes
* Notes: why???
* Usage count: 0
****************************************/
@mixin centeredEm {
	@include centered;
	font-style: italic;
}

/***************************************
* What does it do: tries to vertically center something
* Notes: unused
* Usage count: 0
****************************************/
@mixin vertical-center {
	line-height: normal;
	vertical-align: middle;
	display:inline-block;
}

/***************************************
* What does it do: swaps color of toggle button in an accordion
* Notes: Only used in Connect theme.  Also redeclared in _buttons!?!
* Usage count: 1, duped in _buttons.scss
****************************************/
@mixin toggle-color($color, $bg-color) {
	&[aria-expanded="false"] .toggle,
	.toggle[aria-expanded="false"] {
		color: $color;
		background-color: $bg-color;
	}

	&[aria-expanded="true"] .toggle,
	.toggle[aria-expanded="true"] {
		color: $bg-color;
		background-color: $color;
	}
}