#section-menu-button {
	&::before {
		content:'';
		position: absolute;
		top: 49%;
		right: .7em;
		@include svg-sprite(chevron-white);
		//font-size: .9em;
		transform: translateY(-50%) rotate(180deg);
		//transition: transform .5s;
	}
}

// setting fixed heights for header elements to avoid pixel rounding in IE

.nav-search-bar {
	min-height: 68px;
	@include break(small){
		min-height: 76px;
	}
	@include break(large){
		min-height: 61px;
	}
}

.fixedtotop {
	width: 100%;
	position: relative;
	z-index: 1000;
	top: 0;
}

.header--fixedToTop {
		margin-bottom: 97px;
	@include break(small){
		margin-bottom: 104px;
	}
	@include break(large){
		margin-bottom: 118px;
	}
}


/* *************************************************************************/
/* LARGE AND UP */
/* *************************************************************************/
@include bp(large-up) {

	/*** BEGIN desktop section nav ("left nav") styles ***/
	.general-page-body-container .local-navigation {
		margin-top: 1.3em;
		padding-left: 0;
		padding-right: 38px;
	}

	/* remove default margin to butt menu up against container */
	.section-nav,
	.section-nav ul,
	.section-nav ul li {
		margin-left: 0;
	}

	.section-nav div {
		position: relative;
		font-size: 0.875em;
		line-height: 1.2;
		padding-top: 0.625em;
		padding-bottom: 0.625em;
	}
	.section-nav .contains-current > div {
		font-weight: bold;

		a {
			color: $purple;
		}
	}

	.section-nav .current-page:after {
		left: 100%;
		top: 50%;
		margin-top: -12px;
		border: 12px solid transparent;
		border-right-style: dotted;
		border-left-color: #14819b;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.section-nav .current-page + ul,
	.section-nav .contains-current > ul {
		display: block !important;
	}
	.section-nav .current-page > .toggle,
	.section-nav .contains-current > div > .toggle {
		display: none !important;
	}
	.section-nav div > a {
		display: inline-block;
		color: $header-font-color;
		margin-left: 20px;
		margin-right: 45px;
	}
	.section-nav div.current-page > a {
		color: white;
		font-weight: bold;
	}

	/** BEGIN level-by-level styling **/
	/* level 0 */
	.section-nav .level-0 > div {
		font-size: 19px;
		font-weight: bold;
		line-height: 21px;
		padding-top: 0.625em;
		padding-bottom: 0.625em;
		background-color: #1c5e86;
		text-transform: uppercase;
	}
	.section-nav .level-0 > div > a {
		color: #FFFFFF;
	}

	/* level 1 */
	.section-nav .level-1 {
		font-size: 15px;
		line-height: 17px;
		border-top: 1px solid #d5d5d2;
	}
	.section-nav .level-1 > div > a {
		text-transform: none;
	}
	.section-nav .level-1.contains-current {
		background-color: #eeedf4;
	}
	.section-nav .level-1 > ul {
		margin-left: 2.0625em;
	}

	/* level 2 */
	.section-nav .level-2 div > a {
		margin-left: 7px;
	}
	.section-nav .level-2 > ul {
		margin-left: 0.875em;
	}

	/* level 3 */
	.section-nav .level-3 > ul {
		margin-left: 0.875em;
	}

	/* level 4 */
	.section-nav .level-4 > ul {
		margin-left: 0.875em;
	}
	/** END level-by-level styling **/

	/* this rule to be below the level-by-level styles */
	.section-nav div.current-page {
		background: #14819b;
	}

	/* hide section menu clicker on desktop */
	#section-menu-button {
		display: none;
	}
	/*** END desktop section nav ("left nav") styles ***/

	/*** BEGIN Megamenus/Search Styles ***/
	/* hide mobile nav */
	#mega-nav .mobile-item, .mobile-menu-bar, #searchclear {
		display: none !important;
	}
	#mega-nav .toggle {
		display: none;
	}

	#mega-nav {
		.nav-item.contains-current > .nav-item-title > a,
		.nav-item.current-page > .nav-item-title > a {
			background-color: #fff;
			/* the height of the border bottom (7px) is already set. Here we are only changing its color
			/* from transparent to teal. If the border height ever changes, it's changed in one place, not two.
			*/
			border-bottom-color: #14819b;
			color: #2f2f2f;
		}
	}
	/*** END Megamenus/Search styles ***/
}

@include bp(medium-down){
	/*** BEGIN mobile section nav ("tongue") styles ***/
	/* fix the margin (on mobile) for pages with a section nav */
	.has-section-nav {
		margin-top: 1.5em;
	}
	/* container width */
	.main-content .general-page-body-container .local-navigation {
		padding-left: 5%;
		padding-right: 5%;
	}
	.section-nav {
		display: none;
		position: absolute;
		top: -0.85em;
		z-index: 999;
		width: 90%;
		background: white;
	}
	.section-nav,
	.section-nav ul,
	.section-nav ul li {
		margin: 0;
	}
	.section-nav div {
		position: relative;
		font-size: 0.875em;
		line-height: 1.2;
		padding-top: 14.5px;
		padding-bottom: 14.5px;
	}
	.section-nav .contains-current > div {
		font-weight: bold;

		a {
			color: $purple;
		}
	}
	.section-nav div > a {
		display: inline-block;
	}
	.section-nav ul li {
		border-top: 1px solid #d5d5d2;
	}
	.section-nav ul > li:first-child {
		border: none;
	}
	/* these will not apply to the top-level item (currently in blue) */
	.section-nav ul div > a {
		margin-right: 3.8125em;
		color: $header-font-color;
		line-height: 1.5;
		vertical-align: middle;
	}
	.section-nav div.current-page > a {
		color: white;
		font-weight: bold;
	}

	/** BEGIN level-by-level styling **/
	/* level 0 */
	.section-nav .level-0 > div {
		font-size: 1.125em;
		font-weight: bold;
		padding-top: 0.625em;
		padding-bottom: 0.625em;
		background-color: #1c5e86;
		> a {
			color: #FFFFFF;
			margin-left: 0.8888em;
			margin-right: 3.3888em;
			text-transform: uppercase;
		}
	}

	/* level 1 */
	$section-nav-indent: 14px;
	$section-nav-indent-increment: 12.25px;
	.section-nav .level-1 > div > a {
		text-transform: none;
		margin-left: em-calc($section-nav-indent, 0.875 * $em-base);
	}
	.section-nav .level-1.contains-current {
		background-color: #eeedf4;
	}

	/* level 2 */
	$section-nav-indent: $section-nav-indent + $section-nav-indent-increment;
	.section-nav .level-2 > div > a {
		margin-left: em-calc($section-nav-indent, 0.875 * $em-base);
	}

	/* level 3 */
	$section-nav-indent: $section-nav-indent + $section-nav-indent-increment;
	.section-nav .level-3 > div > a {
		font-size: 0.9em;
		margin-left: em-calc($section-nav-indent, 0.9 * 0.875 * $em-base);
		margin-right: em-calc(53.375px, 0.9 * 0.875 * $em-base);
	}

	/* level 4 */
	$section-nav-indent: $section-nav-indent + $section-nav-indent-increment;
	.section-nav .level-4 > div > a {
		font-size: 0.9em;
		margin-left: em-calc($section-nav-indent, 0.9 * 0.875 * $em-base);
		margin-right: em-calc(53.375px, 0.9 * 0.875 * $em-base);
	}
	/** END level-by-level styling **/

	/* this rule to be below the level-by-level styles */
	.section-nav div.current-page {
		background: #14819b;
	}
	/* style section menu clicker on mobile */
	#section-menu-button {
		position: absolute;
		z-index: 999;
		cursor: pointer;
		text-align: right;
		color: #fff;
		font-size: 0.625em;
		line-height: 1.6;
		min-height: 1.5em;
		padding: 0.75em 2.5em 0.75em 0.75em;
		top: 0;
		right: 5%;
		background: #1c5e86 95% 50% no-repeat;
		font-family: $montserrat-font-stack;
		text-transform: uppercase;

		&.open::before {
			transform: translateY(-50%) rotate(0);
		}
	}
	/* Fallbacks */
	.no-js .section-nav ul {
		display: none;
	}
	.no-js .section-nav:hover ul, .no-js .section-nav:focus ul {
		display: block;
	}
	/* section nav grey page overlay - http://css-tricks.com/snippets/jquery/append-site-overlay-div/ */
	#overlay {
		opacity: 0.4;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: black;
		width: 100%;
		z-index: 998;
	}

	/*** BEGIN Megamenus/Search Styles ***/
	#content {
		padding-top: 0;
	}
	#page, #mega-nav {
		position: relative;
		left: 0;
		@include transition(left 500ms ease);
	}
	html.nav-open {
		overflow: hidden;

		#page {
			left: 80%;
		}
	}
	.fixedtotop {
		@include transition(left 500ms ease);
	}

	/* When the panel is closed, transition the page back to the left */
	/* hide search on mobile */
	.search {
		display: none;
	}

	#nvcgSlMainNav {
		.mobile-menu-bar {
			left: 0px;
			position: relative;
		}
	}
	#nvcgSlMainNav.searching {
		// This .searching class is applied with javascript
		// by NCI.Search.mobile.search(); in nci-utils.js

		// We want to control as much as we can with CSS
		// instead of relying on JavaScript. The reasons
		// for this are many.

		// We set 'pos:rel' here so that we have a baseline
		// for the rest of the absolute positioning we're
		// about to do.
		position: relative;

		.mobile-menu-bar {
			left: -100%; // Get that thing outta here!
			height: 100%; // We still need the height for the menu button we're about to borrow.

			.menu-btn {
				position: absolute;
				left: calc(100% + 1em); // Get back here!
				width: 64px;
				margin-right: 0;
				color: transparent; // get rid of the text
				z-index: 90; // needs to be above search
				background: none;

				&:before {
					/* The arrow in the back to menu button */
					@include svg-sprite(menu-return-white);
					font-size: 170%;
					top: .7em;

					// hack for stupid IE
					@include bp('(-ms-high-contrast: none), (-ms-high-contrast: active)') {
						font-size: 80%;
					}
				}
			}
		}

		.search {
			/* we use the main search...it's just easier */
			display: block;
			width: 100%;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			padding-left: 90px; //reserve space for "back to menu" icon
			background-color: #444;
		}

		// These are all ID selectors, so we really don't
		// need to do any more nesting. All we're trying
		// to catch is the .searching that we're applying
		// with javascript on the parent.
		#siteSearchForm {
			margin: 0;


			&:before {
				content: " ";
				display: block;
				width: calc(100% - 68px); // reserve space on right for "X"
				height: 10px;
				border: 2px solid $teal;
				border-top: none;
				background-color: transparent;
				position: absolute;
				bottom: 10px;
			}
		}

		#swKeyword {
			position: relative;
			left: 2%;
			height: 100%;
			width: calc(96% - 68px); // 2% offset on left and right minus reserved space for "X"
			margin: 0;
			padding: 0;
			font-size: $swKeywordFontSize;
			z-index: 80; //needs to be below the menu-btn
			box-shadow: none;
			background-color: transparent;

			@include placeholder {
				color: #888;
				height: 100%;
				position: relative;
				display: block;
			}
		}

		#sitesearch { // the search submit button
			// to be honest, it seems like bad usability...
			display: none;
		}

		#searchclear {
			position: absolute;
			right: 20px;
			top: 0.25em;
			padding: 0;
			margin: 0;
			font-family: $noto-font-stack;
			color: #888;
			min-height: auto;

			&:before {
				content: "\00d7";
				font-size: 3em;
			}
		}
	}

	/* Move nav off screen, setup transitions */
	#mega-nav {
		// Menu Colors:
		$white: #ffffff;
		$beige: #f3f3f2;
		$taupe: #c3c1b4;
		$teal:	#14819b;
		$dteal: #017c84;
		$cranberry: #BB0E3D;

		visibility: hidden;
		z-index: 1000;
		position: fixed;
		left: -80%;
		top: 0;
		width: 80%;
		height: 100%;
		background-color: $beige;
		@include box-shadow(-15px 0px 15px -15px rgba(0, 0, 0, 0.6) inset);

		html.nav-open & {
			visibility: visible;
			left: 0.01%;
		}
		html.nav-moving & {
			visibility: visible;
		}


		> ul > li:first-child {
			display: inherit;
		}

		/* Display nav items vertically */
		ul.menu {
			border-top: 1px solid #888;
			overflow-y: auto;
			height: 100%;
		}
		li {
			width: 100%;
			box-sizing: border-box;
			border-top: 1px solid #888;
			font-weight: normal;
			background-color: $beige;

			> div {
				position: relative;
			}

			a {
				display: inline-block;
				width: 100%;
				min-height: 50px;
				padding-right: 70px;
				color: $header-font-color;
			}

			&.contains-current > div.nav-item-title > a {
				color: $purple;
			}
		}


		/* remove margin from lists */
		ul {
			margin: 0;
			width: 100%;
		}

		/* Level Styles */
		.lvl-1, .lvl-2, .lvl-3 {
			a {
				font-family: $montserrat-font-stack;
			}
		}

		.mobile-item {
			display: none;
		}
			/* list item spacing through the hierarchy */
		.lvl-1 { // level 0 in the mocks
			display: block;
			text-transform: uppercase;

			a {
				font-size: 1.2em;
				padding-left: 17px;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.toggle {
			}
		}
		.lvl-2 { // level 1 in the mocks
			//display: none;
			text-transform: uppercase;

			a {
				font-size: 1.05em;
				padding-left: 31px;
				padding-top: 11.5px;
				padding-bottom: 11.5px;
			}

			.toggle {
			}
		}
		.lvl-3 { // level 2 in the mocks
			//display: none;
			// text-transform: none;

			a {
				font-size: 0.84em;
				padding-left: 44px;
				padding-top: 15px;
				padding-bottom: 15px;
			}

			.toggle {
			}
		}

		.contains-current {
			font-weight: bold;
			display: block;

			> .mobile-item > li {
				display: block;
			}
		}
		.current-page {
			display: block;
			background-color: $teal;
			color: $white;
			font-weight: bold;

			> div > a {
				color: $white;
			}
		}
		.lvl-1.contains-current .lvl-2,
		.lvl-2.contains-current .lvl-3,
		.lvl-1.current-page .lvl-2,
		.lvl-2.current-page .lvl-3 {
			 display: block;
		}
		.nav-item-title {
			position: relative;
		}
	}
	.sub-nav-mega {
		display: none;
	}
	.hidden-sibling {
		display: none;
	}
	.hidden {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	/*** END Megamenus/Search Styles ***/
}

// small
@include bp(small) {
	.section-nav {
		top: 1.9375em;
	}
}

// x-small
@include bp(xtra-small) {
	.mobile-menu-bar {
		> a,
		> button {
			font-size: 0.5em;
			padding: 4.5em 0 0 0;
		}
		//> .menu-btn {
		//	font-size: .6em;
		//}
	}
	#nvcgSlMainNav.searching {
		.search {
			padding-left: 75px;
		}
		#siteSearchForm:before {
			width: calc(100% - 53px);
		}
		#swKeyword {
			width: calc(96% - 53px);
		}
		#searchclear {
			right: 10px;
			top: -.3em;
		}
	}
}
