/********** BEGIN Pagination Styles ******************************************/
/* Desktop pagination styles */
.pager {
  float: right;
  font-size: 16px;
  a, span {
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    font-weight: normal;
    text-decoration: none;
  }
  .pager-link:link, .pager-link:active {
    text-decoration: none;
  }
  .pager-current, .pager-link:hover {
    color: white;
    font-weight: normal;
    background-color: #2A71A5;
    text-decoration: none;
  }
}
/* Mobile pagination styles */
@media only screen and (max-width: 765px) {
  .pager {
    line-height: 32px;
    width: 100%;

    a, span {
      padding: 0px 12px 0px 12px;
    }
    .pager-current, .pager-link:hover {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

}
/********** BEGIN Pagination Styles ******************************************/