@import "./variables";
@import "./mixins";
@import "./environments/percussion";
@import "./breakpoints";

.sbir-banner-image {
  img {
    max-width:370px;
    min-width:370px;
  }
}
.sbir-mobile-menu-bar {
  @include flexbox();
  @include property-prefix(justify-content, space-between);
}

.sbir-page-title {
  font-family: $montserrat-font-stack;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 0.75em;
  @include bp(small) {
    font-size: 28px;
    line-height: 33px;
  }
}
.sbir-home-header {
  @include flexbox();
  @include bp(small) {
    @include property-prefix(flex-direction, column);
  }
}
.sbir-home-header__image {
  @include bp(small) {
    margin-top: 8px;
    width: 66%;
  }
}

.sbir-information-sessions {
  width: 100%;
}
.sbir-information-sessions__inner-container {
  @include flexbox();
  @include property-prefix(flex-direction, column);
  @include property-prefix(align-items, center);
  width: 100%;
}
.sbir-information-sessions__content-container {
  @include flexbox();
  @include property-prefix(justify-content, space-between);
  color: $light-gray-text;
  @include bp(large-up) {
    width: 76%;
  }
  @include bp(medium-down) {
    width: 100%;
  }
  @include bp(small) {
    @include property-prefix(flex-direction, column);
    margin-top: 16px;
  }
}
.sbir-information-sessions__content-container__left,
.sbir-information-sessions__content-container__right {
  @include flexbox();
  @include property-prefix(align-items, center);
  @include bp(small) {
    @include property-prefix(flex-direction, column);
  }
}
.sbir-information-sessions__icon {
  @include standard-background-icon($icons + 'event-placeholder-icon.png',$icons + 'event-placeholder-icon.png',74px,74px,74px,74px,74px,74px,inline-table,center);
}
.sbir-information-sessions__text {
  @include bp(large-up) {
    margin-left: 26px;
  }
  @include bp(medium) {
    margin-left: 16px;
    width: 65%;
  }
  @include bp(small) {
    text-align: center;
    margin: 16px 0;
  }
}
.white-background {
  background: $white;
}
