table[data-sortable] {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
  }
  table[data-sortable] thead tr {
    width: 100%;
    //display: inline-flex;
    height: auto !important;
  }
  table[data-sortable] th {
    font-family: Montserrat,Avant Garde,Arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    background-color: #2B7BBA;
    color: #fff;
    position: relative;
    text-align: left !important;
    vertical-align: top !important;
    padding: 10px 20px 20px;
  }
  table[data-sortable] th, table[data-sortable] td {
    width: auto !important;
  }
  
  table[data-sortable] td {
    //display: inline-block;
  }

  table[data-sortable] th:not([data-sortable="false"]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    cursor: pointer;
  }
  table[data-sortable] th:before {
    content: "";
    display: block;
    position: relative;
    @include svg-sprite(sortable-circle-nosort);
    vertical-align: inherit;
    margin: 10px auto;
  }
  table[data-sortable] th[data-sorted="up"]:before, table[data-sortable] th[data-sorted="down"]:before {
    visibility: visible;
    display: block;
  }
  table[data-sortable] th[data-sorted="up"], table[data-sortable] th[data-sorted="down"]{
      background-color: #175E95;
  }
  table[data-sortable] th[data-sorted="down"]:before {
    @include svg-sprite(sortable-circle-descending);
  }
  table[data-sortable] th[data-sorted="up"]:before {
    @include svg-sprite(sortable-circle-ascending);
  }
  table[data-sortable] th[data-fixed]:before{
    background-image: none;
  }
  table[data-sortable] td[data-sorted="true"]{ background-color: #fafafa; }


  @include bp(small) {

    table[data-sortable] {
      height: 100% !important;
    }
    
    table[data-sortable] tfoot tr td:last-child {
      padding-bottom: 20px;
      background-color: #ace;
    }

    table[data-sortable] thead tr th:first-child,
    table[data-sortable] tbody tr td:first-child,
    table[data-sortable] tfoot tr td:first-child {
    //background: #ace;
    top: auto;
    left: 0.5px;
    position: absolute !important;
    width: 160px !important;
    z-index: 3;

    }
    table[data-sortable] thead tr th:first-child {
      //background-color: #ace;
      height: 7.35em;
    }
    table[data-sortable] tbody tr td:first-child {
      background-color: #fff;
      //left: -1px;
      height: 200px !important;
      line-height: 1.25em;
    }

    table[data-sortable] tbody tr td, table[data-sortable] tfoot tr td, 
    table[data-sortable] tr td {
      height: 200px !important;
      //padding: 20px;
      //height: 100% !important;
    }

    table[data-sortable] thead tr th:first-child, 
    table[data-sortable] tbody tr td:first-child, 
    table[data-sortable] tfoot tr td:first-child {
        border-right: 1px solid #ccc;
        box-shadow: 0px 11px 12px 3px rgba(0, 0, 0, 0.2);
        left: 0px !important;
    }

    table[data-sortable] thead tr th:nth-child(2),
    table[data-sortable] tbody tr td:nth-child(2) {
      padding-left: 175px;
      /*to show second column behind the first*/
    }
    table[data-sortable] tbody tr td[data-sorted="true"]:first-child {
      background-color: #fafafa;
    }
    
  }