/********************* BEGIN Utility Styles ******************************************/

.row.utility {
    padding-right: 0.9375em;
}
.utility-background {
    background: #2a71a5;
    min-height: 29px;
}
.utility {
    color: white;
    padding: 0;
    text-align: right;

    a {
        color: white;
    }

    span {
        padding: 0.2em 1em;
        display: inline-block;
        &:last-child {
            padding-right: 0;
        }
    }

}
/* These utility dictionary classes aren't currently used, but should be once we do the dropdown for the dictionary link on the utility bar */
/* removing dictionary dropdown styles until functionality is implemented again
#utility-dictionary {
    position: relative;

    &.dropdown {
        background: url($buttons + "white-arrow-down.png") no-repeat 100% 60%;
    }

    &.link {
        // following 2 lines added to accomodate the UI/UX request from Lynn:
        // as long as the dictionary functionality does not work, the dropdown arrow should not appear.
        padding-right: 0px;
        background: none;
    }

    &.active {
        background: #f5f7f6;

        a {
            color: #2a73a8;
        }
    }
}

#utility-dropdown {
    width: 20em;
    display: none;
    text-align: left;
    color: #7f8084;
    padding: 1em;
    overflow: hidden;
    background: #f5f7f6;
    @include transition(height 0.5s ease-out 0s);
    position: absolute;
    top: 1.4em;
    right: 0;
    z-index: 10;
}

form.dictionary-dropdown {
    margin: 0;

    input {
        width: 19em;
        display: inline;
        margin-left: 2em;
    }

    ul {
        margin: 0;
    }

    ul li {
        display: inline;
        margin-right: 0.3em;
    }
}
*/
/********************* END Utility Styles ******************************************/
