@import 'colors';
//$ncisprite: url($icons + "nci-sprite.png");

$siteSearchFormPadding: 6.5em;
$swKeywordFontSize: 1.375em;

/* Noto Sans */
$noto: "Noto Sans";
$noto-font-stack: $noto, "Century Gothic", Arial, sans-serif;

/* Montserrat */
$montserrat: Montserrat;
$montserrat-font-stack: $montserrat,"Avant Garde", Arial, sans-serif;

/* DIN */
$din-condensed-stack: "DIN Condensed", $montserrat-font-stack;
$din-regular-stack: "DIN Regular", $montserrat-font-stack;