{% set featured_item_node = content.field_featured_item[0]["#node"] %}
{% set nid = featured_item_node.id %}

{# Set URL #}
{% set url = path('entity.node.canonical', {'node' : nid}) %}

{# Set image #}
{% if content.field_override_image_promotional[0] %}
  {% set img = content.field_override_image_promotional %}
{% elseif featured_item_node.field_image_promotional[0] %}
  {% set img = drupal_field('field_image_promotional', 'node', nid) %}
{% elseif featured_item_node.field_image_article[0] %}
  {% set img = drupal_field('field_image_article', 'node', nid) %}
{% endif %}

{# Set title #}
{% if content.field_override_card_title[0] %}
  {% set title = content.field_override_card_title[0] %}
{% elseif featured_item_node.field_card_title[0] %}
  {% set title = featured_item_node.field_card_title[0].value %}
{% else %}
  {% set title = featured_item_node.field_short_title[0].value %}
{% endif %}

<div class="slot-item equalheight large-4 columns card gutter">
  <div class="feature-card">
    <a href="{{url}}">
      <div class="image-hover">
        {{img}}
      </div>
      <h3>{{title}}</h3>
    </a>
  </div>
</div>
