{#
/**
 * @file
 * Theme macros for common content page tasks.
 */
#}

{% macro displayDates(node, content) %}
  {% if content.field_date_posted[0] or content.field_date_updated[0] or content.field_date_reviewed[0] %}
    {# The context used with trans is because some of the labels are translated differently
        in core.
    #}
    <div id="cgvDate">
      <div class="document-dates horizontal">
        <ul class="clearfix">
          {% if content.field_date_posted[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Posted{% endtrans %}:</strong>
              {{ content.field_date_posted[0] }}
            </li>
          {% endif %}
          {% if content.field_date_updated[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Updated{% endtrans %}:</strong>
              {{ content.field_date_updated[0] }}
            </li>
          {% endif %}
          {% if content.field_date_reviewed[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Reviewed{% endtrans %}:</strong>
              {{ content.field_date_reviewed[0] }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}
