{#
/**
 * @file
 * Theme macros for common content page tasks.
 */
#}

{% macro displayDates(node, content) %}
  {% if node.field_date_display_mode | length > 0 %}
    {# The context used with trans is because some of the labels are translated differently
        in core.
    #}
    <div id="cgvDate">
      <div class="document-dates horizontal">
        <ul class="clearfix">
          {% if content.field_date_posted[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Posted{% endtrans %}:</strong>
              {{ node.field_date_posted.value|date('U')|format_date('cgov_display_date') }}
            </li>
          {% endif %}
          {% if content.field_date_updated[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Updated{% endtrans %}:</strong>
              {{ node.field_date_updated.value|date('U')|format_date('cgov_display_date') }}
            </li>
          {% endif %}
          {% if content.field_date_reviewed[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Reviewed{% endtrans %}:</strong>
              {{ node.field_date_reviewed.value|date('U')|format_date('cgov_display_date') }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}
