<div class="slot-item">
  <div class="managed list without-date">
    <p id="Categories" tabindex="0" class="title">{% trans %}Categories{% endtrans %}</p>
    {{ content.blog_categories }}
  </div>
</div>