<div class="contentid-1070817 slot-item first-SI">
  <div class="managed list with-date">
    <p id="Categories" tabindex="0" class="title">Categories</p>
    <ul>
      {{ content }}
    </ul>
  </div>
</div>
