<div class="contentid-1070817 slot-item first-SI">
  <div class="managed list with-date">
    <p id="Featured+Posts" tabindex="0" class="title">Featured Posts</p>
    <ul>
      {{ content }}
    </ul>
  </div>
</div>
