<div id='cgov-blog-post-pagination>' class='blog-pager'>

  {% if content['#prev_nid'] is not empty %}
    <div class='blog-post-older'>
      <a href="{{ content['#prev_link'] }}">&lt; {% trans %}Older Post{% endtrans %}</a>
      <p><i>{{ content['#prev_title'] }}</i></p>
    </div>
  {% endif %}

  {% if content['#next_nid'] is not empty %}
    <div class='blog-post-newer'>
      <a href="{{ content['#next_link'] }}">{% trans %}Newer Post{% endtrans %} &gt;</a>
      <p><i>{{ content['#next_title'] }}</i></p>
    </div>
  {% endif %}

</div>