
<!-- ********************************* BEGIN Main Blog Page Layout Region ********************************** -->
<div class="medium-9 columns contentzone" id="main" tabindex="0" role="main">
  {{ content.first }}
</div>
<!-- ********************************* END Main Blog Page Layout Region ********************************** -->

<!-- ********************************* BEGIN Blog Page Right Rail ********************************** -->
<div id="nvcgSlListBlogRTRail" class="medium-3 columns right right-rail">
  {{ content.second }}
</div>
<!-- ********************************* END Blog Page Right Rail ********************************** -->