{% set url = content.field_featured_url[0]['#url'] %}
{% set img = content.field_override_image_promotional %}
{% set title = content.field_override_card_title %}

<div class="slot-item equalheight large-4 columns card gutter">
  <div class="feature-card">
    <a href="{{url}}">
      <div class="image-hover">
        {{img}}
      </div>
      <h3>{{title}}</h3>
    </a>
  </div>
</div>
