@import '~Core/styles/breakpoints';
@import '~Core/styles/colors';
@import '~Core/styles/variables';
@import '../styles/sprites/svg-sprite';

// theme color palette
$purple1: #6c81e8;
$purple2: #6254a3;
$purple3: #6264b4;
$purple4: #951b81;
$purple5: #6b35a6;
$purple6: #4d226d;
$purple7: #e9e7f7;
$purple8: #77bcff;

// default theme text color
.main-content a,
.main-content .feature-card a,
.feature-card.cgvArticle a h3,
ul.breadcrumbs > * a,
.topic-feature .cgvBlogPost a h3,
.pullquote,
.desktop #blog-archive-accordion .ui-accordion-header .toggle,
.desktop #blog-archive-accordion .ui-accordion-header.ui-state-active .toggle,
.multimedia .feature-card a h3 {
  color: $purple5;
}

// default theme link color
.main-content p a:hover,
a .feature-card.cgvArticle a:hover h3,
.main-content a.title:hover,
.card-thumbnail h3 a:focus,
.card-thumbnail h3 a:hover,
.topic-feature a:focus,
.topic-feature a:hover,
.list .title a.title:focus,
.list .title a.title:hover,
.list .title a:focus,
.list .title a:hover,
.feature-card.cgvArticle a:hover h3,
.topic-feature .cgvBlogPost a:hover h3 {
  color: $purple4;
}

// hidden elements
.language-bar,
#microsite-a .utility {
  display: none;
}

#nvcgSlUtilityBar {
  display: block !important;
  background-color: $purple8;
}

#microsite-a {
  padding: 10px 0;
  margin: 0;
  .nsdb-title {
    font-family: $montserrat-font-stack;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    color: $black;
  }
}

// menu bar
.nav-search-bar {
  background: $purple2;
  background: linear-gradient(180deg, $purple2, $purple3);
}

// mobile menu
.mobile-menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  > a,
  > button {
    margin: 1em auto !important;
    top: 0;
  }
}

// mega menu
#mega-nav { 
  .nav-item.current-page > .nav-item-title > a,
  .nav-item.contains-current > .nav-item-title > a {
    border-bottom-color: $purple5;
  }
  .current-page {
    background-color: $purple5;

    > div .toggle[aria-expanded=true],
    > div[aria-expanded=true] .toggle {
      background-color: $white;
      color: $purple2;
    }

    > div .toggle[aria-expanded=false],
    > div[aria-expanded=false] .toggle {
      background-color: $purple2;
      color: $white;
    }
  }
}

// page options
.page-options {
  li {
    background-color: $purple1;
    &:hover {
      background-color: $purple4;
    }
  }
}

// content styles
a.arrow-link-white:hover:before,
a.arrow-link:hover:before {
  @include svg-sprite(chevron-circle-purple);
}

.pullquote {
  border-left-color: $purple5;
}

.micro-a {
  &.feature-primary {
    .card {
      background-color: $purple5;
    }
  }
  &.multimedia-slot {
    background-color: $purple1;
  }

  .feature-card a, 
  .feature-card.cgvArticle a h3,
  .feature-card.cgvArticle a:hover h3 {
    color: $white;
  }
}


.main-content .guide-card a.arrow-link,
.main-content .guide-card a.arrow-link-white,
.main-content a.definition,
.multimedia .feature-card a,
.search {
  color: $default-text;
}

// footer
.site-footer {
  background-color: $purple6;
}

// theme images
.site-footer__icons {
  .icon {
    transform: translateX(1px) translateY(1px);
  }
  .icon.twitter {
    @include svg-sprite(twitter-purple);
  }
  .icon.govdelivery {
    @include svg-sprite(gov-delivery-purple);
  }
}

.icon-exit-notification {
  @include svg-sprite(external-link-purple);
  font-size: 16px;
}

#sitesearch {
  @include svg-sprite(search-purple);
}

@include break(medium) {
  .nci-logo-pages img {
    min-width: 0;
    max-width: 480px;
  }
}

@include break(large) {
  // header
  header {
    padding-bottom: 1.5em;
  }

  //  main navigation and search
  #swKeyword,
  .search {
    background-color: $white;
    color: $default-text;
  }

  .sub-nav-group-header {
    color: $purple5;

    &:focus,
    &:hover {
      color: $purple4;
    }
  }

  .section-nav {
    .level-0 > div {
      background-color: $purple2;
    }
    div.current-page {
      background-color: $purple5;
      &:after {
        border-left-color: $purple5;
      }
    }
    .level-1.contains-current {
      background-color: $purple7;
    }
  }

  .page-options {
    li,
    li:hover {
      background-color: transparent;
    }
  
    .page-options--resize a:before {
      @include svg-sprite(font-size-purple, mq);
    }
  
    .page-options--print a:before {
      @include svg-sprite(printer-purple, mq);
    }
  
    .page-options--email a:before {
      @include svg-sprite(mail-envelope-closed-purple, mq);
    }
  
    .social-share--facebook a:before {
      @include svg-sprite(facebook-purple, mq);
    }
  
    .social-share--twitter a:before {
      @include svg-sprite(twitter-purple, mq);
    }
  
    .social-share--pinterest a:before {
      @include svg-sprite(pinterest-purple, mq);
    }
  }
}