@import '~Core/styles/breakpoints';
@import '~Core/styles/colors';
@import '~Core/styles/variables';
@import "~Core/styles/environments/percussion";
@import '../styles/sprites/svg-sprite';

$cgov_path: "/profiles/custom/cgov_site/themes/custom/cgov/cgov_common/dist/";

// theme color palettef
$iris: #6254a3;
$sangria: #951b81;
$ultra-violet: #6b35a6;
$azure: #1e6fd6;
$sky-blue: #77bcff;
$electric-lilac: #6c81e8;
$plum: #592e6b;
$thistle: #f6eefd;
$raindrop: #cfeaf1; // used in svg for guide card arrow
$slate: #606060;


// utility shades
$eggshell: #f2f0ef;
$graphite: #4d4d4d;
$storm: #666666;
$asphalt: #2e2e2e;
$aqua: #c7eae8;
$jade: #97ccc6;
$freeze: #c2e4e0;
$space: #023c5a;
$bronze: #c78005;

// default theme link color
.main-content a,
#cgvBody h2 a,
#cgvBody h3 a,
#cgvBody h4 a,
#cgvBody h5 a,
#cgvBody h6 a,
.contentzone h2 a,
.contentzone h3 a,
.contentzone h4 a,
.contentzone h5 a,
.contentzone h6 a,
.main-content .feature-card a,
ul.breadcrumbs>* a,
.pullquote,
.desktop #blog-archive-accordion .ui-accordion-header .toggle,
.desktop #blog-archive-accordion .ui-accordion-header.ui-state-active .toggle,
.multimedia .feature-card a h3,
.topic-feature a h3,
table tbody tr td a,
li a {
  color: $ultra-violet;
}

// default theme link hover/active color (for items that change color rather than get underlined)
#cgvBody h2 a:focus,
#cgvBody h2 a:hover,
#cgvBody h3 a:focus,
#cgvBody h3 a:hover,
#cgvBody h4 a:focus,
#cgvBody h4 a:hover,
#cgvBody h5 a:focus,
#cgvBody h5 a:hover,
#cgvBody h6 a:focus,
#cgvBody h6 a:hover,
.contentzone h2 a:focus,
.contentzone h2 a:hover,
.contentzone h3 a:focus,
.contentzone h3 a:hover,
.contentzone h4 a:focus,
.contentzone h4 a:hover,
.contentzone h5 a:focus,
.contentzone h5 a:hover,
.contentzone h6 a:focus,
.contentzone h6 a:hover,
.main-content a.title:hover,
.card-thumbnail h3 a:hover,
.card-thumbnail h3 a:focus,
.list .title a.title:hover,
.list .title a.title:focus,
.list .title a:hover,
.list .title a:focus,
.list.managed li.has-media:hover a,
.list.managed li.has-media:focus a,
.list.dynamic li.has-media:hover a,
.list.dynamic li.has-media:focus a,
.sub-nav-group a.sub-nav-group-header:hover,
.sub-nav-group a.sub-nav-group-header:focus,
.main-content .guide-card a.arrow-link:hover,
.main-content .guide-card a.arrow-link:focus,
.feature-card a:hover,
.feature-card a:focus,
.post-title a:hover,
.post-title a:focus,
.feature-secondary a:hover,
.feature-secondary a:focus,
.feature-secondary a:hover h3,
.feature-secondary a:focus h3,
.blog-feature a:hover h3,
.blog-feature a:focus h3,
.multimedia-slot a:hover h3,
.multimedia-slot a:focus h3,
.multimedia .card:hover h3,
.multimedia .card:focus h3,
.landing-thumb-text h3 a:hover,
.landing-thumb-text h3 a:focus,
.title a.title:hover,
.title a.title:focus,
.title a:hover,
.title a:focus,
.page-options li a:hover,
.page-options li a:focus,
.card-thumbnail .card-thumbnail:hover a,
.card-thumbnail .card-thumbnail:focus a,
.contentzone table tbody tr td a:hover,
.contentzone table tbody tr td a:focus,
a.arrow-link:hover,
a.arrow-link:focus,
.topic-feature a:hover h3,
.topic-feature a:focus h3
{
  color: $sangria;
}

.embedded-entity[data-entity-embed-display*="_feature_card"] {
  .feature-card {
    a {
      &:hover {
        h3 {
          color: $sangria;
        }
      }

      h3 {
        color: $ultra-violet;
      }
    }
  }
}

// hidden elements
#microsite-a .utility {
  display: none;
}

#nvcgSlUtilityBar {
  display: block !important;
  background-color: $sky-blue;
}

#microsite-a {
  padding: 10px 0;
  margin: 0;

  .nsdb-title {
    font-family: $montserrat-font-stack;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    color: $asphalt;
  }
}

// language bar
// Override colors from _language_bar.scss
.language-bar {
  background: #fff;
}
.sitewide-language a {
  color: $ultra-violet;
}

// menu bar
.nav-search-bar {
  background: $iris;
}

// mega menu
#mega-nav {

  .nav-item.current-page>.nav-item-title>a,
  .nav-item.contains-current>.nav-item-title>a {
    border-bottom-color: $ultra-violet;
  }

  .current-page {
    background-color: $ultra-violet;

    >div .toggle[aria-expanded="true"],
    >div[aria-expanded="true"] .toggle {
      background-color: $white;
      color: $electric-lilac;
    }

    >div .toggle[aria-expanded="false"],
    >div[aria-expanded="false"] .toggle {
      background-color: $plum;
      color: $white;
    }
  }
}

// page options
.page-options {
  li {
    background-color: $electric-lilac;

    &:hover {
      background-color: $sangria;
    }
  }
}

// content styles
.main-content {
  background-image: none;
  background-color: #fff;
}

a.arrow-link-white:hover:before,
a.arrow-link:hover:before {
  @include svg-sprite(chevron-circle-purple);
}

a.arrow-link-white:hover:before,
a.arrow-link:hover:before {
  @include svg-sprite(chevron-circle-purple-hover);
}

.pullquote {
  border-left-color: $ultra-violet;
}

a.infographic-view-full {
  background-color: $azure;
	color: $white;
}

a.infographic-view-full:focus,
a.infographic-view-full:hover {
  background-color: $sangria;
	color: $white;
}

.floating-delighter__link:hover,
.floating-deligher:hover a {
  color: #fff !important;
}

.feature-primary {
  .card {
    &:not(.topic-feature){
      background-color: $ultra-violet;
    }
  }

  &.multimedia-slot {
    background-color: $electric-lilac;
  }

  .feature-card a,
  .feature-card.cgvArticle a h3,
  .feature-card.cgvArticle a:hover h3 {
    color: $white;
  }
}

.guide-card .card {
  background: #f5f0fd;
}

.multimedia-slot {
  background: url($cgov_path + "images/multimedia-background-purple.jpg") repeat;

  &:last-child {
    margin-bottom: 0;
  }
}

figure a.article-image-enlarge {
  background-color: $azure;

  &:hover,
  &:focus {
    background-color: $sangria;
    color: #fff;
  }
}

.ui-accordion-header.even,
.ui-accordion-header.even.ui-state-active {
  background-color: #d4efff;
}

.ui-accordion-header.odd,
.ui-accordion-header.odd.ui-state-active {
  background-color: #bddeff;
}

.ui-accordion-header.odd .toggle[aria-expanded="false"],
.ui-accordion-header.odd[aria-expanded="false"] .toggle {
  background-color: #77bcff;
}

.ui-accordion-header.even .toggle[aria-expanded="false"],
.ui-accordion-header.even[aria-expanded="false"] .toggle {
  background-color: #afddf8;
}

.main-content .guide-card a.arrow-link,
.main-content .guide-card a.arrow-link-white,
.main-content a.definition,
.multimedia .feature-card a,
.search {
  color: $default-text;
}

// form elements
.radio input[type="radio"]:checked+label:before {
  background-color: $electric-lilac;
}

.radio input[type="radio"]+label:before {
  border-color: $electric-lilac;
}

.ui-selectmenu-button span.ui-icon {
  background-color: $electric-lilac;
}

.ui-selectmenu-button:focus span.ui-icon,
.ui-selectmenu-button:hover span.ui-icon {
  background-color: #586fbf;
}

.ui-selectmenu-menu .ui-state-focus {
  background: $sangria;
}

.button.submit,
.button[type="submit"],
form button.submit,
form button[type="submit"] {
  background-color: $sangria;
  border-color: $plum;
}

.button.submit:focus,
.button.submit:hover,
.button[type="submit"]:focus,
.button[type="submit"]:hover,
form button.submit:focus,
form button.submit:hover,
form button[type="submit"]:focus,
form button[type="submit"]:hover {
  background-color: $plum;
}

// footer
.site-footer {
  background: url($backgrounds + "hexagon_molecular_structure_footer.png") no-repeat 130% 00px,
    linear-gradient(45deg, $ultra-violet, #6251c0);
}

// theme images
.site-footer__icons {
  .icon {
    transform: translateX(1px) translateY(1px);
  }

  .icon.twitter {
    @include svg-sprite(twitter-purple);
  }

  .icon.govdelivery {
    @include svg-sprite(gov-delivery-purple);
  }

  li:hover {
    opacity: 1;
  }

  .twitter:hover {
    @include svg-sprite(twitter-purple-hover);
  }

  .icon.govdelivery:hover {
    @include svg-sprite(gov-delivery-purple-hover);
  }
}

.icon-exit-notification {
  @include svg-sprite(external-link-purple);
  font-size: 16px;
}

#sitesearch {
  @include svg-sprite(search-purple);
}

@include break(medium) {
  .nci-logo-pages img {
    min-width: 0;
    max-width: 480px;
  }
}

@include bp(medium) {
  .page-options-container #PageOptionsControl1 ul {
    float: none;
  }
}

@include bp(medium-down) {

  .mobile-menu-bar {
    a,
    button {
      width: 28%;
      margin-left: 0;
    }

    .nav-search {
      float: right;
    }
  }


  #section-menu-button {
    background-color: $iris;
  }

  #mega-nav li.contains-current>div.nav-item-title>a {
    color: $iris;
  }

  #mega-nav .toggle[aria-expanded=false],
  #mega-nav[aria-expanded=false] .toggle,
  .section-nav .has-children>.current-page .toggle[aria-expanded=false],
  .section-nav .level-1.contains-current .toggle[aria-expanded=false],
  .section-nav .toggle[aria-expanded=false],
  .section-nav[aria-expanded=false] .toggle {
    background-color: $plum;
  }

  #mega-nav .toggle[aria-expanded=true],
  #mega-nav[aria-expanded=true] .toggle,
  .section-nav .has-children>.current-page .toggle[aria-expanded=true],
  .section-nav .level-1.contains-current .toggle[aria-expanded=true],
  .section-nav .toggle[aria-expanded=true],
  .section-nav[aria-expanded=true] .toggle {
    color: $electric-lilac;
  }

  #mega-nav,
  #mega-nav li {
    background-color: $eggshell;
  }

  .nav-menu a:active {
    background-color: $sangria;
  }

  .section-nav {
    background: $eggshell;

    .level-1.contains-current {
      background: $thistle;

      .current-page {
        background: $ultra-violet;
      }
    }
  }

  .section-nav .level-0>div {
    background-color: $iris;
  }

  .section-nav div.current-page {
    background: $ultra-violet;
  }



  .section-nav .contains-current>div a {
    color: $iris;
  }

  .section-nav .level-0.contains-current>div a {
    color: #fff;
  }

  .section-nav div.current-page>a {
    color: #fff;
  }

  .hero-text {
    background: #32115b;
  }

}

@include break(large) {

  //  changed from padding to margin so that collapses with conjunction with the margin-top of .micro-a on the utility bar
  header {
    margin-bottom: 20px;
  }

  //  main navigation and search
  #swKeyword,
  .search {
    background-color: $white;
    color: $graphite;
  }

  .sub-nav-group-header {
    color: $ultra-violet;

    &:focus,
    &:hover {
      color: $sangria;
    }
  }

  .section-nav {
    .level-0>div {
      background-color: $iris;
    }

    div.current-page {
      background-color: $ultra-violet;

      &:after {
        border-left-color: $ultra-violet;
      }
    }

    .level-1.contains-current {
      background: $thistle;
      .current-page {
        background: $ultra-violet;
      }
    }
  }

  .page-options {

    li,
    li:hover {
      background-color: transparent;
    }

    .page-options--resize a:before {
      @include svg-sprite(font-size-purple, mq);
    }

    .page-options--print a:before {
      @include svg-sprite(printer-purple, mq);
    }

    .page-options--email a:before {
      @include svg-sprite(mail-envelope-closed-purple, mq);
    }

    .social-share--facebook a:before {
      @include svg-sprite(facebook-purple, mq);
    }

    .social-share--twitter a:before {
      @include svg-sprite(twitter-purple, mq);
    }

    .social-share--pinterest a:before {
      @include svg-sprite(pinterest-purple, mq);
    }
  }

  .section-nav .contains-current>div a {
    color: $iris;
  }

  .section-nav .level-0.contains-current>div a {
    color: #fff;
  }

  .section-nav div.current-page>a {
    color: #fff;
  }
}
