{% for item in items %}
  {# Fake an entity embed #}
  <div data-entity-embed-display="view_mode:media.image_display_article_medium" class="embedded-entity align-right">
    {{item.content}}
  </div>
{% endfor %}
