{# need to fix image-right-medium as a param #}
<figure class="image-right-medium centered-set">
    <div class="centered-element">
      {% if content.enlarge_uri[0] %}
        <a href="{{content.enlarge_uri[0]}}"
           target="_blank"
           class="article-image-enlarge no-resize"
        >{% trans %}Enlarge{% endtrans %}</a>
      {% endif %}
      {{content.field_media_image}}
    </div>
    {% set credit = content.field_credit|field_value %}
    {# TODO: Handle empty captions, even when the captions are full of empty tags #}
    {% if content.field_caption|render|striptags|trim or credit  %}
    <figcaption>
       <div class="caption-container no-resize">
           {% if content.field_caption %}
           <p>{{content.field_caption}}</p>
           {% endif %}

           {% if credit %}
            <div class="image-photo-credit">{% trans %}Credit{% endtrans %}: {{ credit }}</div>
           {% endif %}
       </div>
    </figcaption>
    {% endif %}
</figure>
