// color mixin
@mixin toggle-color($color, $bg-color) {
	&[aria-expanded="false"] .toggle,
	.toggle[aria-expanded="false"] {
		color: $color;
		background-color: $bg-color;
	}

	&[aria-expanded="true"] .toggle,
	.toggle[aria-expanded="true"] {
		color: $bg-color;
		background-color: $color;
	}
}