<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="main-content type" id="main-content">
    {{ content.field_application_module }}
  </div>
</article>
