<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    {{ content.field_application_module }}
  </div>
</article>
