<div class="page-options-container">
  <!-- PAGE OPTIONS -->
  {% set classlist = _context.configuration.additionalClasses 
      ? "page-options no-resize #{_context.configuration.additionalClasses}" 
      : "page-options no-resize" 
  %}

  <div id="PageOptionsControl1" class="{{ classlist }}">
      <ul>
        {% if content.options.print %}
          <li class="page-options--print">
            <a title="Print" aria-label="Print" href="#"></a>
          </li>
        {% endif %}
        {% if content.options.email %}
          <li class="page-options--email">
            <a title="Email" aria-label="Email" href="#"></a>
          </li>
        {% endif %}
      </ul>
  </div>
  <!-- END PAGE OPTIONS -->
</div>
