#ctscb.show:after,
#ctscb:after,
.api-reference-section .api-reference-content:before,
.cts-dialog .ui-dialog-close .ui-icon,
.cts-dialog .ui-dialog-close:active .ui-icon,
.cts-dialog .ui-dialog-close:focus .ui-icon,
.cts-dialog .ui-dialog-close:hover .ui-icon,
.cts-dialog i.warning,
.icon-collapse,
.icon-expand,
.lightbulb-circle-yellow {
  display: inline-block;
  background-image: url(/publishedcontent/images/images/design-elements/sprites/svg-sprite.__v15577802.svg);
  background-size: 12em 262.5em;
}
.cts-start-over {
  white-space: nowrap;
}
.cts-search-page > .columns,
.delighter-rail {
  padding: 0;
}
.cts-search-page > .columns:last-child,
.delighter-rail:last-child {
  float: left;
}
.cts-form fieldset {
  position: relative;
  padding: 16px;
  border: 1px solid #bdbdc2;
  border-radius: 4px;
}
.cts-form fieldset legend {
  position: relative;
  float: none;
  width: calc(100% + 34px);
  top: 0;
  left: -17px;
  padding: 8px 43px 8px 17px;
  border-radius: 4px 4px 0 0;
  background-color: #2a72a5;
  font-size: 1em;
  color: #fff;
  word-wrap: break-word;
  margin-right: -34px;
}
.cts-form fieldset .text-icon-help {
  position: absolute;
  top: 5px;
  right: 16px;
}
.cts-form div.disabled {
  opacity: 0.45;
}
.cts-form .field-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cts-form .field-cols > div,
.cts-form .field-cols fieldset {
  width: calc(50% - 10px);
}
@media only screen and (max-width: 640px) {
  .cts-form .field-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cts-form .field-cols > div,
  .cts-form .field-cols fieldset {
    width: 100%;
  }
}
.cts-form .two-columns {
  -webkit-columns: 2;
  column-count: 2;
  margin-bottom: 0;
}
.cts-form .hint-text,
.cts-form label {
  margin: 12px 0 6px;
}
.cts-form .hint-text:first-of-type,
.cts-form label:first-of-type {
  margin-top: 0;
}
.cts-form .field-group {
  margin: 12px 0;
}
.cts-form .field-group:last-child {
  margin-bottom: 0;
}
.cts-form .btn-group {
  margin: 40px 0;
  text-align: center;
}
.cts-form .btn-group input:last-child {
  margin-right: 0;
}
.cts-form input {
  margin-bottom: 0;
  height: auto;
}
.cts-form input[disabled] {
  background-color: #f2f2f3;
  border-color: #d3d3d3;
}
.cts-form input.error {
  background-color: #f2f2f3;
}
.cts-form .ui-state-disabled {
  opacity: 1;
}
.cts-form .ui-selectmenu-button span.ui-icon {
  width: 39px;
  height: 39px;
}
.cts-form .ui-selectmenu-button span.ui-selectmenu-text {
  line-height: normal;
}
.cts-form .ui-button {
  border-color: #bdbdc2;
}
.cts-form .ui-button:hover {
  background: #e6e6e6
    url(/publishedcontent/images/images/jquery/ui-bg_glass_75_e6e6e6_1x400.__v15577802.png)
    repeat-x scroll 50% 50%;
}
.cts-form .ui-button[aria-expanded='true'] {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #eee),
    to(#fff)
  );
  background-image: linear-gradient(180deg, #eee 50%, #fff);
  background-repeat: repeat-x;
}
.cts-form button.remove-suggestion {
  margin: 20px 0 0;
}
.cts-form .error-msg {
  color: #c60f13;
  font-size: 12px;
}
.cts-form #a {
  width: 50%;
}
@media print {
  .cts-form fieldset legend {
    border: 1px solid #bdbdc2;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .cts-form fieldset .text-icon-help {
    top: 8px;
  }
}
:root .cts-form .text-icon-help,
_::-webkit-full-page-media,
_:future {
  top: -34px;
}
@-moz-document url-prefix() {
  .cts-form fieldset .text-icon-help {
    top: -32px;
  }
}
.api-reference-section {
  font-size: 14px;
}
.api-reference-section h3 {
  background-color: #319ebd;
  color: #fff;
  margin: 0;
  padding: 15px;
  border-bottom: 10px solid #167a94;
}
.api-reference-section .api-reference-content {
  position: relative;
  padding: 25px 25px 25px 105px;
  background-color: #f3f3f3;
  min-height: 100px;
}
.api-reference-section .api-reference-content:before {
  content: '';
  position: absolute;
  width: 4.1875em;
  height: 4.18756em;
  background-position: 8.06452% 1.33107%;
  left: 2em;
  top: 23px;
}
.api-reference-section .api-reference-content p:first-of-type {
  margin: 0;
}
@media only screen and (max-width: 640px) {
  .api-reference-section .api-reference-content {
    padding-left: 20px;
  }
  .api-reference-section .api-reference-content:before {
    background-image: none;
    display: none;
  }
}
.cts-results-title {
  padding-bottom: 1.25em;
}
.cts-results-lower-control,
.cts-results-top-control {
  padding-top: 1em;
  padding-bottom: 1em;
}
.cts-results-lower-control .button,
.cts-results-top-control .button {
  margin: 0;
}
.cts-results-top-control {
  margin-bottom: 1.3em;
  border-bottom: 1px solid #7d7d7d;
}
.cts-results-top-control .ct-listing-pager {
  padding-top: 1em;
}
.row.cts-results-lower-control {
  width: 100%;
  padding: 1em 0 0;
}
.cts-results-lower-control {
  border-top: 1px solid #7d7d7d;
}
.cts-results-select-all {
  margin-right: 20px;
}
.cts-result-item {
  padding-bottom: 2.25em;
}
.cts-with-checkbox {
  padding-left: 1.5em !important;
}
.cts-checkbox {
  position: absolute !important;
  top: -0.6em;
  left: 0;
  z-index: 1;
}
.cts-checkbox .ui-helper-hidden-accessible {
  top: 8px;
  left: -14px;
}
input[type='checkbox'] {
  display: none;
}
:root input[type='checkbox'],
_::-webkit-full-page-media,
_:future {
  display: inline;
}
:root input[type='checkbox']:focus + label:before,
_::-webkit-full-page-media,
_:future {
  outline: 5px auto -webkit-focus-ring-color;
}
.status {
  display: inline-block;
  margin-left: -0.9375em;
  font: normal 16px Montserrat, Avant Garde, Arial, sans-serif;
  text-transform: uppercase;
  color: #7f3187;
  border: 2px solid #7f3187;
  padding: 10px 15px;
}
.status.active {
  color: #2dc799;
  border-color: #2dc799;
}
.status.invite {
  color: #82368c;
  border-color: #82368c;
}
.status.closed {
  color: #bb0e3d;
  border-color: #bb0e3d;
}
.status.not-active {
  color: #606060;
  border-color: #606060;
}
.icon-collapse,
.icon-expand {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 8px;
  font-size: 121%;
  width: 1.375em;
  height: 1.375em;
  background-position: 5.91716% 77.16064%;
}
.icon-collapse {
  width: 1.375em;
  height: 1.375em;
  background-position: 5.91716% 68.35049%;
}
.nciappmodulepage .accordion-controls {
  float: right;
  margin: 18px -0.9375em 10px 10px;
}
.nciappmodulepage .accordion-controls a {
  font: normal 13px Montserrat, Avant Garde, Arial, sans-serif;
}
.nciappmodulepage .accordion-controls a:last-child {
  margin-left: 30px;
}
.nciappmodulepage .accordion {
  margin-top: 20px;
}
.nciappmodulepage .accordion #country-selector-button,
.nciappmodulepage .accordion #state-selector-button {
  width: 70% !important;
  margin-left: 10px;
}
.nciappmodulepage .accordion .location-text {
  display: inline-block;
  width: 65%;
  margin-bottom: 10px;
}
.nciappmodulepage .accordion #filterable-trialslist div[itemprop='location'],
.nciappmodulepage .accordion #proximity-trialslist div[itemprop='location'] {
  margin-bottom: 20px;
}
.nciappmodulepage
  .accordion
  #proximity-trialslist
  > div[itemprop='location']:first-of-type {
  clear: both;
  margin-top: 20px;
}
a.listing-chat-button {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 3px 10px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
  margin: -8% 15px 15px 32%;
  background-color: #62539d;
  color: #fff;
  text-decoration: none;
  line-height: 24px;
  font-family: Montserrat, Avant Garde, Arial, sans-serif;
  font-size: 1.125em;
}
a.listing-chat-button:active,
a.listing-chat-button:hover {
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .accordion label[for='country-selector'],
  .accordion label[for='state-selector'] {
    width: 60px;
  }
  .accordion #country-selector-button,
  .accordion #state-selector-button {
    margin-bottom: 10px;
  }
  .api-reference-section {
    margin-top: 50px;
  }
  .cts-results-lower-control .ct-listing-pager,
  .cts-results-top-control .ct-listing-pager {
    float: left;
  }
  .cts-results-lower-control .selections-area {
    padding-bottom: 1em;
    border-bottom: 1px solid #7d7d7d;
  }
  .cts-results-lower-control .ct-listing-pager {
    padding-top: 1em;
  }
  .cts-results-top-control {
    padding-top: 0;
    border-top: 1px solid #7d7d7d;
  }
  .cts-results-top-control .selections-area {
    clear: left;
    padding-top: 1em;
    border-top: 1px solid #7d7d7d;
  }
  .cts-results-top-control .selections-area:first-child {
    border-top: none;
  }
  .cts-results-top-control .ct-listing-pager {
    padding: 1em 0;
  }
}
@media only screen and (max-width: 640px) {
  .accordion #country-selector-button,
  .accordion #state-selector-button {
    display: block;
    margin-left: 0;
    width: 100% !important;
  }
  .accordion .location-text {
    width: 100%;
    float: none;
  }
  .accordion .location-link {
    display: block;
    margin-top: 10px;
    float: none !important;
  }
  .api-reference-section .small-2 {
    display: none;
  }
  .api-reference-section .small-10 {
    width: 100%;
  }
  a.listing-chat-button {
    line-height: 22px;
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 390px) {
  .cts-results-select-all {
    padding-bottom: 1em;
    display: inline-block;
  }
}
@media only screen and (min-width: 1025px) {
  .cts-results-lower-control .selections-area {
    float: left;
  }
}
.switch-light span span,
.switch-toggle a {
  display: none;
}
@media only screen {
  .switch-light {
    position: relative;
    display: block;
  }
  .switch-light:after {
    clear: both;
    content: '';
    display: table;
  }
  .switch-light a {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .switch-light > span,
  .switch-light label {
    line-height: 2em;
  }
  .switch-light input {
    display: inline;
    position: absolute;
    opacity: 0;
    z-index: 3;
  }
  .switch-light input:checked ~ span a {
    right: 0;
  }
  .switch-light strong {
    font-weight: inherit;
  }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    padding: 0;
    text-align: left;
  }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }
  .switch-ios.switch-light span span {
    color: #3e4043;
  }
  .switch-ios.switch-light a {
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    background-color: #2b7bba;
    border-radius: 100%;
    border: 0.25em solid #d8d9db;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .switch-ios.switch-light > span {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 2em;
    background-color: #d8d9db;
    border-radius: 1.75em;
    border: 1px dotted transparent;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .switch-ios.switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .switch-ios.switch-light > span span:first-of-type {
    opacity: 1;
    padding-left: 1.875em;
  }
  .switch-ios.switch-light > span span:last-of-type {
    padding-right: 1.875em;
    padding-left: 0.3125em;
  }
  .switch-ios.switch-light input:checked ~ span a {
    left: 100%;
    border-color: #accae1;
    margin-left: -2em;
  }
  .switch-ios.switch-light input:checked ~ span {
    -webkit-box-shadow: inset 0 0 0 30px #accae1;
    box-shadow: inset 0 0 0 30px #accae1;
  }
  .switch-ios.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .switch-ios.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
  }
  .switch-ios.switch-toggle {
    background-color: #d8d9db;
    border-radius: 30px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .switch-ios.switch-toggle a {
    background-color: #accae1;
    border: 0.125em solid #d8d9db;
    border-radius: 1.75em;
    -webkit-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
  }
  .switch-ios.switch-toggle label {
    height: 2.4em;
    color: #888b92;
    line-height: 2.4em;
    vertical-align: middle;
  }
  .switch-ios input:checked + label {
    color: #3e4043;
  }
  .switch-ios input:focus ~ span {
    border: 1px dotted #2b7bba;
  }
}
@font-face {
  font-family: Montserrat;
  src: url(/PublishedContent/Fonts/Montserrat-regular.eot?#iefix);
  src: url(/PublishedContent/Fonts/Montserrat-regular.eot?#iefix) format('eot'),
    url(/PublishedContent/Fonts/Montserrat-regular.woff) format('woff'),
    url(/PublishedContent/Fonts/Montserrat-regular.__v15577802.ttf)
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(/PublishedContent/Fonts/Montserrat-700.eot?#iefix);
  src: url(/PublishedContent/Fonts/Montserrat-700.eot?#iefix) format('eot'),
    url(/PublishedContent/Fonts/Montserrat-700.woff) format('woff'),
    url(/PublishedContent/Fonts/Montserrat-700.__v15577802.ttf)
      format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: DIN Condensed;
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/1381346/ba8374b0-f3d8-4cc2-b782-8bf578b1950f.eot#iefix);
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/1381346/ba8374b0-f3d8-4cc2-b782-8bf578b1950f.eot#iefix)
      format('eot'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/1381346/54113791-74a1-4d34-a045-592d484e51b9.woff2)
      format('woff2'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/1381346/07e17e93-babd-4bce-bbde-cc2a88b4564a.woff)
      format('woff'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/1381346/5dc47294-657d-4a9d-b4f9-e26ea02bfb27.__v15577802.ttf)
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DIN Condensed;
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/5425816/4b974770-fdd2-4cb6-ab28-02f5000b83ff.eot#iefix);
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/5425816/4b974770-fdd2-4cb6-ab28-02f5000b83ff.eot#iefix)
      format('eot'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5425816/84ab08ad-4ce4-454b-a247-bc639f5eacd7.woff2)
      format('woff2'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5425816/c76f8a54-5ec1-4f2f-88e7-7a935ccbf62b.woff)
      format('woff'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5425816/56633575-7acf-4dbd-94c9-5b013067b285.__v15577802.ttf)
      format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: DIN Regular;
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/5426089/a397c752-ee83-47cf-b8a8-b476511dd2c9.eot#iefix);
  src: url(https://static.cancer.gov/fonts/FS-WebFonts/5426089/a397c752-ee83-47cf-b8a8-b476511dd2c9.eot#iefix)
      format('eot'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5426089/53fb9c60-2054-4c31-9283-5562244b4935.woff2)
      format('woff2'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5426089/45831ca8-93bd-4808-aa5f-3c915944f727.woff)
      format('woff'),
    url(https://static.cancer.gov/fonts/FS-WebFonts/5426089/429a3e29-88da-4603-94ff-c1450c089c88.__v15577802.ttf)
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
.clinicaltrials-results-criteria-display {
  -webkit-box-shadow: 0 1px 0.2em rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0.2em rgba(0, 0, 0, 0.5);
  position: relative;
  width: 702px;
  padding: 10px 20px;
}
.clinicaltrials-results-criteria-display h3 {
  margin: 0;
  color: #2e2e2e;
}
.clinicaltrials-results-criteria-display > h3 {
  padding-left: 0.5em;
}
.clinicaltrials-results-criteria-display table {
  border: none;
  width: 100%;
  margin-bottom: 0;
}
.clinicaltrials-results-criteria-display tbody {
  max-height: 12em;
  overflow: auto;
}
.clinicaltrials-results-criteria-display tr {
  height: 2.5em;
}
.clinicaltrials-results-criteria-display tr th {
  background-color: #f9f9f9;
}
.clinicaltrials-results-criteria-display tr td:first-child,
.clinicaltrials-results-criteria-display tr th:first-child {
  text-align: right;
  width: 40%;
}
.clinicaltrials-results-criteria-display tr td.cts-schdr {
  text-align: left;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .clinicaltrials-results-criteria-display {
    width: 625px;
  }
}
@media only screen and (max-width: 640px) {
  .clinicaltrials-results-criteria-display {
    width: 100%;
    word-break: break-word;
  }
}
#fieldset--location section > div:not(.radio),
#fieldset--location section div.radio label,
#other-diseases {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#other-diseases.disabled {
  opacity: 0.45;
}
.cts-results-title {
  padding-bottom: 0.5em;
  padding-top: 1em;
}
#fieldset--location section {
  margin: 12px 0 18px;
}
#fieldset--location section:last-child {
  margin-bottom: 0;
}
#fieldset--location section.disabled > div:not(.radio) {
  opacity: 0.45;
}
#fieldset--location section.disabled div.disabled {
  opacity: 1;
}
#fieldset--location section div.disabled,
#fieldset--location section div.radio label.disabled {
  opacity: 0.45;
}
#fieldset--location .field-group {
  margin: 0 0 12px 24px;
}
#fieldset--location .field-group:last-child {
  margin-bottom: 0;
}
#fieldset--location .field-group > input:first-child {
  margin-top: 12px;
}
@media only screen and (max-width: 640px) {
  #fieldset--location .field-group > div {
    margin-bottom: 12px;
  }
  #fieldset--location .field-group > div:last-child {
    margin-bottom: 0;
  }
}
#tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#tp .checkbox {
  width: 25%;
}
@media only screen and (max-width: 450px) {
  #tp .checkbox {
    width: 33.333333%;
  }
}
#tp,
#tt {
  margin-bottom: -6px;
}
.trtmnt-select-dropdown .select2-results__option {
  border-bottom: 1px dashed #bdbdc2;
  color: #606060;
}
.trtmnt-select-dropdown .select2-results__option:last-child {
  border-bottom: none;
}
.drug-item-wrap,
.trtmnt-item-wrap {
  font-size: 0.875em;
  padding: 0 20px 0 17.5px;
}
.drug-item-wrap .drug-item,
.drug-item-wrap .trtmnt-item,
.trtmnt-item-wrap .drug-item,
.trtmnt-item-wrap .trtmnt-item {
  padding: 10px 0;
}
.drug-item-wrap .drug-item .preferred-name,
.drug-item-wrap .trtmnt-item .preferred-name,
.trtmnt-item-wrap .drug-item .preferred-name,
.trtmnt-item-wrap .trtmnt-item .preferred-name {
  font-weight: 700;
}
.search-criteria-box {
  display: none;
  position: relative;
  border: none;
  margin: 0;
}
.row .row .medium-9 .status {
  margin-top: 2em;
}
.accordion-controls {
  margin-top: 3em;
}
#ctscb {
  position: relative;
  background-color: #f2f2f2;
  display: block;
  white-space: nowrap;
  border: 1px solid #333;
  color: #333;
  font-family: Montserrat, Avant Garde, Arial, sans-serif;
  line-height: 2em;
  padding: 0 0 0 5px;
  width: 375px;
  min-width: 215px;
  overflow: hidden;
  margin: 0;
}
#ctscb:active,
#ctscb:focus,
#ctscb:hover {
  text-decoration: none;
}
#ctscb:after {
  content: '';
  position: absolute;
  right: 0;
  width: 2.375em;
  height: 2.375em;
  background-position: 6.53595% 76.06345%;
  font-size: 88%;
  background-color: #277c95;
}
#ctscb.show:after {
  width: 2.375em;
  height: 2.375em;
  background-position: 6.53595% 67.21942%;
}
@media only screen and (max-width: 640px) {
  #ctscb {
    width: 100%;
  }
}
.cts-start-over {
  font-weight: 700;
  display: inline-block;
  margin-top: 15px;
}
.cts-results-label {
  line-height: 2.5em;
  margin: auto 6px auto 0;
}
#proximity-trialslist h4 {
  margin-top: 20px !important;
  font-size: 20px;
}
.locationCity {
  margin-left: 20px;
}
.locationBlock {
  margin-left: 40px;
  word-wrap: break-word;
}
#submit-button-floating {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 0.45em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  max-width: 1000px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}
@media only screen and (min-width: 1025px) {
  #submit-button-floating {
    padding: 0 3.125em;
  }
}
@media only screen and (min-width: 1441px) {
  #submit-button-floating {
    max-width: 1200px;
  }
}
#submit-button-floating .btn-group {
  margin: 13px 0 13px -1px;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  #submit-button-floating .btn-group {
    margin-top: 20px;
  }
}
#submit-button-floating .btn-group input {
  margin: 0;
}
#submit-button-floating .btn-group > div {
  color: #82368c;
  margin-top: 5px;
  font-size: 14px;
}
#submit-button-floating.active {
  opacity: 1;
  pointer-events: auto;
}
#submit-button-floating .columns {
  border: 1px solid #82368c;
  background-color: hsla(0, 0%, 100%, 0.9);
}
#submit-button-floating.at-bottom {
  opacity: 0;
  position: absolute;
  bottom: -1px;
  pointer-events: none;
}
#submit-button-floating.at-bottom .columns {
  width: 100%;
  border-color: transparent;
}
.toggle-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.6em 1.5em;
  margin-top: 1em;
  font-family: Montserrat, Avant Garde, Arial, sans-serif;
  color: #606060;
}
.toggle-control {
  width: 80px;
  min-width: 80px;
  margin-left: 10px;
}
.toggle-control label {
  margin: 0;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .site-footer .back-to-top {
    bottom: 7em;
  }
}
.search-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #bdbdc2;
  padding: 16px;
}
.search-tip > div {
  padding-left: 1em;
}
.lightbulb-circle-yellow {
  width: 3.9375em;
  height: 3.9375em;
  background-position: 7.8125% 52.90135%;
  min-width: 3.9375em;
}
.spinkit {
  margin: 30px auto;
  width: 100px;
  height: 100px;
  position: relative;
  top: -15px;
  text-align: center;
}
.spinner {
  -webkit-animation: sk-rotate 2s linear infinite;
  animation: sk-rotate 2s linear infinite;
}
.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #319fbe;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s ease-in-out infinite;
  animation: sk-bounce 2s ease-in-out infinite;
}
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes sk-rotate {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@-webkit-keyframes sk-bounce {
  0%,
  to {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.cts-dialog {
  background: #445159;
}
.cts-dialog .ui-widget-content {
  color: #fff;
  font-family: Noto Sans, Century Gothic, Arial, sans-serif;
  padding: 3.5em 2.2em;
  text-align: center;
}
.cts-dialog .ui-dialog-close {
  display: block;
  border: none;
  background: transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  margin: 0;
  z-index: 1;
}
.cts-dialog .ui-dialog-close .ui-icon {
  font-size: 1.0625em;
  margin: 0;
  left: 0;
  top: 0;
}
.cts-dialog .ui-dialog-close .ui-icon,
.cts-dialog .ui-dialog-close:active .ui-icon,
.cts-dialog .ui-dialog-close:focus .ui-icon,
.cts-dialog .ui-dialog-close:hover .ui-icon {
  width: 2.25em;
  height: 2.25em;
  background-position: 6.45161% 24.0932%;
}
.cts-dialog .ui-dialog-close.btn-close-top {
  top: 1em;
}
.cts-dialog .ui-dialog-close.btn-close-bottom {
  top: auto;
  bottom: 1em;
}
.cts-dialog i.warning {
  display: block;
  text-align: center;
  width: 5.4375em;
  height: 5.4375em;
  background-position: 9.61538% 70.45233%;
  font-size: 0.8276em;
  margin: 0 auto;
}
#modal-redirect.ui-dialog-content {
  padding: 1.5em 2.2em;
}
.clickable {
  cursor: pointer;
}
@media only screen and (min-width: 641px) {
  .cts-dialog .ui-dialog-close.btn-close-top {
    position: absolute;
    left: auto;
    right: 1em;
    -webkit-transform: none;
    transform: none;
  }
  .cts-dialog .ui-dialog-close.btn-close-bottom {
    display: none;
  }
}
.select2-container--nci
  .select2-selection--single
  .select2-selection__arrow:before {
  display: inline-block;
  background-image: url(/publishedcontent/images/images/design-elements/sprites/svg-sprite.__v15577802.svg);
  background-size: 12em 262.5em;
}
.select2-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
.select2-container[dir='rtl']
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
}
.select2-container .select2-search--inline {
  display: inline-block;
}
.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin-top: 5px;
  padding: 0;
}
.select2-container
  .select2-search--inline
  .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
fieldset .select2-container {
  width: 100% !important;
}
.select2-dropdown {
  background-color: #fff;
  border: 1px solid #bdbdc2;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 998;
}
.select2-results {
  display: block;
}
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-search__field::-ms-clear,
.select2-search__field::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #999;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default[dir='rtl']
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}
.select2-container--default[dir='rtl']
  .select2-selection--single
  .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single
  .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888;
  border-width: 0 4px 5px;
}
.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li {
  list-style: none;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  padding: 0 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default[dir='rtl']
  .select2-selection--multiple
  .select2-search--inline,
.select2-container--default[dir='rtl']
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--default[dir='rtl']
  .select2-selection--multiple
  .select2-selection__placeholder {
  float: right;
}
.select2-container--default[dir='rtl']
  .select2-selection--multiple
  .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir='rtl']
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid #000;
  outline: 0;
}
.select2-container--default.select2-container--disabled
  .select2-selection--multiple {
  border: 1px solid #aaa;
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled
  .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--single {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role='group'] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled='true'] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected='true'] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__group {
  padding-left: 0;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: #fff;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--nci .select2-selection--single {
  background: #e6e6e6
    url(/publishedcontent/images/images/jquery/ui-bg_glass_75_e6e6e6_1x400.__v15577802.png)
    repeat-x scroll 50% 50%;
  height: 40px;
  border-radius: 0;
  border: 1px solid #bdbdc2;
  outline: 0;
}
.select2-container--nci .select2-selection--single:focus {
  border: 1px solid #999;
}
.select2-container--nci
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 38px;
  padding-right: 38px;
}
.select2-container--nci .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
  margin-right: 10px;
}
.select2-container--nci
  .select2-selection--single
  .select2-selection__placeholder {
  color: #999;
}
.select2-container--nci .select2-selection--single .select2-selection__arrow {
  background-color: #2b7bba;
  border: none;
  border-left: 1px solid #bdbdc2;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 39px;
  height: 39px;
}
.select2-container--nci
  .select2-selection--single
  .select2-selection__arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  font-size: 0.6em;
  width: 1.25em;
  height: 0.78125em;
  background-position: 5.84795% 22.21426%;
}
.select2-container--nci .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--nci[dir='rtl']
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}
.select2-container--nci[dir='rtl']
  .select2-selection--single
  .select2-selection__arrow {
  border: none;
  border-right: 1px solid #bdbdc2;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 1px;
  right: auto;
}
.select2-container--nci.select2-container--open .select2-selection--single {
  border: 1px solid #999;
}
.select2-container--nci.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888;
  border-width: 0 4px 5px;
}
.select2-container--nci.select2-container--open.select2-container--above
  .select2-selection--single {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    color-stop(50%, #eee)
  );
  background-image: linear-gradient(180deg, #fff, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF",endColorstr="#FFEEEEEE",GradientType=0);
}
.select2-container--nci.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #eee),
    to(#fff)
  );
  background-image: linear-gradient(180deg, #eee 50%, #fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE",endColorstr="#FFFFFFFF",GradientType=0);
}
.select2-container--nci .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #bdbdc2;
  border-radius: 0;
  cursor: text;
  outline: 0;
}
.select2-container--nci .select2-selection--multiple:focus {
  border: 1px solid #999;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f3;
  color: #2e2e2e;
  display: block;
  font-family: inherit;
  list-style: outside none none;
  width: 100%;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__rendered
  li:only-child {
  display: block;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__rendered
  li:only-child
  .select2-search__field {
  width: 100% !important;
}
.select2-container--nci .select2-selection--multiple .select2-selection__clear {
  display: none;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #bdbdc2;
  border-radius: 0;
  cursor: default;
  display: inline-block;
  margin: 5px;
  padding: 0 5px;
  vertical-align: middle;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  font-weight: 700;
  margin-right: 2px;
}
.select2-container--nci
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #555;
}
.select2-container--nci[dir='rtl']
  .select2-selection--multiple
  .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--nci[dir='rtl']
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--nci.select2-container--open .select2-selection--multiple {
  border: 1px solid #999;
}
.select2-container--nci.select2-container--open.select2-container--above
  .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--nci.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--nci ul > li:before {
  content: '';
  display: none !important;
}
.select2-container--nci .select2-search {
  margin: 0.5em;
}
.select2-container--nci .select2-search--dropdown .select2-search__field {
  border: 1px solid #bdbdc2;
  outline: 0;
  margin: 0;
}
.select2-container--nci .select2-search--inline {
  float: none;
  vertical-align: middle;
}
.select2-container--nci .select2-search--inline .select2-search__field {
  height: auto !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding-left: 5px;
  background: transparent;
}
.select2-container--nci .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}
.select2-container--nci .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--nci .select2-dropdown--below {
  border-top: none;
}
.select2-container--nci .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--nci.select2-container--disabled .select2-selection {
  border: 1px solid #d3d3d3;
}
.select2-container--nci.select2-container--disabled
  .select2-selection__rendered {
  background-color: #f2f2f3;
}
.select2-container--nci .select2-results__option[role='group'] {
  padding: 0;
}
.select2-container--nci .select2-results__option[aria-disabled='true'] {
  color: grey;
}
.select2-container--nci .select2-results__option[aria-selected='true'] {
  background-color: #ddd;
}
.select2-container--nci .select2-results__option--highlighted[aria-selected] {
  background-color: #286ea7;
  color: #fff;
}
.select2-container--nci .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--nci.select2-container--open .select2-dropdown {
  border-color: #999;
}
