.cts-input {
  &[type='date'],
  &[type='datetime-local'],
  &[type='datetime'],
  &[type='email'],
  &[type='month'],
  &[type='number'],
  &[type='password'],
  &[type='search'],
  &[type='tel'],
  &[type='text'],
  &[type='time'],
  &[type='url'],
  &[type='week'] {
    background-color: white;
    margin: 0;
    &:focus {
        background-color: white;
    }
  }
}

.cts-input-group {
  + .cts-input-group {
    margin-top: 1rem;
  }
}
