@charset "utf-8";
@import "~Core/styles/variables";
@import "~Core/styles/breakpoints";

.event-location {
  > span {
    display: block;
  }
}

.event-list-item {
  h3 {
    margin-bottom: 5px;

    a {
      &:hover {
        color: $lcranberry;
        text-decoration: none;
      }
    }
  }

  h4 {
    margin-top: 0;
  }

  .event-description {
    margin-bottom: 10px;
  }
}
