@charset "utf-8";
// This contains the NCIDS Settings and required items. Nothing in this
// file should generate markup.
@forward '../cgdp-required';

// Expose USWDS variables and mixins to our imports.
@use 'uswds-core' as *;

@import '../../legacy/styles/_events.scss';

// Override wrapper styles for embedded images
// (Specifically the figure and caption/credit/enlarge styles
@import '../../legacy/transition-hacks/inner-page-embed-image-hack';
@import '../../legacy/transition-hacks/inner-page-embed-video-hack';
@import '../../legacy/transition-hacks/inner-page-embed-feature-card-hack';
@import '../../legacy/transition-hacks/inner-page-embed-entity-hack';
@import '../../legacy/transition-hacks/inner-page-embed-infographic-hack';
