.trial-type {
  p {
    margin: 0 0 0.5em;
  }
  .healthy-volunteers {
    display: flex;
    align-items: center;
    padding: 0.6em 1.5em;
    margin: 1em 0;
    border: 1px solid #bdbdc2;
    background: #f2f2f2;
    color: #606060;
  }

  .group-trial-types {
    display: flex;
    flex-wrap: wrap;

    .cts-checkbox {
      flex: 1 1 50%;
      @media only screen and (min-width: 641px) {
        flex: 1 1 34%;
      }
    }
  }
}
