.trial-type {
  .select-all {
    padding: 0 1em;
  }
  .group-trial-types {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 1em;

    .cts-checkbox {
      flex: 1 1 50%;
      @media only screen and (min-width: 641px) {
        flex: 1 1 34%;
      }
    }
  }
}
