.cts-checkbox {
  box-sizing: border-box;
  padding: 0;
  &__input {
    position: absolute;
    left: -999em;
  }
  &__label {
    cursor: pointer;
    display: inherit;
    font-weight: 500;
    margin-bottom: 0.75rem;
    padding-left: 2em;
    position: relative;
    text-indent: -2em;

    &::before {
      background: white;
      content: '\a0';
      display: inline-block;
      left: 2px;
      position: relative;
      vertical-align: middle;
      height: 1.25em;
      width: 1.25em;
      border-radius: 2px;
      box-shadow: 0 0 0 2px #71767a;
      line-height: 1.25rem;
      margin-right: 0.75rem;
    }
  }
}

.cts-checkbox__input:checked + .cts-checkbox__label::before {
  background-color: #005ea2;
  -webkit-box-shadow: 0 0 0 2px #005ea2;
  box-shadow: 0 0 0 2px #005ea2;
}

.cts-checkbox__input:checked + .cts-checkbox__label::before,
.cts-checkbox__input:checked:disabled + .cts-checkbox__label::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIxNiAxNDYiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNjguODYgMzcuOTY2bC0xMS4wOC0xMS4wOGMtMS41Mi0xLjUyLTMuMzY3LTIuMjgtNS41NC0yLjI4LTIuMTcyIDAtNC4wMi43Ni01LjU0IDIuMjhMOTMuMjU0IDgwLjQxNCA2OS4zIDU2LjM4Yy0xLjUyLTEuNTIyLTMuMzY3LTIuMjgyLTUuNTQtMi4yODItMi4xNzIgMC00LjAyLjc2LTUuNTQgMi4yOEw0Ny4xNCA2Ny40NmMtMS41MiAxLjUyMi0yLjI4IDMuMzctMi4yOCA1LjU0MiAwIDIuMTcyLjc2IDQuMDIgMi4yOCA1LjU0bDI5LjQ5MyAyOS40OTMgMTEuMDggMTEuMDhjMS41MiAxLjUyIDMuMzY4IDIuMjggNS41NCAyLjI4IDIuMTczIDAgNC4wMi0uNzYgNS41NC0yLjI4bDExLjA4Mi0xMS4wOEwxNjguODYgNDkuMDVjMS41Mi0xLjUyIDIuMjgzLTMuMzcgMi4yODMtNS41NCAwLTIuMTc0LS43Ni00LjAyLTIuMjgtNS41NHoiLz48L3N2Zz4='),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 50%;
}

.cts-checkbox__input:disabled + .cts-checkbox__label {
  color: #c9c9c9;
}

.cts-checkbox__input:focus + .cts-checkbox__label::before {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

.cts-checkbox__input:disabled + .cts-checkbox__label::before {
  background: #e6e6e6;
  -webkit-box-shadow: 0 0 0 2px #c9c9c9;
  box-shadow: 0 0 0 2px #c9c9c9;
  cursor: not-allowed;
}

@media print {
  .cts-checkbox__input:checked + .cts-checkbox__label::before,
  .cts-checkbox__input:checked:disabled + .cts-checkbox__label::before {
    background-image: none;
    background-color: white;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 216 146"><path fill="#1b1b1b" d="M168.86 37.966l-11.08-11.08c-1.52-1.52-3.367-2.28-5.54-2.28-2.172 0-4.02.76-5.54 2.28L93.254 80.414 69.3 56.38c-1.52-1.522-3.367-2.282-5.54-2.282-2.172 0-4.02.76-5.54 2.28L47.14 67.46c-1.52 1.522-2.28 3.37-2.28 5.542 0 2.172.76 4.02 2.28 5.54l29.493 29.493 11.08 11.08c1.52 1.52 3.368 2.28 5.54 2.28 2.173 0 4.02-.76 5.54-2.28l11.082-11.08L168.86 49.05c1.52-1.52 2.283-3.37 2.283-5.54 0-2.174-.76-4.02-2.28-5.54z"/></svg>');
    text-indent: 0;
  }
}
