{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    <h1>
      {{ node.label }}
    </h1>
    <div id="cgvBody">
      {{ content.body }}
      {{ content.field_selected_research }}
    </div>
  </div>

  <footer class="article-footer">
    {{ contentPageMacros.displayDates(node, content) }}
  </footer>
</article>
